In [1]:
import pandas as pd

In [2]:
import plotly.io as pio
pio.renderers.default = 'iframe'

In [12]:
import plotly.graph_objects as go

fig =go.Figure(go.Sunburst(
    labels=[ "Eve", "Cain", "Seth", "Enos", "Noam", "Abel", "Awan", "Enoch", "Azura"],
    parents=["",    "Eve",  "Eve",  "Seth", "Seth", "Eve",  "Eve",  "Awan",  "Eve" ],
    values=[  65,    14,     12,     10,     2,      6,      6,      4,       4],
    branchvalues="total",
))
fig.update_layout(margin = dict(t=0, l=0, r=0, b=0))

fig.show()

In [61]:
import plotly.graph_objects as go

fig =go.Figure(go.Sunburst(
    ids=['Comedy', 'Comedy,90s', 'Comedy,90s,Long', 'Comedy,90s,Long,Males', 'Comedy,90s,Long,Males,18-24', 'Comedy,90s,Long,Females', 'Comedy,90s,Long,Females,18-24', 'Comedy,90s,Long,Males,35-44', 'Comedy,90s,Long,Females,25-34', 'Comedy,90s,Long,Males,25-34', 'Comedy,90s,Long,Males,25-34,California', 'Comedy,Arizon', 'Comedy,Unemployed', 'Comedy,90s,KS', 'Comedy,90s,LA'],
    labels=['Comedy', '90s', 'Long', 'Males', '18-24', 'Females', '18-24', '35-44', '25-34', '25-34', 'California', 'Arizona', 'Unemployed', 'Kansas', 'LA'],
    parents=['', 'Comedy', 'Comedy,90s', 'Comedy,90s,Long', 'Comedy,90s,Long,Males', 'Comedy,90s,Long', 'Comedy,90s,Long,Females', 'Comedy,90s,Long,Males', 'Comedy,90s,Long,Females', 'Comedy,90s,Long,Males', 'Comedy,90s,Long,Males,25-34', 'Comedy', 'Comedy', 'Comedy,90s', 'Comedy,90s'],
    #values=[6031, 5907, 5903, 4238, 800, 1665, 296, 828, 549, 1514, 289, 83, 72, 38, ],
    branchvalues="total",
))
fig.update_layout(margin = dict(t=0, l=0, r=0, b=0))

fig.show()

In [5]:
import plotly.graph_objects as go

fig =go.Figure(go.Sunburst(
    ids=['Comedy', 'Comedy,90s', 'Comedy,90s,Long', 'Comedy,90s,Long,Males', 'Comedy,90s,Long,Males,18-24', 'Comedy,90s,Long,Females', 'Comedy,90s,Long,Females,18-24', 'Comedy,90s,Long,Males,35-44', 'Comedy,90s,Long,Females,25-34', 'Comedy,90s,Long,Males,25-34', 'Comedy,90s,Long,Males,25-34,California', 'Comedy,Arizon', 'Comedy,Unemployed', 'Comedy,90s,KS', 'Comedy,90s,LA'],
    labels=['Comedy', '90s', 'Long', 'Males', '18-24', 'Females', '18-24', '35-44', '25-34', '25-34', 'California', 'Arizona', 'Unemployed', 'Kansas', 'LA'],
    parents=['', 'Comedy', 'Comedy,90s', 'Comedy,90s,Long', 'Comedy,90s,Long,Males', 'Comedy,90s,Long', 'Comedy,90s,Long,Females', 'Comedy,90s,Long,Males', 'Comedy,90s,Long,Females', 'Comedy,90s,Long,Males', 'Comedy,90s,Long,Males,25-34', 'Comedy', 'Comedy', 'Comedy,90s', 'Comedy,90s'],
    #values=[6031, 5907, 5903, 4238, 800, 1665, 296, 828, 549, 1514, 289, 83, 72, 38, ],
    branchvalues="total",
))
fig.update_layout(margin = dict(t=0, l=0, r=0, b=0))

fig.show()

In [56]:
import plotly.graph_objects as go

color_discrete_sequence = ['', '#FFAA00', '#2D5F91','#819FBD','#819FBD','#91D4D2', '#96BEE6', '#C0D8F0','#E8655F','#F1A39F','#48B7B4']
color_discrete_sequence = [''] + list(sns.color_palette().as_hex())

fig =go.Figure(go.Sunburst(
    ids=['Comedy', 'Comedy,90s', 'Comedy,90s,Long', 'Comedy,90s,Long,Males', 'Comedy,90s,Long,Males,18-24', 'Comedy,90s,Long,Females'],
    labels=['Comedy', '90s', 'Long', 'Males', '18-24', 'Females'],
    parents=['', 'Comedy', 'Comedy,90s', 'Comedy,90s,Long', 'Comedy,90s,Long,Males', 'Comedy,90s,Long'],
    #values=[6031, 5907, 5903, 4238, 800, 1665, 296, 828, 549, 1514, 289, 83, 72, 38, ],
    marker=dict(colors=color_discrete_sequence)
))
fig.update_layout(margin = dict(t=0, l=0, r=0, b=0))

fig.show()

In [64]:
ids = ['Comedy', 'Comedy,90s', 'Comedy,AZ', 'Comedy,unemployed', 'Comedy,90s,LA', 'Comedy,90s,KS', 'Comedy,90s,Long', 'Comedy,90s,Long,F', 'Comedy,90s,Long,M', 'Comedy,90s,Long,LA', 'Comedy,90s,Long,M,35-44', 'Comedy,90s,Long,M,25-34', 'Comedy,90s,Long,M,18-24', 'Comedy,90s,Long,M,18-24,other', 'Comedy,90s,Long,M,18-24,writer', 'Comedy,90s,Long,M,18-24,college-grad student', 'Comedy,90s,Long,F,25-34', 'Comedy,90s,Long,F,18-24', 'Comedy,90s,Long,F,NJ', 'Comedy,90s,Long,F,18-24,MN', 'Comedy,90s,Long,F,18-24,MI', 'Comedy,90s,Long,F,18-24,college-grad student', 'Comedy,90s,Long,M,35-44,executive-managerial', 'Comedy,90s,Long,M,35-44,technician-engineer', 'Comedy,90s,Long,M,35-44,academic-educator', 'Comedy,90s,Long,F,25-34,CA', 'Comedy,90s,Long,F,25-34,TX', 'Comedy,90s,Long,F,25-34,NY', 'Comedy,90s,Long,M,25-34,MN', 'Comedy,90s,Long,M,25-34,CA', 'Comedy,90s,Long,M,25-34,NY', 'Comedy,90s,Long,M,25-34,CA,writer', 'Comedy,90s,Long,M,25-34,CA,technician-engineer', 'Comedy,90s,Long,M,25-34,CA,other', 'Comedy,90s,Long,M,18-24,college-grad student,MN', 'Comedy,90s,Long,M,18-24,college-grad student,NY', 'Comedy,90s,Long,M,18-24,college-grad student,MA', 'Comedy,unemployed,18-24', 'Comedy,unemployed,2000s', 'Comedy,unemployed,Long', 'Comedy,unemployed,Long,18-24', 'Comedy,unemployed,Long,90s', 'Comedy,unemployed,Long,2000s', 'Comedy,AZ,90s', 'Comedy,AZ,M', 'Comedy,AZ,Long', 'Comedy,AZ,M,25-34', 'Comedy,AZ,M,2000s', 'Comedy,AZ,M,Long', 'Comedy,AZ,M,Long,90s', 'Comedy,AZ,M,Long,25-34', 'Comedy,AZ,M,Long,2000s', 'Comedy,AZ,90s,M', 'Comedy,AZ,90s,Long', 'Comedy,AZ,90s,25-34', 'Comedy,AZ,Long,M', 'Comedy,AZ,Long,2000s', 'Comedy,AZ,Long,90s', 'Comedy,AZ,Long,M,90s', 'Comedy,AZ,Long,M,2000s', 'Comedy,AZ,Long,M,25-34', 'Comedy,AZ,90s,M,25-34', 'Comedy,AZ,90s,M,Long', 'Comedy,unemployed,Long,90s,18-24', 'Comedy,unemployed,Long,90s,M', 'Comedy,AZ,90s,Long,25-34', 'Comedy,AZ,90s,Long,M', 'Comedy,AZ,Long,90s,M', 'Comedy,AZ,Long,90s,25-34', 'Comedy,unemployed,18-24,Long', 'Comedy,unemployed,18-24,M', 'Comedy,unemployed,18-24,90s', 'Comedy,AZ,90s,25-34,Long', 'Comedy,AZ,90s,25-34,M', 'Comedy,unemployed,2000s,M', 'Comedy,unemployed,2000s,Long', 'Comedy,90s,KS,M', 'Comedy,90s,KS,Long', 'Comedy,unemployed,18-24,90s,M', 'Comedy,unemployed,18-24,90s,Long', 'Comedy,unemployed,Long,18-24,M', 'Comedy,unemployed,Long,18-24,90s', 'Comedy,unemployed,18-24,Long,90s', 'Comedy,unemployed,18-24,Long,M', 'Comedy,90s,LA,M', 'Comedy,90s,LA,Long', 'Comedy,unemployed,2000s,M,Long', 'Comedy,AZ,M,2000s,Long', 'Comedy,unemployed,18-24,90s,M,Long']
labels = ['Comedy', '90s', 'AZ', 'unemployed', 'LA', 'KS', 'Long', 'F', 'M', 'LA', '35-44', '25-34', '18-24', 'other', 'writer', 'college-grad student', '25-34', '18-24', 'NJ', 'MN', 'MI', 'college-grad student', 'executive-managerial', 'technician-engineer', 'academic-educator', 'CA', 'TX', 'NY', 'MN', 'CA', 'NY', 'writer', 'technician-engineer', 'other', 'MN', 'NY', 'MA', '18-24', '2000s', 'Long', '18-24', '90s', '2000s', '90s', 'M', 'Long', '25-34', '2000s', 'Long', '90s', '25-34', '2000s', 'M', 'Long', '25-34', 'M', '2000s', '90s', '90s', '2000s', '25-34', '25-34', 'Long', '18-24', 'M', '25-34', 'M', 'M', '25-34', 'Long', 'M', '90s', 'Long', 'M', 'M', 'Long', 'M', 'Long', 'M', 'Long', 'M', '90s', '90s', 'M', 'M', 'Long', 'Long', 'Long', 'Long']
parents = ['', 'Comedy', 'Comedy', 'Comedy', 'Comedy,90s', 'Comedy,90s', 'Comedy,90s', 'Comedy,90s,Long', 'Comedy,90s,Long', 'Comedy,90s,Long', 'Comedy,90s,Long,M', 'Comedy,90s,Long,M', 'Comedy,90s,Long,M', 'Comedy,90s,Long,M,18-24', 'Comedy,90s,Long,M,18-24', 'Comedy,90s,Long,M,18-24', 'Comedy,90s,Long,F', 'Comedy,90s,Long,F', 'Comedy,90s,Long,F', 'Comedy,90s,Long,F,18-24', 'Comedy,90s,Long,F,18-24', 'Comedy,90s,Long,F,18-24', 'Comedy,90s,Long,M,35-44', 'Comedy,90s,Long,M,35-44', 'Comedy,90s,Long,M,35-44', 'Comedy,90s,Long,F,25-34', 'Comedy,90s,Long,F,25-34', 'Comedy,90s,Long,F,25-34', 'Comedy,90s,Long,M,25-34', 'Comedy,90s,Long,M,25-34', 'Comedy,90s,Long,M,25-34', 'Comedy,90s,Long,M,25-34,CA', 'Comedy,90s,Long,M,25-34,CA', 'Comedy,90s,Long,M,25-34,CA', 'Comedy,90s,Long,M,18-24,college-grad student', 'Comedy,90s,Long,M,18-24,college-grad student', 'Comedy,90s,Long,M,18-24,college-grad student', 'Comedy,unemployed', 'Comedy,unemployed', 'Comedy,unemployed', 'Comedy,unemployed,Long', 'Comedy,unemployed,Long', 'Comedy,unemployed,Long', 'Comedy,AZ', 'Comedy,AZ', 'Comedy,AZ', 'Comedy,AZ,M', 'Comedy,AZ,M', 'Comedy,AZ,M', 'Comedy,AZ,M,Long', 'Comedy,AZ,M,Long', 'Comedy,AZ,M,Long', 'Comedy,AZ,90s', 'Comedy,AZ,90s', 'Comedy,AZ,90s', 'Comedy,AZ,Long', 'Comedy,AZ,Long', 'Comedy,AZ,Long', 'Comedy,AZ,Long,M', 'Comedy,AZ,Long,M', 'Comedy,AZ,Long,M', 'Comedy,AZ,90s,M', 'Comedy,AZ,90s,M', 'Comedy,unemployed,Long,90s', 'Comedy,unemployed,Long,90s', 'Comedy,AZ,90s,Long', 'Comedy,AZ,90s,Long', 'Comedy,AZ,Long,90s', 'Comedy,AZ,Long,90s', 'Comedy,unemployed,18-24', 'Comedy,unemployed,18-24', 'Comedy,unemployed,18-24', 'Comedy,AZ,90s,25-34', 'Comedy,AZ,90s,25-34', 'Comedy,unemployed,2000s', 'Comedy,unemployed,2000s', 'Comedy,90s,KS', 'Comedy,90s,KS', 'Comedy,unemployed,18-24,90s', 'Comedy,unemployed,18-24,90s', 'Comedy,unemployed,Long,18-24', 'Comedy,unemployed,Long,18-24', 'Comedy,unemployed,18-24,Long', 'Comedy,unemployed,18-24,Long', 'Comedy,90s,LA', 'Comedy,90s,LA', 'Comedy,unemployed,2000s,M', 'Comedy,AZ,M,2000s', 'Comedy,unemployed,18-24,90s,M']

import plotly.graph_objects as go

color_discrete_sequence = ['', '#FFAA00', '#2D5F91','#819FBD','#819FBD','#91D4D2', '#96BEE6', '#C0D8F0','#E8655F','#F1A39F','#48B7B4']
color_discrete_sequence = [''] + list(sns.color_palette().as_hex())

fig =go.Figure(go.Sunburst(
    ids=ids,
    labels=labels,
    parents=parents,
    #values=[6031, 5907, 5903, 4238, 800, 1665, 296, 828, 549, 1514, 289, 83, 72, 38, ],
    # marker=dict(colors=color_discrete_sequence)
))
fig.update_layout(margin = dict(t=0, l=0, r=0, b=0))

fig.show()

In [65]:
ids = ['Comedy', 'Comedy,Short', 'Comedy,30s', 'Comedy,30s,retired', 'Comedy,30s,PA', 'Comedy,30s,Long', 'Comedy,30s,Long,retired', 'Comedy,30s,Long,M', 'Comedy,30s,Long,F', 'Comedy,Short,TX', 'Comedy,Short,NC', 'Comedy,Short,90s', 'Comedy,Short,90s,M', 'Comedy,Short,90s,PA', 'Comedy,Short,90s,F', 'Comedy,Short,90s,M,35-44', 'Comedy,Short,90s,M,18-24', 'Comedy,Short,90s,M,25-34', 'Comedy,Short,90s,F,18-24', 'Comedy,Short,90s,F,25-34', 'Comedy,Short,90s,F,35-44', 'Comedy,30s,Long,M,35-44', 'Comedy,30s,Long,M,50-55', 'Comedy,30s,Long,M,45-49', 'Comedy,30s,Long,F,25-34', 'Comedy,30s,Long,F,>56', 'Comedy,30s,Long,F,50-55', 'Comedy,Short,90s,M,25-34,CA', 'Comedy,Short,90s,M,25-34,MA', 'Comedy,Short,90s,M,25-34,MN', 'Comedy,30s,Long,M,35-44,executive-managerial', 'Comedy,30s,Long,M,35-44,CA', 'Comedy,30s,Long,M,35-44,NY', 'Comedy,Short,90s,M,18-24,college-grad student', 'Comedy,Short,90s,M,18-24,CA', 'Comedy,Short,TX,M', 'Comedy,Short,TX,90s', 'Comedy,30s,retired,>56', 'Comedy,30s,retired,Long', 'Comedy,30s,retired,Long,>56', 'Comedy,30s,retired,Long,M', 'Comedy,30s,PA,M', 'Comedy,30s,PA,Long', 'Comedy,30s,PA,M,Long', 'Comedy,30s,retired,>56,Long', 'Comedy,Short,NC,90s', 'Comedy,Short,TX,M,90s', 'Comedy,30s,PA,Long,M', 'Comedy,30s,Long,retired,>56', 'Comedy,Short,TX,90s,M', 'Comedy,Short,90s,F,18-24,college-grad student', 'Comedy,Short,90s,F,25-34,CA', 'Comedy,30s,Long,F,25-34,CA', 'Comedy,Short,90s,M,35-44,technician-engineer']
labels = ['Comedy', 'Short', '30s', 'retired', 'PA', 'Long', 'retired', 'M', 'F', 'TX', 'NC', '90s', 'M', 'PA', 'F', '35-44', '18-24', '25-34', '18-24', '25-34', '35-44', '35-44', '50-55', '45-49', '25-34', '>56', '50-55', 'CA', 'MA', 'MN', 'executive-managerial', 'CA', 'NY', 'college-grad student', 'CA', 'M', '90s', '>56', 'Long', '>56', 'M', 'M', 'Long', 'Long', 'Long', '90s', '90s', 'M', '>56', 'M', 'college-grad student', 'CA', 'CA', 'technician-engineer']
parents = ['', 'Comedy', 'Comedy', 'Comedy,30s', 'Comedy,30s', 'Comedy,30s', 'Comedy,30s,Long', 'Comedy,30s,Long', 'Comedy,30s,Long', 'Comedy,Short', 'Comedy,Short', 'Comedy,Short', 'Comedy,Short,90s', 'Comedy,Short,90s', 'Comedy,Short,90s', 'Comedy,Short,90s,M', 'Comedy,Short,90s,M', 'Comedy,Short,90s,M', 'Comedy,Short,90s,F', 'Comedy,Short,90s,F', 'Comedy,Short,90s,F', 'Comedy,30s,Long,M', 'Comedy,30s,Long,M', 'Comedy,30s,Long,M', 'Comedy,30s,Long,F', 'Comedy,30s,Long,F', 'Comedy,30s,Long,F', 'Comedy,Short,90s,M,25-34', 'Comedy,Short,90s,M,25-34', 'Comedy,Short,90s,M,25-34', 'Comedy,30s,Long,M,35-44', 'Comedy,30s,Long,M,35-44', 'Comedy,30s,Long,M,35-44', 'Comedy,Short,90s,M,18-24', 'Comedy,Short,90s,M,18-24', 'Comedy,Short,TX', 'Comedy,Short,TX', 'Comedy,30s,retired', 'Comedy,30s,retired', 'Comedy,30s,retired,Long', 'Comedy,30s,retired,Long', 'Comedy,30s,PA', 'Comedy,30s,PA', 'Comedy,30s,PA,M', 'Comedy,30s,retired,>56', 'Comedy,Short,NC', 'Comedy,Short,TX,M', 'Comedy,30s,PA,Long', 'Comedy,30s,Long,retired', 'Comedy,Short,TX,90s', 'Comedy,Short,90s,F,18-24', 'Comedy,Short,90s,F,25-34', 'Comedy,30s,Long,F,25-34', 'Comedy,Short,90s,M,35-44']

import plotly.graph_objects as go

color_discrete_sequence = ['', '#FFAA00', '#2D5F91','#819FBD','#819FBD','#91D4D2', '#96BEE6', '#C0D8F0','#E8655F','#F1A39F','#48B7B4']
color_discrete_sequence = [''] + list(sns.color_palette().as_hex())

fig =go.Figure(go.Sunburst(
    ids=ids,
    labels=labels,
    parents=parents,
    #values=[6031, 5907, 5903, 4238, 800, 1665, 296, 828, 549, 1514, 289, 83, 72, 38, ],
    # marker=dict(colors=color_discrete_sequence)
))
fig.update_layout(margin = dict(t=0, l=0, r=0, b=0))

fig.show()

In [67]:
ids = ['H', 'Comedy', 'Comedy,Short', 'Comedy,30s', 'Comedy,30s,retired', 'Comedy,30s,PA', 'Comedy,30s,Long', 'Comedy,30s,Long,retired', 'Comedy,30s,Long,M', 'Comedy,30s,Long,F', 'Comedy,Short,TX', 'Comedy,Short,NC', 'Comedy,Short,90s', 'Comedy,Short,90s,M', 'Comedy,Short,90s,PA', 'Comedy,Short,90s,F', 'Comedy,Short,90s,M,35-44', 'Comedy,Short,90s,M,18-24', 'Comedy,Short,90s,M,25-34', 'Comedy,Short,90s,F,18-24', 'Comedy,Short,90s,F,25-34', 'Comedy,Short,90s,F,35-44', 'Comedy,30s,Long,M,35-44', 'Comedy,30s,Long,M,50-55', 'Comedy,30s,Long,M,45-49', 'Comedy,30s,Long,F,25-34', 'Comedy,30s,Long,F,>56', 'Comedy,30s,Long,F,50-55', 'Comedy,Short,90s,M,25-34,CA', 'Comedy,Short,90s,M,25-34,MA', 'Comedy,Short,90s,M,25-34,MN', 'Comedy,30s,Long,M,35-44,executive-managerial', 'Comedy,30s,Long,M,35-44,CA', 'Comedy,30s,Long,M,35-44,NY', 'Comedy,Short,90s,M,18-24,college-grad student', 'Comedy,Short,90s,M,18-24,CA', 'Comedy,Short,TX,M', 'Comedy,Short,TX,90s', 'Comedy,30s,retired,>56', 'Comedy,30s,retired,Long', 'Comedy,30s,retired,Long,>56', 'Comedy,30s,retired,Long,M', 'Comedy,30s,PA,M', 'Comedy,30s,PA,Long', 'Comedy,30s,PA,M,Long', 'Comedy,30s,retired,>56,Long', 'Comedy,Short,NC,90s', 'Comedy,Short,TX,M,90s', 'Comedy,30s,PA,Long,M', 'Comedy,30s,Long,retired,>56', 'Comedy,Short,TX,90s,M', 'Comedy,Short,90s,F,18-24,college-grad student', 'Comedy,Short,90s,F,25-34,CA', 'Comedy,30s,Long,F,25-34,CA', 'Comedy,Short,90s,M,35-44,technician-engineer']
labels = ['μ > 4', 'Comedy', 'Short', '30s', 'retired', 'PA', 'Long', 'retired', 'M', 'F', 'TX', 'NC', '90s', 'M', 'PA', 'F', '35-44', '18-24', '25-34', '18-24', '25-34', '35-44', '35-44', '50-55', '45-49', '25-34', '>56', '50-55', 'CA', 'MA', 'MN', 'executive-managerial', 'CA', 'NY', 'college-grad student', 'CA', 'M', '90s', '>56', 'Long', '>56', 'M', 'M', 'Long', 'Long', 'Long', '90s', '90s', 'M', '>56', 'M', 'college-grad student', 'CA', 'CA', 'technician-engineer']
parents = ['', 'H', 'Comedy', 'Comedy', 'Comedy,30s', 'Comedy,30s', 'Comedy,30s', 'Comedy,30s,Long', 'Comedy,30s,Long', 'Comedy,30s,Long', 'Comedy,Short', 'Comedy,Short', 'Comedy,Short', 'Comedy,Short,90s', 'Comedy,Short,90s', 'Comedy,Short,90s', 'Comedy,Short,90s,M', 'Comedy,Short,90s,M', 'Comedy,Short,90s,M', 'Comedy,Short,90s,F', 'Comedy,Short,90s,F', 'Comedy,Short,90s,F', 'Comedy,30s,Long,M', 'Comedy,30s,Long,M', 'Comedy,30s,Long,M', 'Comedy,30s,Long,F', 'Comedy,30s,Long,F', 'Comedy,30s,Long,F', 'Comedy,Short,90s,M,25-34', 'Comedy,Short,90s,M,25-34', 'Comedy,Short,90s,M,25-34', 'Comedy,30s,Long,M,35-44', 'Comedy,30s,Long,M,35-44', 'Comedy,30s,Long,M,35-44', 'Comedy,Short,90s,M,18-24', 'Comedy,Short,90s,M,18-24', 'Comedy,Short,TX', 'Comedy,Short,TX', 'Comedy,30s,retired', 'Comedy,30s,retired', 'Comedy,30s,retired,Long', 'Comedy,30s,retired,Long', 'Comedy,30s,PA', 'Comedy,30s,PA', 'Comedy,30s,PA,M', 'Comedy,30s,retired,>56', 'Comedy,Short,NC', 'Comedy,Short,TX,M', 'Comedy,30s,PA,Long', 'Comedy,30s,Long,retired', 'Comedy,Short,TX,90s', 'Comedy,Short,90s,F,18-24', 'Comedy,Short,90s,F,25-34', 'Comedy,30s,Long,F,25-34', 'Comedy,Short,90s,M,35-44']

import plotly.graph_objects as go

color_discrete_sequence = ['', '#FFAA00', '#2D5F91','#819FBD','#819FBD','#91D4D2', '#96BEE6', '#C0D8F0','#E8655F','#F1A39F','#48B7B4']
color_discrete_sequence = [''] + list(sns.color_palette().as_hex())

fig =go.Figure(go.Sunburst(
    ids=ids,
    labels=labels,
    parents=parents,
    #values=[6031, 5907, 5903, 4238, 800, 1665, 296, 828, 549, 1514, 289, 83, 72, 38, ],
    # marker=dict(colors=color_discrete_sequence)
))
fig.update_layout(margin = dict(t=0, l=0, r=0, b=0))

fig.show()

In [104]:
ids = ['H', 'Comedy', 'Comedy,30s', 'Comedy,Short', 'Comedy,30s,PA', 'Comedy,30s,Long', 'Comedy,30s,clerical-admin', 'Comedy,30s,Long,F', 'Comedy,30s,Long,M', 'Comedy,30s,Long,retired', 'Comedy,Short,OR', 'Comedy,Short,NC', 'Comedy,Short,90s', 'Comedy,Short,90s,PA', 'Comedy,Short,90s,M', 'Comedy,Short,90s,F', 'Comedy,Short,90s,M,25-34', 'Comedy,Short,90s,M,18-24', 'Comedy,Short,90s,M,35-44', 'Comedy,Short,90s,F,35-44', 'Comedy,Short,90s,F,18-24', 'Comedy,Short,90s,F,25-34', 'Comedy,30s,Long,M,45-49', 'Comedy,30s,Long,M,50-55', 'Comedy,30s,Long,M,35-44', 'Comedy,30s,Long,F,>56', 'Comedy,30s,Long,F,25-34', 'Comedy,30s,Long,F,50-55', 'Comedy,Short,90s,M,25-34,CA', 'Comedy,Short,90s,M,25-34,MA', 'Comedy,Short,90s,M,25-34,MN', 'Comedy,30s,Long,M,35-44,CA', 'Comedy,30s,Long,M,35-44,executive-managerial', 'Comedy,30s,Long,M,35-44,NY', 'Comedy,Short,90s,M,18-24,college-grad student', 'Comedy,Short,90s,M,18-24,CA', 'Comedy,30s,clerical-admin,Long', 'Comedy,30s,clerical-admin,F', 'Comedy,Short,OR,M', 'Comedy,Short,OR,90s', 'Comedy,30s,PA,M', 'Comedy,30s,PA,Long', 'Comedy,30s,PA,M,Long', 'Comedy,30s,clerical-admin,F,Long', 'Comedy,Short,NC,90s', 'Comedy,Short,OR,M,90s', 'Comedy,30s,PA,Long,M', 'Comedy,30s,Long,retired,>56', 'Comedy,Short,OR,90s,M', 'Comedy,Short,90s,F,18-24,college-grad student', 'Comedy,30s,clerical-admin,Long,F', 'Comedy,Short,90s,F,25-34,CA', 'Comedy,30s,Long,F,25-34,CA', 'Comedy,Short,90s,M,35-44,technician-engineer']
labels = ['μ > 4', 'Comedy', '30s', 'Short', 'PA', 'Long', 'clerical-admin', 'F', 'M', 'retired', 'OR', 'NC', '90s', 'PA', 'M', 'F', '25-34', '18-24', '35-44', '35-44', '18-24', '25-34', '45-49', '50-55', '35-44', '>56', '25-34', '50-55', 'CA', 'MA', 'MN', 'CA', 'executive-managerial', 'NY', 'college-grad student', 'CA', 'Long', 'F', 'M', '90s', 'M', 'Long', 'Long', 'Long', '90s', '90s', 'M', '>56', 'M', 'college-grad student', 'F', 'CA', 'CA', 'technician-engineer']
color_sequence = ['', '#636EFA', '#00CC96', '#EF553B', '#FF6692', '#EF553B', '#19D3F3', '#AB63FA', '#AB63FA', '#19D3F3', '#FF6692', '#FF6692', '#00CC96', '#FF6692', '#AB63FA', '#AB63FA', '#FFA15A', '#FFA15A', '#FFA15A', '#FFA15A', '#FFA15A', '#FFA15A', '#FFA15A', '#FFA15A', '#FFA15A', '#FFA15A', '#FFA15A', '#FFA15A', '#FF6692', '#FF6692', '#FF6692', '#FF6692', '#19D3F3', '#FF6692', '#19D3F3', '#FF6692', '#EF553B', '#AB63FA', '#AB63FA', '#00CC96', '#AB63FA', '#EF553B', '#EF553B', '#EF553B', '#00CC96', '#00CC96', '#AB63FA', '#FFA15A', '#AB63FA', '#19D3F3', '#AB63FA', '#FF6692', '#FF6692', '#19D3F3']
parents = ['', 'H', 'Comedy', 'Comedy', 'Comedy,30s', 'Comedy,30s', 'Comedy,30s', 'Comedy,30s,Long', 'Comedy,30s,Long', 'Comedy,30s,Long', 'Comedy,Short', 'Comedy,Short', 'Comedy,Short', 'Comedy,Short,90s', 'Comedy,Short,90s', 'Comedy,Short,90s', 'Comedy,Short,90s,M', 'Comedy,Short,90s,M', 'Comedy,Short,90s,M', 'Comedy,Short,90s,F', 'Comedy,Short,90s,F', 'Comedy,Short,90s,F', 'Comedy,30s,Long,M', 'Comedy,30s,Long,M', 'Comedy,30s,Long,M', 'Comedy,30s,Long,F', 'Comedy,30s,Long,F', 'Comedy,30s,Long,F', 'Comedy,Short,90s,M,25-34', 'Comedy,Short,90s,M,25-34', 'Comedy,Short,90s,M,25-34', 'Comedy,30s,Long,M,35-44', 'Comedy,30s,Long,M,35-44', 'Comedy,30s,Long,M,35-44', 'Comedy,Short,90s,M,18-24', 'Comedy,Short,90s,M,18-24', 'Comedy,30s,clerical-admin', 'Comedy,30s,clerical-admin', 'Comedy,Short,OR', 'Comedy,Short,OR', 'Comedy,30s,PA', 'Comedy,30s,PA', 'Comedy,30s,PA,M', 'Comedy,30s,clerical-admin,F', 'Comedy,Short,NC', 'Comedy,Short,OR,M', 'Comedy,30s,PA,Long', 'Comedy,30s,Long,retired', 'Comedy,Short,OR,90s', 'Comedy,Short,90s,F,18-24', 'Comedy,30s,clerical-admin,Long', 'Comedy,Short,90s,F,25-34', 'Comedy,30s,Long,F,25-34', 'Comedy,Short,90s,M,35-44']

import plotly.graph_objects as go

color_discrete_sequence = ['', '#FFAA00', '#2D5F91','#819FBD','#819FBD','#91D4D2', '#96BEE6', '#C0D8F0','#E8655F','#F1A39F','#48B7B4']
color_discrete_sequence = [''] + list(sns.color_palette().as_hex())

fig =go.Figure(go.Sunburst(
    ids=ids,
    labels=labels,
    parents=parents,
    #values=[6031, 5907, 5903, 4238, 800, 1665, 296, 828, 549, 1514, 289, 83, 72, 38, ],
    marker=dict(colors=color_sequence),
))
fig.update_layout(margin=dict(t=0, l=0, r=0, b=0))
fig.update_traces(leaf=dict(opacity = 1))




fig.show()

In [95]:
fig = go.Figure()

fig.add_trace(go.Scatter(
    x=[1, 2, 3, 4, 5],
    y=[1, 2, 3, 4, 5],
    name="Genre"
))

fig.add_trace(go.Scatter(
    x=[1, 2, 3, 4, 5],
    y=[5, 4, 3, 2, 1],
    name="Runtime minutes"
))

fig.add_trace(go.Scatter(
    x=[1, 2, 3, 4, 5],
    y=[5, 4, 3, 2, 1],
    name="Year"
))

fig.add_trace(go.Scatter(
    x=[1, 2, 3, 4, 5],
    y=[5, 4, 3, 2, 1],
    name="Gender"
))

fig.add_trace(go.Scatter(
    x=[1, 2, 3, 4, 5],
    y=[5, 4, 3, 2, 1],
    name="Age"
))

fig.add_trace(go.Scatter(
    x=[1, 2, 3, 4, 5],
    y=[5, 4, 3, 2, 1],
    name="Occupation"
))

fig.add_trace(go.Scatter(
    x=[1, 2, 3, 4, 5],
    y=[5, 4, 3, 2, 1],
    name="Location"
))

fig.update_layout(legend_title_text='Attribute')
fig.show()

In [72]:
import plotly
plotly.colors.qualitative.Plotly

['#636EFA',
 '#EF553B',
 '#00CC96',
 '#AB63FA',
 '#FFA15A',
 '#19D3F3',
 '#FF6692',
 '#B6E880',
 '#FF97FF',
 '#FECB52']

In [49]:
import seaborn as sns
sns.color_palette()

[(0.12156862745098039, 0.4666666666666667, 0.7058823529411765),
 (1.0, 0.4980392156862745, 0.054901960784313725),
 (0.17254901960784313, 0.6274509803921569, 0.17254901960784313),
 (0.8392156862745098, 0.15294117647058825, 0.1568627450980392),
 (0.5803921568627451, 0.403921568627451, 0.7411764705882353),
 (0.5490196078431373, 0.33725490196078434, 0.29411764705882354),
 (0.8901960784313725, 0.4666666666666667, 0.7607843137254902),
 (0.4980392156862745, 0.4980392156862745, 0.4980392156862745),
 (0.7372549019607844, 0.7411764705882353, 0.13333333333333333),
 (0.09019607843137255, 0.7450980392156863, 0.8117647058823529)]

In [53]:
list(sns.color_palette().as_hex())

['#1f77b4',
 '#ff7f0e',
 '#2ca02c',
 '#d62728',
 '#9467bd',
 '#8c564b',
 '#e377c2',
 '#7f7f7f',
 '#bcbd22',
 '#17becf']

In [27]:
import plotly.graph_objects as go

fig =go.Figure(go.Sunburst(
    ids=['Comedy'],
    labels=['Comedy'],
    parents=[''],
    #values=[6031, 5907, 5903, 4238, 800, 1665, 296, 828, 549, 1514, 289, 83, 72, 38, ],
    branchvalues="total",
))
fig.update_layout(margin = dict(t=0, l=0, r=0, b=0))
fig.update_traces(
    marker_colors=[
        ['red']
    ],
    leaf_opacity=1,
)

fig.show()

In [43]:
import plotly.graph_objects as go

fig =go.Figure(go.Sunburst(
    ids=['A', 'B', 'C'],
    labels=['A', 'B', 'C'],
    parents=['', 'A', 'A'],
    values=[100, 80, 20],
    branchvalues="total",
))
fig.update_layout(margin = dict(t=0, l=0, r=0, b=0))

fig.show()

In [34]:
import plotly.graph_objects as go

fig =go.Figure(go.Sunburst(
 ids=[
    "North America", "Europe", "Australia", "North America - Football", "Soccer",
    "North America - Rugby", "Europe - Football", "Rugby",
    "Europe - American Football","Australia - Football", "Association",
    "Australian Rules", "Autstralia - American Football", "Australia - Rugby",
    "Rugby League", "Rugby Union"
  ],
  labels= [
    "North<br>America", "Europe", "Australia", "Football", "Soccer", "Rugby",
    "Football", "Rugby", "American<br>Football", "Football", "Association",
    "Australian<br>Rules", "American<br>Football", "Rugby", "Rugby<br>League",
    "Rugby<br>Union"
  ],
  parents=[
    "", "", "", "North America", "North America", "North America", "Europe",
    "Europe", "Europe","Australia", "Australia - Football", "Australia - Football",
    "Australia - Football", "Australia - Football", "Australia - Rugby",
    "Australia - Rugby"
  ],
    values=[i for i in range(16, 0, -1)]
))
fig.update_layout(margin = dict(t=0, l=0, r=0, b=0))

fig.show()

In [31]:
len([
    "", "", "", "North America", "North America", "North America", "Europe",
    "Europe", "Europe","Australia", "Australia - Football", "Australia - Football",
    "Australia - Football", "Australia - Football", "Australia - Rugby",
    "Australia - Rugby"
  ])

16

In [33]:
[i for i in range(16, 0, -1)]

[16, 15, 14, 13, 12, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [4]:
df

     total_bill   tip     sex smoker   day    time  size
0         16.99  1.01  Female     No   Sun  Dinner     2
1         10.34  1.66    Male     No   Sun  Dinner     3
2         21.01  3.50    Male     No   Sun  Dinner     3
3         23.68  3.31    Male     No   Sun  Dinner     2
4         24.59  3.61  Female     No   Sun  Dinner     4
..          ...   ...     ...    ...   ...     ...   ...
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

[244 rows x 7 columns]