In [2]:
import pandas as pd

In [3]:
import plotly.io as pio
pio.renderers.default = 'iframe'
import plotly.graph_objects as go

In [4]:
from PIL import ImageColor

def hex_to_rgba(hex, opacity):
    r, g, b = ImageColor.getcolor(hex, 'RGB')
    return f'rgba({r}, {g}, {b}, {opacity})'
    
def get_opacity(user_count):
    max_opacity = 1
    min_opacity = 0.15
    total_users = 6040
    opacity_step = (max_opacity - min_opacity) / total_users
    return user_count * opacity_step + min_opacity

In [5]:
# MovieLens

ids = ['Comedy', 'Comedy,Short', 'Comedy,30s', 'Comedy,30s,PA', 'Comedy,30s,retired', 'Comedy,30s,Long', 'Comedy,30s,Long,M', 'Comedy,30s,Long,F', 'Comedy,30s,Long,sales-marketing', 'Comedy,Short,NC', 'Comedy,Short,TX', 'Comedy,Short,90s', 'Comedy,Short,90s,M', 'Comedy,Short,90s,PA', 'Comedy,Short,90s,F', 'Comedy,Short,90s,M,25-34', 'Comedy,Short,90s,M,18-24', 'Comedy,Short,90s,M,35-44', 'Comedy,Short,90s,F,25-34', 'Comedy,Short,90s,F,35-44', 'Comedy,Short,90s,F,18-24', 'Comedy,30s,Long,M,50-55', 'Comedy,30s,Long,M,35-44', 'Comedy,30s,Long,M,45-49', 'Comedy,30s,Long,F,>56', 'Comedy,30s,Long,F,25-34', 'Comedy,30s,Long,F,50-55', 'Comedy,Short,90s,M,25-34,MN', 'Comedy,Short,90s,M,25-34,CA', 'Comedy,Short,90s,M,25-34,MA', 'Comedy,30s,Long,M,35-44,executive-managerial', 'Comedy,30s,Long,M,35-44,NY', 'Comedy,30s,Long,M,35-44,CA', 'Comedy,Short,90s,M,18-24,CA', 'Comedy,Short,90s,M,18-24,college-grad student', 'Comedy,Short,TX,90s', 'Comedy,Short,TX,M', 'Comedy,30s,retired,>56', 'Comedy,30s,retired,Long', 'Comedy,30s,PA,M', 'Comedy,30s,PA,Long', 'Comedy,30s,PA,M,Long', 'Comedy,30s,retired,>56,Long', 'Comedy,Short,NC,90s', 'Comedy,30s,retired,Long,M', 'Comedy,Short,TX,90s,M', 'Comedy,30s,Long,sales-marketing,M', 'Comedy,Short,90s,F,18-24,college-grad student', 'Comedy,Short,90s,F,25-34,CA', 'Comedy,30s,Long,F,25-34,CA', 'Comedy,Short,90s,M,35-44,technician-engineer', 'Comedy,K-12 student', 'Comedy,K-12 student,Long', 'Comedy,K-12 student,M', 'Comedy,K-12 student,2000s', 'Comedy,K-12 student,Long,2000s', 'Comedy,K-12 student,Long,M', 'Comedy,K-12 student,Long,90s', 'Comedy,K-12 student,2000s,<18', 'Comedy,K-12 student,2000s,F', 'Comedy,K-12 student,Long,2000s,<18', 'Comedy,K-12 student,Long,2000s,F', 'Comedy,K-12 student,Long,M,90s', 'Comedy,K-12 student,Long,M,<18', 'Comedy,K-12 student,M,<18', 'Comedy,K-12 student,M,90s', 'Comedy,K-12 student,M,<18,90s', 'Comedy,K-12 student,M,<18,90s', 'Comedy,K-12 student,Long,90s,<18']
labels = ['Comedy', 'Short', '30s', 'PA', 'retired', 'Long', 'M', 'F', 'sales-marketing', 'NC', 'TX', '90s', 'M', 'PA', 'F', '25-34', '18-24', '35-44', '25-34', '35-44', '18-24', '50-55', '35-44', '45-49', '>56', '25-34', '50-55', 'MN', 'CA', 'MA', 'executive-managerial', 'NY', 'CA', 'CA', 'college-grad student', '90s', 'M', '>56', 'Long', 'M', 'Long', 'Long', 'Long', '90s', 'M', 'M', 'M', 'college-grad student', 'CA', 'CA', 'technician-engineer', 'K-12 student', 'Long', 'M', '2000s', '2000s', 'M', '90s', '<18', 'F', '<18', 'F', '90s', '<18', '<18', '90s', '90s', '90s', '<18']
color_sequence = ['', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#00CC96', '#00CC96', '#00CC96', '#00CC96', '#00CC96', '#00CC96', '#00CC96', '#00CC96', '#00CC96', '#00CC96', '#00CC96', '#00CC96', '#00CC96', '#00CC96', '#00CC96', '#00CC96', '#EF553B', '#00CC96']
parents = ['', 'Comedy', 'Comedy', 'Comedy,30s', 'Comedy,30s', 'Comedy,30s', 'Comedy,30s,Long', 'Comedy,30s,Long', 'Comedy,30s,Long', 'Comedy,Short', 'Comedy,Short', 'Comedy,Short', 'Comedy,Short,90s', 'Comedy,Short,90s', 'Comedy,Short,90s', 'Comedy,Short,90s,M', 'Comedy,Short,90s,M', 'Comedy,Short,90s,M', 'Comedy,Short,90s,F', 'Comedy,Short,90s,F', 'Comedy,Short,90s,F', 'Comedy,30s,Long,M', 'Comedy,30s,Long,M', 'Comedy,30s,Long,M', 'Comedy,30s,Long,F', 'Comedy,30s,Long,F', 'Comedy,30s,Long,F', 'Comedy,Short,90s,M,25-34', 'Comedy,Short,90s,M,25-34', 'Comedy,Short,90s,M,25-34', 'Comedy,30s,Long,M,35-44', 'Comedy,30s,Long,M,35-44', 'Comedy,30s,Long,M,35-44', 'Comedy,Short,90s,M,18-24', 'Comedy,Short,90s,M,18-24', 'Comedy,Short,TX', 'Comedy,Short,TX', 'Comedy,30s,retired', 'Comedy,30s,retired', 'Comedy,30s,PA', 'Comedy,30s,PA', 'Comedy,30s,PA,M', 'Comedy,30s,retired,>56', 'Comedy,Short,NC', 'Comedy,30s,retired,Long', 'Comedy,Short,TX,90s', 'Comedy,30s,Long,sales-marketing', 'Comedy,Short,90s,F,18-24', 'Comedy,Short,90s,F,25-34', 'Comedy,30s,Long,F,25-34', 'Comedy,Short,90s,M,35-44', 'Comedy', 'Comedy,K-12 student', 'Comedy,K-12 student', 'Comedy,K-12 student', 'Comedy,K-12 student,Long', 'Comedy,K-12 student,Long', 'Comedy,K-12 student,Long', 'Comedy,K-12 student,2000s', 'Comedy,K-12 student,2000s', 'Comedy,K-12 student,Long,2000s', 'Comedy,K-12 student,Long,2000s', 'Comedy,K-12 student,Long,M', 'Comedy,K-12 student,Long,M', 'Comedy,K-12 student,M', 'Comedy,K-12 student,M', 'Comedy,K-12 student,M,<18', 'Comedy,K-12 student,M,<18', 'Comedy,K-12 student,Long,90s']
user_counts = [6031, 1162, 1328, 32, 31, 1328, 919, 409, 56, 24, 41, 982, 716, 20, 266, 304, 140, 151, 95, 62, 54, 94, 231, 112, 27, 117, 45, 26, 67, 23, 41, 23, 47, 28, 64, 32, 29, 24, 31, 25, 32, 25, 24, 22, 24, 24, 38, 32, 32, 33, 25, 195, 195, 129, 142, 142, 129, 195, 120, 44, 120, 44, 129, 100, 100, 129, 100, 100, 163]

ids2 = []
labels2 = []
color_sequence2 = []
parents2 = []
user_counts2 = []

ids2 = ['Comedy,AZ', 'Comedy,90s', 'Comedy,unemployed', 'Comedy,90s,KS', 'Comedy,90s,Long', 'Comedy,90s,LA', 'Comedy,90s,Long,LA', 'Comedy,90s,Long,M', 'Comedy,90s,Long,F', 'Comedy,90s,Long,M,35-44', 'Comedy,90s,Long,M,25-34', 'Comedy,90s,Long,M,18-24', 'Comedy,90s,Long,M,18-24,other', 'Comedy,90s,Long,M,18-24,writer', 'Comedy,90s,Long,M,18-24,college-grad student', 'Comedy,90s,Long,F,18-24', 'Comedy,90s,Long,F,25-34', 'Comedy,90s,Long,F,NJ', 'Comedy,90s,Long,F,18-24,MI', 'Comedy,90s,Long,F,18-24,college-grad student', 'Comedy,90s,Long,F,18-24,MN', 'Comedy,90s,Long,M,35-44,technician-engineer', 'Comedy,90s,Long,M,35-44,executive-managerial', 'Comedy,90s,Long,M,35-44,academic-educator', 'Comedy,90s,Long,F,25-34,CA', 'Comedy,90s,Long,F,25-34,TX', 'Comedy,90s,Long,F,25-34,NY', 'Comedy,90s,Long,M,25-34,CA', 'Comedy,90s,Long,M,25-34,NY', 'Comedy,90s,Long,M,25-34,MN', 'Comedy,90s,Long,M,25-34,CA,other', 'Comedy,90s,Long,M,25-34,CA,technician-engineer', 'Comedy,90s,Long,M,25-34,CA,writer', 'Comedy,90s,Long,M,18-24,college-grad student,MA', 'Comedy,90s,Long,M,18-24,college-grad student,NY', 'Comedy,90s,Long,M,18-24,college-grad student,MN', 'Comedy,unemployed,18-24', 'Comedy,unemployed,Long', 'Comedy,unemployed,2000s', 'Comedy,unemployed,Long,M', 'Comedy,unemployed,Long,2000s', 'Comedy,unemployed,Long,90s', 'Comedy,unemployed,Long,M,90s', 'Comedy,unemployed,Long,M,18-24', 'Comedy,unemployed,Long,M,2000s', 'Comedy,AZ,Long', 'Comedy,AZ,90s', 'Comedy,AZ,M', 'Comedy,AZ,Long,2000s', 'Comedy,AZ,Long,M', 'Comedy,AZ,Long,90s', 'Comedy,AZ,Long,M,25-34', 'Comedy,AZ,Long,M,90s', 'Comedy,AZ,90s,M', 'Comedy,AZ,90s,25-34', 'Comedy,AZ,M,2000s', 'Comedy,AZ,M,25-34', 'Comedy,unemployed,18-24,M', 'Comedy,unemployed,18-24,Long', 'Comedy,unemployed,18-24,90s', 'Comedy,90s,KS,Long', 'Comedy,90s,KS,M', 'Comedy,unemployed,18-24,M,90s', 'Comedy,AZ,Long,M,25-34,90s', 'Comedy,90s,Long,LA,M', 'Comedy,90s,LA,M', 'Comedy,90s,KS,Long,M', 'Comedy,unemployed,2000s,M', 'Comedy,AZ,Long,2000s,M', 'Comedy,unemployed,Long,M,90s,18-24', 'Comedy,unemployed,Long,90s,18-24', 'Comedy,AZ,90s,M,25-34', 'Comedy,AZ,Long,90s,25-34', 'Comedy,90s,Long,M,25-34,NY,other', 'Comedy,90s,Long,M,35-44,technician-engineer,CA']
labels2 = ['AZ', '90s', 'unemployed', 'KS', 'Long', 'LA', 'LA', 'M', 'F', '35-44', '25-34', '18-24', 'other', 'writer', 'college-grad student', '18-24', '25-34', 'NJ', 'MI', 'college-grad student', 'MN', 'technician-engineer', 'executive-managerial', 'academic-educator', 'CA', 'TX', 'NY', 'CA', 'NY', 'MN', 'other', 'technician-engineer', 'writer', 'MA', 'NY', 'MN', '18-24', 'Long', '2000s', 'M', '2000s', '90s', '90s', '18-24', '2000s', 'Long', '90s', 'M', '2000s', 'M', '90s', '25-34', '90s', 'M', '25-34', '2000s', '25-34', 'M', 'Long', '90s', 'Long', 'M', '90s', '90s', 'M', 'M', 'M', 'M', 'M', '18-24', '18-24', '25-34', '25-34', 'other', 'CA']
color_sequence2 = ['#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B']
parents2 = ['Comedy', 'Comedy', 'Comedy', 'Comedy,90s', 'Comedy,90s', 'Comedy,90s', 'Comedy,90s,Long', 'Comedy,90s,Long', 'Comedy,90s,Long', 'Comedy,90s,Long,M', 'Comedy,90s,Long,M', 'Comedy,90s,Long,M', 'Comedy,90s,Long,M,18-24', 'Comedy,90s,Long,M,18-24', 'Comedy,90s,Long,M,18-24', 'Comedy,90s,Long,F', 'Comedy,90s,Long,F', 'Comedy,90s,Long,F', 'Comedy,90s,Long,F,18-24', 'Comedy,90s,Long,F,18-24', 'Comedy,90s,Long,F,18-24', 'Comedy,90s,Long,M,35-44', 'Comedy,90s,Long,M,35-44', 'Comedy,90s,Long,M,35-44', 'Comedy,90s,Long,F,25-34', 'Comedy,90s,Long,F,25-34', 'Comedy,90s,Long,F,25-34', 'Comedy,90s,Long,M,25-34', 'Comedy,90s,Long,M,25-34', 'Comedy,90s,Long,M,25-34', 'Comedy,90s,Long,M,25-34,CA', 'Comedy,90s,Long,M,25-34,CA', 'Comedy,90s,Long,M,25-34,CA', 'Comedy,90s,Long,M,18-24,college-grad student', 'Comedy,90s,Long,M,18-24,college-grad student', 'Comedy,90s,Long,M,18-24,college-grad student', 'Comedy,unemployed', 'Comedy,unemployed', 'Comedy,unemployed', 'Comedy,unemployed,Long', 'Comedy,unemployed,Long', 'Comedy,unemployed,Long', 'Comedy,unemployed,Long,M', 'Comedy,unemployed,Long,M', 'Comedy,unemployed,Long,M', 'Comedy,AZ', 'Comedy,AZ', 'Comedy,AZ', 'Comedy,AZ,Long', 'Comedy,AZ,Long', 'Comedy,AZ,Long', 'Comedy,AZ,Long,M', 'Comedy,AZ,Long,M', 'Comedy,AZ,90s', 'Comedy,AZ,90s', 'Comedy,AZ,M', 'Comedy,AZ,M', 'Comedy,unemployed,18-24', 'Comedy,unemployed,18-24', 'Comedy,unemployed,18-24', 'Comedy,90s,KS', 'Comedy,90s,KS', 'Comedy,unemployed,18-24,M', 'Comedy,AZ,Long,M,25-34', 'Comedy,90s,Long,LA', 'Comedy,90s,LA', 'Comedy,90s,KS,Long', 'Comedy,unemployed,2000s', 'Comedy,AZ,Long,2000s', 'Comedy,unemployed,Long,M,90s', 'Comedy,unemployed,Long,90s', 'Comedy,AZ,90s,M', 'Comedy,AZ,Long,90s', 'Comedy,90s,Long,M,25-34,NY', 'Comedy,90s,Long,M,35-44,technician-engineer']
user_counts2 = [83, 5907, 72, 38, 5903, 33, 33, 4238, 1665, 828, 1514, 800, 74, 35, 368, 296, 549, 34, 20, 162, 21, 109, 173, 74, 118, 31, 36, 289, 104, 115, 32, 47, 25, 23, 25, 24, 30, 72, 45, 57, 45, 72, 57, 24, 34, 83, 83, 58, 50, 58, 83, 24, 58, 58, 33, 36, 24, 24, 30, 30, 38, 29, 24, 24, 28, 28, 29, 34, 36, 24, 30, 24, 33, 21, 22]



occupation_renames = {
    'executive-managerial': 'Executive',
    'retired': 'Retired',
    'college-grad student': 'College student',
    'technician-engineer':  'Engineer',
    'unemployed': 'Unemployed',
    'academic-educator': 'Academic',
    'other': 'Other'
}

def rename_occupations(l):
    renamed_l = []
    for lbl in l:
        if lbl in occupation_renames:
            renamed_l.append(occupation_renames[lbl].capitalize())
        else:
            renamed_l.append(lbl.capitalize())
    return renamed_l
    

fig = go.Figure(go.Sunburst(
    ids=ids+ids2,
    labels=rename_occupations(labels+labels2),
    parents=parents+parents2,
    #values=[6031, 5907, 5903, 4238, 800, 1665, 296, 828, 549, 1514, 289, 83, 72, 38, ],
    marker=dict(colors=[hex_to_rgba(hex, get_opacity(user_count)) if hex != '' else '' for hex, user_count in zip(color_sequence+color_sequence2, user_counts+user_counts2)])
))
fig.update_layout(margin = dict(t=0, l=0, r=0, b=0))

fig.update_traces(leaf=dict(opacity = 1))

# fig.write_image("fig.pdf")
fig.write_image("movielens_sunburst.svg")

fig.show()

# import plotly
# plotly.offline.plot(fig, filename='sunburst.pdf')

In [49]:
import seaborn as sns

df = pd.DataFrame({
    'Group': ids+ids2,
    'User count': user_counts+user_counts2,
    'Color': color_sequence+color_sequence2,
})

hypothesis_to_color = {
    None: '',
    0: '#636EFA',
    1: '#EF553B',
    2: '#00CC96',
    3: '#AB63FA',
    4: '#FFA15A',
    5: '#19D3F3',
    6: '#FF6692',
}

color_to_hypothesis = {v: k for k, v in hypothesis_to_color.items()}

df['H'] = df['Color'].map(lambda c: color_to_hypothesis[c])

In [50]:
df

                                              Group  User count    Color    H
0                                            Comedy        6031           NaN
1                                      Comedy,Short        1162  #636EFA  0.0
2                                        Comedy,30s        1328  #636EFA  0.0
3                                     Comedy,30s,PA          32  #636EFA  0.0
4                                Comedy,30s,retired          31  #636EFA  0.0
..                                              ...         ...      ...  ...
139                Comedy,unemployed,Long,90s,18-24          30  #EF553B  1.0
140                           Comedy,AZ,90s,M,25-34          24  #EF553B  1.0
141                        Comedy,AZ,Long,90s,25-34          33  #EF553B  1.0
142                Comedy,90s,Long,M,25-34,NY,other          21  #EF553B  1.0
143  Comedy,90s,Long,M,35-44,technician-engineer,CA          22  #EF553B  1.0

[144 rows x 4 columns]

In [21]:
'a,a,a'.count(',')

2

In [55]:
df['What Comba wants'] = df['Group'].map(lambda x: True if x.count(',') >= 4 else False)
df = df[df['What Comba wants'] == True].copy()
df

,Group,User count,Color,H,What Comba wants
15,"Comedy,Short,90s,M,25-34",304,#636EFA,0.0,True
16,"Comedy,Short,90s,M,18-24",140,#636EFA,0.0,True
17,"Comedy,Short,90s,M,35-44",151,#636EFA,0.0,True
18,"Comedy,Short,90s,F,25-34",95,#636EFA,0.0,True
19,"Comedy,Short,90s,F,35-44",62,#636EFA,0.0,True
...,...,...,...,...,...
139,"Comedy,unemployed,Long,90s,18-24",30,#EF553B,1.0,True
140,"Comedy,AZ,90s,M,25-34",24,#EF553B,1.0,True
141,"Comedy,AZ,Long,90s,25-34",33,#EF553B,1.0,True
142,"Comedy,90s,Long,M,25-34,NY,other",21,#EF553B,1.0,True
143,"Comedy,90s,Long,M,35-44,technician-engineer,CA",22,#EF553B,1.0,True

In [27]:
movie_dataframe = pd.read_csv('../datasets/MovieLens/MovieLens.csv')

In [56]:
df.sort_values(by='User count', ascending=False)

,Group,User count,Color,H,What Comba wants
79,"Comedy,90s,Long,M,25-34",1514,#EF553B,1.0,True
78,"Comedy,90s,Long,M,35-44",828,#EF553B,1.0,True
80,"Comedy,90s,Long,M,18-24",800,#EF553B,1.0,True
85,"Comedy,90s,Long,F,25-34",549,#EF553B,1.0,True
83,"Comedy,90s,Long,M,18-24,college-grad student",368,#EF553B,1.0,True
...,...,...,...,...,...
29,"Comedy,Short,90s,M,25-34,MA",23,#636EFA,0.0,True
143,"Comedy,90s,Long,M,35-44,technician-engineer,CA",22,#EF553B,1.0,True
89,"Comedy,90s,Long,F,18-24,MN",21,#EF553B,1.0,True
142,"Comedy,90s,Long,M,25-34,NY,other",21,#EF553B,1.0,True
87,"Comedy,90s,Long,F,18-24,MI",20,#EF553B,1.0,True

In [58]:
df[df.H == 0].sort_values(by='User count', ascending=False)

,Group,User count,Color,H,What Comba wants
15,"Comedy,Short,90s,M,25-34",304,#636EFA,0.0,True
22,"Comedy,30s,Long,M,35-44",231,#636EFA,0.0,True
17,"Comedy,Short,90s,M,35-44",151,#636EFA,0.0,True
16,"Comedy,Short,90s,M,18-24",140,#636EFA,0.0,True
25,"Comedy,30s,Long,F,25-34",117,#636EFA,0.0,True
23,"Comedy,30s,Long,M,45-49",112,#636EFA,0.0,True
18,"Comedy,Short,90s,F,25-34",95,#636EFA,0.0,True
21,"Comedy,30s,Long,M,50-55",94,#636EFA,0.0,True
28,"Comedy,Short,90s,M,25-34,CA",67,#636EFA,0.0,True
34,"Comedy,Short,90s,M,18-24,college-grad student",64,#636EFA,0.0,True
19,"Comedy,Short,90s,F,35-44",62,#636EFA,0.0,True
20,"Comedy,Short,90s,F,18-24",54,#636EFA,0.0,True
32,"Comedy,30s,Long,M,35-44,CA",47,#636EFA,0.0,True
26,"Comedy,30s,Long,F,50-55",45,#636EFA,0.0,True
30,"Comedy,30s,Long,M,35-44,executive-managerial",41,#636EFA,0.0,True
46,"Comedy,30s,Long,sales-marketing,M",38,#636EFA,0.0,True
49,"Comedy,30s,Long,F,25-34,CA",33,#636EFA,0.0,True
48,"Comedy,Short,90s,F,25-34,CA",32,#636EFA,0.0,True
47,"Comedy,Short,90s,F,18-24,college-grad student",32,#636EFA,0.0,True
33,"Comedy,Short,90s,M,18-24,CA",28,#636EFA,0.0,True
24,"Comedy,30s,Long,F,>56",27,#636EFA,0.0,True
27,"Comedy,Short,90s,M,25-34,MN",26,#636EFA,0.0,True
50,"Comedy,Short,90s,M,35-44,technician-engineer",25,#636EFA,0.0,True
41,"Comedy,30s,PA,M,Long",25,#636EFA,0.0,True
45,"Comedy,Short,TX,90s,M",24,#636EFA,0.0,True
44,"Comedy,30s,retired,Long,M",24,#636EFA,0.0,True
42,"Comedy,30s,retired,>56,Long",24,#636EFA,0.0,True
31,"Comedy,30s,Long,M,35-44,NY",23,#636EFA,0.0,True
29,"Comedy,Short,90s,M,25-34,MA",23,#636EFA,0.0,True

In [84]:
movie_dataframe[movie_dataframe.genre.str.contains('Comedy') & (movie_dataframe.year == '30s') & (movie_dataframe.runtime_minutes == 'Long') & (movie_dataframe.gender == 'M')].groupby('title').agg({'rating': ['count', 'mean']}).sort_values(by=('rating',  'mean'), ascending=False)

                                                   rating
                                                    count      mean
title
City Lights (1931)                                    198  4.363636
Duck Soup (1933)                                      473  4.260042
Modern Times (1936)                                   239  4.238494
It Happened One Night (1934)                          244  4.163934
Bringing Up Baby (1938)                               251  4.143426
Lady Vanishes, The (1938)                             129  4.124031
My Man Godfrey (1936)                                 125  4.080000
Top Hat (1935)                                        133  4.060150
Shall We Dance? (1937)                                 96  4.052083
Ninotchka (1939)                                       86  4.011628
You Can't Take It With You (1938)                      51  3.921569
Women, The (1939)                                      45  3.911111
Trouble in Paradise (1932)                             27  3.814815
Gay Divorcee, The (1934)                               54  3.685185
March of the Wooden Soldiers (a.k.a. Laurel & H...     66  3.681818
Damsel in Distress, A (1937)                           11  3.454545
Rich and Strange (1932)                                10  3.300000
Six of a Kind (1934)                                    6  2.166667
Something to Sing About (1937)                          2  1.500000
Elstree Calling (1930)                                  1  1.000000
Waltzes from Vienna (1933)                              1  1.000000

In [67]:
movie_dataframe[movie_dataframe.genre.str.contains('Comedy') & (movie_dataframe.year == '90s') & (movie_dataframe.runtime_minutes == 'Short') & (movie_dataframe.gender == 'M') & (movie_dataframe.age == '25-34')]

,user_id,item_id,title,genre,runtime_minutes,year,gender,age,occupation,location,timestamp,rating
3027,53,745,"Close Shave, A (1995)",Animation|Comedy|Thriller,Short,90s,M,25-34,other,GU,2000-12-27 21:36:26,5
10734,195,745,"Close Shave, A (1995)",Animation|Comedy|Thriller,Short,90s,M,25-34,programmer,NY,2002-03-21 03:41:54,5
10964,195,1148,"Wrong Trousers, The (1993)",Animation|Comedy,Short,90s,M,25-34,programmer,NY,2002-03-21 03:25:09,5
14165,231,745,"Close Shave, A (1995)",Animation|Comedy|Thriller,Short,90s,M,25-34,clerical-admin,MN,2002-12-21 04:36:08,5
14210,231,1148,"Wrong Trousers, The (1993)",Animation|Comedy,Short,90s,M,25-34,clerical-admin,MN,2001-08-03 14:35:22,5
...,...,...,...,...,...,...,...,...,...,...,...,...
974612,4559,745,"Close Shave, A (1995)",Animation|Comedy|Thriller,Short,90s,M,25-34,executive-managerial,VT,2000-07-25 06:29:30,5
974629,4559,1148,"Wrong Trousers, The (1993)",Animation|Comedy,Short,90s,M,25-34,executive-managerial,VT,2000-07-25 06:29:30,5
974820,4856,745,"Close Shave, A (1995)",Animation|Comedy|Thriller,Short,90s,M,25-34,executive-managerial,CA,2000-07-05 21:16:05,4
974848,4856,1148,"Wrong Trousers, The (1993)",Animation|Comedy,Short,90s,M,25-34,executive-managerial,CA,2000-07-05 21:16:05,5
990772,1898,1148,"Wrong Trousers, The (1993)",Animation|Comedy,Short,90s,M,25-34,programmer,CA,2000-11-20 04:14:58,4

In [60]:
movie_dataframe

,user_id,item_id,title,genre,runtime_minutes,year,gender,age,occupation,location,timestamp,rating
0,1,1193,One Flew Over the Cuckoo's Nest (1975),Drama,Long,70s,F,<18,K-12 student,MI,2000-12-31 22:12:40,5
1,1,661,James and the Giant Peach (1996),Animation|Children's|Musical,Long,90s,F,<18,K-12 student,MI,2000-12-31 22:35:09,3
2,1,914,My Fair Lady (1964),Musical|Romance,Long,60s,F,<18,K-12 student,MI,2000-12-31 22:32:48,3
3,1,3408,Erin Brockovich (2000),Drama,Long,2000s,F,<18,K-12 student,MI,2000-12-31 22:04:35,4
4,1,2355,"Bug's Life, A (1998)",Animation|Children's|Comedy,Long,90s,F,<18,K-12 student,MI,2001-01-06 23:38:11,5
...,...,...,...,...,...,...,...,...,...,...,...,...
996651,4211,3791,Footloose (1984),Drama,Long,80s,M,45-49,customer service,TX,2000-08-03 16:11:15,2
996652,4211,3806,MacKenna's Gold (1969),Western,Long,60s,M,45-49,customer service,TX,2000-08-03 16:12:18,3
996653,4211,3840,Pumpkinhead (1988),Horror,Long,80s,M,45-49,customer service,TX,2000-08-03 16:13:17,4
996654,4211,3766,Missing in Action (1984),Action|War,Long,80s,M,45-49,customer service,TX,2000-08-03 16:12:18,2
996655,4211,3834,Bronco Billy (1980),Adventure|Drama|Romance,Long,80s,M,45-49,customer service,TX,2000-08-03 16:08:05,2

In [34]:
movie_dataframe.genre.str.contains('Comedy')

0         False
1         False
2         False
3         False
4          True
          ...
996651    False
996652    False
996653    False
996654    False
996655    False
Name: genre, Length: 996656, dtype: bool

In [41]:
movie_dataframe[movie_dataframe.genre.str.contains('Comedy') & (movie_dataframe.year == '90s') & (movie_dataframe.runtime_minutes == 'Long')]

,user_id,item_id,title,genre,runtime_minutes,year,gender,age,occupation,location,timestamp,rating
4,1,2355,"Bug's Life, A (1998)",Animation|Children's|Comedy,Long,90s,F,<18,K-12 student,MI,2001-01-06 23:38:11,5
20,1,2321,Pleasantville (1998),Comedy,Long,90s,F,<18,K-12 student,MI,2000-12-31 22:36:45,3
31,1,1566,Hercules (1997),Adventure|Animation|Children's|Comedy|Musical,Long,90s,F,<18,K-12 student,MI,2001-01-06 23:38:50,4
32,1,588,Aladdin (1992),Animation|Children's|Comedy|Musical,Long,90s,F,<18,K-12 student,MI,2001-01-06 23:37:48,4
39,1,1,Toy Story (1995),Animation|Children's|Comedy,Long,90s,F,<18,K-12 student,MI,2001-01-06 23:37:48,5
...,...,...,...,...,...,...,...,...,...,...,...,...
996631,3893,2623,Trippin' (1999),Comedy,Long,90s,M,25-34,doctor-health care,TX,2000-08-09 04:03:51,3
996635,4211,3773,House Party (1990),Comedy,Long,90s,M,45-49,customer service,TX,2000-08-03 16:11:46,3
996636,4211,3774,House Party 2 (1991),Comedy,Long,90s,M,45-49,customer service,TX,2000-08-03 16:11:46,2
996644,4211,1760,Spice World (1997),Comedy|Musical,Long,90s,M,45-49,customer service,TX,2000-08-03 16:05:46,1
996648,4211,3841,Air America (1990),Action|Comedy,Long,90s,M,45-49,customer service,TX,2000-08-03 16:07:37,4

In [44]:
len(movie_dataframe[movie_dataframe.genre.str.contains('Comedy') & (movie_dataframe.year == '90s') & (movie_dataframe.runtime_minutes == 'Long')].user_id.unique())

5903

In [45]:
movie_dataframe[movie_dataframe.genre.str.contains('Comedy') & (movie_dataframe.year == '90s') & (movie_dataframe.runtime_minutes == 'Long')].rating.describe()

count    193342.000000
mean          3.392196
std           1.142888
min           1.000000
25%           3.000000
50%           4.000000
75%           4.000000
max           5.000000
Name: rating, dtype: float64

In [48]:
ids = ['Comedy', 'Comedy,Short', 'Comedy,30s', 'Comedy,30s,PA', 'Comedy,30s,retired', 'Comedy,30s,Long', 'Comedy,30s,Long,M', 'Comedy,30s,Long,F', 'Comedy,30s,Long,sales-marketing', 'Comedy,Short,NC', 'Comedy,Short,TX', 'Comedy,Short,90s', 'Comedy,Short,90s,M', 'Comedy,Short,90s,PA', 'Comedy,Short,90s,F', 'Comedy,Short,90s,M,25-34', 'Comedy,Short,90s,M,18-24', 'Comedy,Short,90s,M,35-44', 'Comedy,Short,90s,F,25-34', 'Comedy,Short,90s,F,35-44', 'Comedy,Short,90s,F,18-24', 'Comedy,30s,Long,M,50-55', 'Comedy,30s,Long,M,35-44', 'Comedy,30s,Long,M,45-49', 'Comedy,30s,Long,F,>56', 'Comedy,30s,Long,F,25-34', 'Comedy,30s,Long,F,50-55', 'Comedy,Short,90s,M,25-34,MN', 'Comedy,Short,90s,M,25-34,CA', 'Comedy,Short,90s,M,25-34,MA', 'Comedy,30s,Long,M,35-44,executive-managerial', 'Comedy,30s,Long,M,35-44,NY', 'Comedy,30s,Long,M,35-44,CA', 'Comedy,Short,90s,M,18-24,CA', 'Comedy,Short,90s,M,18-24,college-grad student', 'Comedy,Short,TX,90s', 'Comedy,Short,TX,M', 'Comedy,30s,retired,>56', 'Comedy,30s,retired,Long', 'Comedy,30s,PA,M', 'Comedy,30s,PA,Long', 'Comedy,30s,PA,M,Long', 'Comedy,30s,retired,>56,Long', 'Comedy,Short,NC,90s', 'Comedy,30s,retired,Long,M', 'Comedy,Short,TX,90s,M', 'Comedy,30s,Long,sales-marketing,M', 'Comedy,Short,90s,F,18-24,college-grad student', 'Comedy,Short,90s,F,25-34,CA', 'Comedy,30s,Long,F,25-34,CA', 'Comedy,Short,90s,M,35-44,technician-engineer', 'Comedy,K-12 student', 'Comedy,K-12 student,Long', 'Comedy,K-12 student,M', 'Comedy,K-12 student,2000s', 'Comedy,K-12 student,Long,2000s', 'Comedy,K-12 student,Long,M', 'Comedy,K-12 student,Long,90s', 'Comedy,K-12 student,2000s,<18', 'Comedy,K-12 student,2000s,F', 'Comedy,K-12 student,Long,2000s,<18', 'Comedy,K-12 student,Long,2000s,F', 'Comedy,K-12 student,Long,M,90s', 'Comedy,K-12 student,Long,M,<18', 'Comedy,K-12 student,M,<18', 'Comedy,K-12 student,M,90s', 'Comedy,K-12 student,M,<18,90s', 'Comedy,K-12 student,M,<18,90s', 'Comedy,K-12 student,Long,90s,<18']
labels = ['Comedy', 'Short', '30s', 'PA', 'retired', 'Long', 'M', 'F', 'sales-marketing', 'NC', 'TX', '90s', 'M', 'PA', 'F', '25-34', '18-24', '35-44', '25-34', '35-44', '18-24', '50-55', '35-44', '45-49', '>56', '25-34', '50-55', 'MN', 'CA', 'MA', 'executive-managerial', 'NY', 'CA', 'CA', 'college-grad student', '90s', 'M', '>56', 'Long', 'M', 'Long', 'Long', 'Long', '90s', 'M', 'M', 'M', 'college-grad student', 'CA', 'CA', 'technician-engineer', 'K-12 student', 'Long', 'M', '2000s', '2000s', 'M', '90s', '<18', 'F', '<18', 'F', '90s', '<18', '<18', '90s', '90s', '90s', '<18']
color_sequence = ['', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#00CC96', '#00CC96', '#00CC96', '#00CC96', '#00CC96', '#00CC96', '#00CC96', '#00CC96', '#00CC96', '#00CC96', '#00CC96', '#00CC96', '#00CC96', '#00CC96', '#00CC96', '#00CC96', '#EF553B', '#00CC96']
parents = ['', 'Comedy', 'Comedy', 'Comedy,30s', 'Comedy,30s', 'Comedy,30s', 'Comedy,30s,Long', 'Comedy,30s,Long', 'Comedy,30s,Long', 'Comedy,Short', 'Comedy,Short', 'Comedy,Short', 'Comedy,Short,90s', 'Comedy,Short,90s', 'Comedy,Short,90s', 'Comedy,Short,90s,M', 'Comedy,Short,90s,M', 'Comedy,Short,90s,M', 'Comedy,Short,90s,F', 'Comedy,Short,90s,F', 'Comedy,Short,90s,F', 'Comedy,30s,Long,M', 'Comedy,30s,Long,M', 'Comedy,30s,Long,M', 'Comedy,30s,Long,F', 'Comedy,30s,Long,F', 'Comedy,30s,Long,F', 'Comedy,Short,90s,M,25-34', 'Comedy,Short,90s,M,25-34', 'Comedy,Short,90s,M,25-34', 'Comedy,30s,Long,M,35-44', 'Comedy,30s,Long,M,35-44', 'Comedy,30s,Long,M,35-44', 'Comedy,Short,90s,M,18-24', 'Comedy,Short,90s,M,18-24', 'Comedy,Short,TX', 'Comedy,Short,TX', 'Comedy,30s,retired', 'Comedy,30s,retired', 'Comedy,30s,PA', 'Comedy,30s,PA', 'Comedy,30s,PA,M', 'Comedy,30s,retired,>56', 'Comedy,Short,NC', 'Comedy,30s,retired,Long', 'Comedy,Short,TX,90s', 'Comedy,30s,Long,sales-marketing', 'Comedy,Short,90s,F,18-24', 'Comedy,Short,90s,F,25-34', 'Comedy,30s,Long,F,25-34', 'Comedy,Short,90s,M,35-44', 'Comedy', 'Comedy,K-12 student', 'Comedy,K-12 student', 'Comedy,K-12 student', 'Comedy,K-12 student,Long', 'Comedy,K-12 student,Long', 'Comedy,K-12 student,Long', 'Comedy,K-12 student,2000s', 'Comedy,K-12 student,2000s', 'Comedy,K-12 student,Long,2000s', 'Comedy,K-12 student,Long,2000s', 'Comedy,K-12 student,Long,M', 'Comedy,K-12 student,Long,M', 'Comedy,K-12 student,M', 'Comedy,K-12 student,M', 'Comedy,K-12 student,M,<18', 'Comedy,K-12 student,M,<18', 'Comedy,K-12 student,Long,90s']
user_counts = [6031, 1162, 1328, 32, 31, 1328, 919, 409, 56, 24, 41, 982, 716, 20, 266, 304, 140, 151, 95, 62, 54, 94, 231, 112, 27, 117, 45, 26, 67, 23, 41, 23, 47, 28, 64, 32, 29, 24, 31, 25, 32, 25, 24, 22, 24, 24, 38, 32, 32, 33, 25, 195, 195, 129, 142, 142, 129, 195, 120, 44, 120, 44, 129, 100, 100, 129, 100, 100, 163]

ids2 = []
labels2 = []
color_sequence2 = []
parents2 = []
user_counts2 = []

ids2 = ['Comedy,AZ', 'Comedy,90s', 'Comedy,unemployed', 'Comedy,90s,KS', 'Comedy,90s,Long', 'Comedy,90s,LA', 'Comedy,90s,Long,LA', 'Comedy,90s,Long,M', 'Comedy,90s,Long,F', 'Comedy,90s,Long,M,35-44', 'Comedy,90s,Long,M,25-34', 'Comedy,90s,Long,M,18-24', 'Comedy,90s,Long,M,18-24,other', 'Comedy,90s,Long,M,18-24,writer', 'Comedy,90s,Long,M,18-24,college-grad student', 'Comedy,90s,Long,F,18-24', 'Comedy,90s,Long,F,25-34', 'Comedy,90s,Long,F,NJ', 'Comedy,90s,Long,F,18-24,MI', 'Comedy,90s,Long,F,18-24,college-grad student', 'Comedy,90s,Long,F,18-24,MN', 'Comedy,90s,Long,M,35-44,technician-engineer', 'Comedy,90s,Long,M,35-44,executive-managerial', 'Comedy,90s,Long,M,35-44,academic-educator', 'Comedy,90s,Long,F,25-34,CA', 'Comedy,90s,Long,F,25-34,TX', 'Comedy,90s,Long,F,25-34,NY', 'Comedy,90s,Long,M,25-34,CA', 'Comedy,90s,Long,M,25-34,NY', 'Comedy,90s,Long,M,25-34,MN', 'Comedy,90s,Long,M,25-34,CA,other', 'Comedy,90s,Long,M,25-34,CA,technician-engineer', 'Comedy,90s,Long,M,25-34,CA,writer', 'Comedy,90s,Long,M,18-24,college-grad student,MA', 'Comedy,90s,Long,M,18-24,college-grad student,NY', 'Comedy,90s,Long,M,18-24,college-grad student,MN', 'Comedy,unemployed,18-24', 'Comedy,unemployed,Long', 'Comedy,unemployed,2000s', 'Comedy,unemployed,Long,M', 'Comedy,unemployed,Long,2000s', 'Comedy,unemployed,Long,90s', 'Comedy,unemployed,Long,M,90s', 'Comedy,unemployed,Long,M,18-24', 'Comedy,unemployed,Long,M,2000s', 'Comedy,AZ,Long', 'Comedy,AZ,90s', 'Comedy,AZ,M', 'Comedy,AZ,Long,2000s', 'Comedy,AZ,Long,M', 'Comedy,AZ,Long,90s', 'Comedy,AZ,Long,M,25-34', 'Comedy,AZ,Long,M,90s', 'Comedy,AZ,90s,M', 'Comedy,AZ,90s,25-34', 'Comedy,AZ,M,2000s', 'Comedy,AZ,M,25-34', 'Comedy,unemployed,18-24,M', 'Comedy,unemployed,18-24,Long', 'Comedy,unemployed,18-24,90s', 'Comedy,90s,KS,Long', 'Comedy,90s,KS,M', 'Comedy,unemployed,18-24,M,90s', 'Comedy,AZ,Long,M,25-34,90s', 'Comedy,90s,Long,LA,M', 'Comedy,90s,LA,M', 'Comedy,90s,KS,Long,M', 'Comedy,unemployed,2000s,M', 'Comedy,AZ,Long,2000s,M', 'Comedy,unemployed,Long,M,90s,18-24', 'Comedy,unemployed,Long,90s,18-24', 'Comedy,AZ,90s,M,25-34', 'Comedy,AZ,Long,90s,25-34', 'Comedy,90s,Long,M,25-34,NY,other', 'Comedy,90s,Long,M,35-44,technician-engineer,CA']
labels2 = ['AZ', '90s', 'unemployed', 'KS', 'Long', 'LA', 'LA', 'M', 'F', '35-44', '25-34', '18-24', 'other', 'writer', 'college-grad student', '18-24', '25-34', 'NJ', 'MI', 'college-grad student', 'MN', 'technician-engineer', 'executive-managerial', 'academic-educator', 'CA', 'TX', 'NY', 'CA', 'NY', 'MN', 'other', 'technician-engineer', 'writer', 'MA', 'NY', 'MN', '18-24', 'Long', '2000s', 'M', '2000s', '90s', '90s', '18-24', '2000s', 'Long', '90s', 'M', '2000s', 'M', '90s', '25-34', '90s', 'M', '25-34', '2000s', '25-34', 'M', 'Long', '90s', 'Long', 'M', '90s', '90s', 'M', 'M', 'M', 'M', 'M', '18-24', '18-24', '25-34', '25-34', 'other', 'CA']
color_sequence2 = ['#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B']
parents2 = ['Comedy', 'Comedy', 'Comedy', 'Comedy,90s', 'Comedy,90s', 'Comedy,90s', 'Comedy,90s,Long', 'Comedy,90s,Long', 'Comedy,90s,Long', 'Comedy,90s,Long,M', 'Comedy,90s,Long,M', 'Comedy,90s,Long,M', 'Comedy,90s,Long,M,18-24', 'Comedy,90s,Long,M,18-24', 'Comedy,90s,Long,M,18-24', 'Comedy,90s,Long,F', 'Comedy,90s,Long,F', 'Comedy,90s,Long,F', 'Comedy,90s,Long,F,18-24', 'Comedy,90s,Long,F,18-24', 'Comedy,90s,Long,F,18-24', 'Comedy,90s,Long,M,35-44', 'Comedy,90s,Long,M,35-44', 'Comedy,90s,Long,M,35-44', 'Comedy,90s,Long,F,25-34', 'Comedy,90s,Long,F,25-34', 'Comedy,90s,Long,F,25-34', 'Comedy,90s,Long,M,25-34', 'Comedy,90s,Long,M,25-34', 'Comedy,90s,Long,M,25-34', 'Comedy,90s,Long,M,25-34,CA', 'Comedy,90s,Long,M,25-34,CA', 'Comedy,90s,Long,M,25-34,CA', 'Comedy,90s,Long,M,18-24,college-grad student', 'Comedy,90s,Long,M,18-24,college-grad student', 'Comedy,90s,Long,M,18-24,college-grad student', 'Comedy,unemployed', 'Comedy,unemployed', 'Comedy,unemployed', 'Comedy,unemployed,Long', 'Comedy,unemployed,Long', 'Comedy,unemployed,Long', 'Comedy,unemployed,Long,M', 'Comedy,unemployed,Long,M', 'Comedy,unemployed,Long,M', 'Comedy,AZ', 'Comedy,AZ', 'Comedy,AZ', 'Comedy,AZ,Long', 'Comedy,AZ,Long', 'Comedy,AZ,Long', 'Comedy,AZ,Long,M', 'Comedy,AZ,Long,M', 'Comedy,AZ,90s', 'Comedy,AZ,90s', 'Comedy,AZ,M', 'Comedy,AZ,M', 'Comedy,unemployed,18-24', 'Comedy,unemployed,18-24', 'Comedy,unemployed,18-24', 'Comedy,90s,KS', 'Comedy,90s,KS', 'Comedy,unemployed,18-24,M', 'Comedy,AZ,Long,M,25-34', 'Comedy,90s,Long,LA', 'Comedy,90s,LA', 'Comedy,90s,KS,Long', 'Comedy,unemployed,2000s', 'Comedy,AZ,Long,2000s', 'Comedy,unemployed,Long,M,90s', 'Comedy,unemployed,Long,90s', 'Comedy,AZ,90s,M', 'Comedy,AZ,Long,90s', 'Comedy,90s,Long,M,25-34,NY', 'Comedy,90s,Long,M,35-44,technician-engineer']
user_counts2 = [83, 5907, 72, 38, 5903, 33, 33, 4238, 1665, 828, 1514, 800, 74, 35, 368, 296, 549, 34, 20, 162, 21, 109, 173, 74, 118, 31, 36, 289, 104, 115, 32, 47, 25, 23, 25, 24, 30, 72, 45, 57, 45, 72, 57, 24, 34, 83, 83, 58, 50, 58, 83, 24, 58, 58, 33, 36, 24, 24, 30, 30, 38, 29, 24, 24, 28, 28, 29, 34, 36, 24, 30, 24, 33, 21, 22]

ids+ids2

['Comedy',
 'Comedy,Short',
 'Comedy,30s',
 'Comedy,30s,PA',
 'Comedy,30s,retired',
 'Comedy,30s,Long',
 'Comedy,30s,Long,M',
 'Comedy,30s,Long,F',
 'Comedy,30s,Long,sales-marketing',
 'Comedy,Short,NC',
 'Comedy,Short,TX',
 'Comedy,Short,90s',
 'Comedy,Short,90s,M',
 'Comedy,Short,90s,PA',
 'Comedy,Short,90s,F',
 'Comedy,Short,90s,M,25-34',
 'Comedy,Short,90s,M,18-24',
 'Comedy,Short,90s,M,35-44',
 'Comedy,Short,90s,F,25-34',
 'Comedy,Short,90s,F,35-44',
 'Comedy,Short,90s,F,18-24',
 'Comedy,30s,Long,M,50-55',
 'Comedy,30s,Long,M,35-44',
 'Comedy,30s,Long,M,45-49',
 'Comedy,30s,Long,F,>56',
 'Comedy,30s,Long,F,25-34',
 'Comedy,30s,Long,F,50-55',
 'Comedy,Short,90s,M,25-34,MN',
 'Comedy,Short,90s,M,25-34,CA',
 'Comedy,Short,90s,M,25-34,MA',
 'Comedy,30s,Long,M,35-44,executive-managerial',
 'Comedy,30s,Long,M,35-44,NY',
 'Comedy,30s,Long,M,35-44,CA',
 'Comedy,Short,90s,M,18-24,CA',
 'Comedy,Short,90s,M,18-24,college-grad student',
 'Comedy,Short,TX,90s',
 'Comedy,Short,TX,M',
 'Comedy,30s,retired,>56',
 'Comedy,30s,retired,Long',
 'Comedy,30s,PA,M',
 'Comedy,30s,PA,Long',
 'Comedy,30s,PA,M,Long',
 'Comedy,30s,retired,>56,Long',
 'Comedy,Short,NC,90s',
 'Comedy,30s,retired,Long,M',
 'Comedy,Short,TX,90s,M',
 'Comedy,30s,Long,sales-marketing,M',
 'Comedy,Short,90s,F,18-24,college-grad student',
 'Comedy,Short,90s,F,25-34,CA',
 'Comedy,30s,Long,F,25-34,CA',
 'Comedy,Short,90s,M,35-44,technician-engineer',
 'Comedy,K-12 student',
 'Comedy,K-12 student,Long',
 'Comedy,K-12 student,M',
 'Comedy,K-12 student,2000s',
 'Comedy,K-12 student,Long,2000s',
 'Comedy,K-12 student,Long,M',
 'Comedy,K-12 student,Long,90s',
 'Comedy,K-12 student,2000s,<18',
 'Comedy,K-12 student,2000s,F',
 'Comedy,K-12 student,Long,2000s,<18',
 'Comedy,K-12 student,Long,2000s,F',
 'Comedy,K-12 student,Long,M,90s',
 'Comedy,K-12 student,Long,M,<18',
 'Comedy,K-12 student,M,<18',
 'Comedy,K-12 student,M,90s',
 'Comedy,K-12 student,M,<18,90s',
 'Comedy,K-12 student,M,<18,90s',
 'Comedy,K-12 student,Long,90s,<18',
 'Comedy,AZ',
 'Comedy,90s',
 'Comedy,unemployed',
 'Comedy,90s,KS',
 'Comedy,90s,Long',
 'Comedy,90s,LA',
 'Comedy,90s,Long,LA',
 'Comedy,90s,Long,M',
 'Comedy,90s,Long,F',
 'Comedy,90s,Long,M,35-44',
 'Comedy,90s,Long,M,25-34',
 'Comedy,90s,Long,M,18-24',
 'Comedy,90s,Long,M,18-24,other',
 'Comedy,90s,Long,M,18-24,writer',
 'Comedy,90s,Long,M,18-24,college-grad student',
 'Comedy,90s,Long,F,18-24',
 'Comedy,90s,Long,F,25-34',
 'Comedy,90s,Long,F,NJ',
 'Comedy,90s,Long,F,18-24,MI',
 'Comedy,90s,Long,F,18-24,college-grad student',
 'Comedy,90s,Long,F,18-24,MN',
 'Comedy,90s,Long,M,35-44,technician-engineer',
 'Comedy,90s,Long,M,35-44,executive-managerial',
 'Comedy,90s,Long,M,35-44,academic-educator',
 'Comedy,90s,Long,F,25-34,CA',
 'Comedy,90s,Long,F,25-34,TX',
 'Comedy,90s,Long,F,25-34,NY',
 'Comedy,90s,Long,M,25-34,CA',
 'Comedy,90s,Long,M,25-34,NY',
 'Comedy,90s,Long,M,25-34,MN',
 'Comedy,90s,Long,M,25-34,CA,other',
 'Comedy,90s,Long,M,25-34,CA,technician-engineer',
 'Comedy,90s,Long,M,25-34,CA,writer',
 'Comedy,90s,Long,M,18-24,college-grad student,MA',
 'Comedy,90s,Long,M,18-24,college-grad student,NY',
 'Comedy,90s,Long,M,18-24,college-grad student,MN',
 'Comedy,unemployed,18-24',
 'Comedy,unemployed,Long',
 'Comedy,unemployed,2000s',
 'Comedy,unemployed,Long,M',
 'Comedy,unemployed,Long,2000s',
 'Comedy,unemployed,Long,90s',
 'Comedy,unemployed,Long,M,90s',
 'Comedy,unemployed,Long,M,18-24',
 'Comedy,unemployed,Long,M,2000s',
 'Comedy,AZ,Long',
 'Comedy,AZ,90s',
 'Comedy,AZ,M',
 'Comedy,AZ,Long,2000s',
 'Comedy,AZ,Long,M',
 'Comedy,AZ,Long,90s',
 'Comedy,AZ,Long,M,25-34',
 'Comedy,AZ,Long,M,90s',
 'Comedy,AZ,90s,M',
 'Comedy,AZ,90s,25-34',
 'Comedy,AZ,M,2000s',
 'Comedy,AZ,M,25-34',
 'Comedy,unemployed,18-24,M',
 'Comedy,unemployed,18-24,Long',
 'Comedy,unemployed,18-24,90s',
 'Comedy,90s,KS,Long',
 'Comedy,90s,KS,M',
 'Comedy,unemployed,18-24,M,90s',
 'Comedy,AZ,Long,M,25-34,90s',
 'Comedy,90s,Long,LA,M',
 'Comedy,90s,LA,M',
 'Comedy,90s,KS,Long,M',
 'Comedy,unemployed,2000s,M',
 'Comedy,AZ,Long,2000s,M',
 'Comedy,unemployed,Long,M,90s,18-24',
 'Comedy,unemployed,Long,90s,18-24',
 'Comedy,AZ,90s,M,25-34',
 'Comedy,AZ,Long,90s,25-34',
 'Comedy,90s,Long,M,25-34,NY,other',
 'Comedy,90s,Long,M,35-44,technician-engineer,CA']

In [17]:
# BookCrossing

ids = ['Fiction', 'Fiction,philippines', 'Fiction,norway', 'Fiction,philippines,en', 'Fiction,philippines,90s', 'Fiction,norway,en', 'Fiction,philippines,en,90s']
labels = ['Fiction', 'philippines', 'norway', 'en', '90s', 'en', '90s']
color_sequence = ['', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA']
parents = ['', 'Fiction', 'Fiction', 'Fiction,philippines', 'Fiction,philippines', 'Fiction,norway', 'Fiction,philippines,en']
user_counts = [46856, 35, 20, 35, 21, 20, 21]

for index in [i for i, parent in enumerate(parents) if 'Fiction,norway' in parent]:
    ids.pop(index)
    labels.pop(index)
    color_sequence.pop(index)
    parents.pop(index)
    user_counts.pop(index)


def capitalize(l):
    return [s.capitalize() if s != 'usa' else 'USA' for s in l]

ids2 = ['Fiction,>56', 'Fiction,35-44', 'Fiction,80s', 'Fiction,35-44,en', 'Fiction,35-44,netherlands', 'Fiction,35-44,80s', 'Fiction,>56,en', 'Fiction,>56,canada', 'Fiction,>56,80s', 'Fiction,>56,en,usa', 'Fiction,>56,en,80s', 'Fiction,>56,en,canada', 'Fiction,35-44,en,usa', 'Fiction,35-44,en,netherlands', 'Fiction,35-44,en,80s', 'Fiction,>56,en,usa,80s', 'Fiction,>56,en,usa,90s', 'Fiction,>56,en,usa,70s', 'Fiction,80s,usa', 'Fiction,80s,en', 'Fiction,80s,50-55', 'Fiction,35-44,en,usa,2000s', 'Fiction,35-44,en,usa,90s', 'Fiction,35-44,en,usa,80s', 'Fiction,80s,usa,en', 'Fiction,80s,usa,50-55', 'Fiction,>56,canada,90s', 'Fiction,>56,canada,80s', 'Fiction,80s,usa,en,45-49', 'Fiction,80s,usa,en,50-55', 'Fiction,>56,80s,usa', 'Fiction,35-44,80s,usa', 'Fiction,35-44,en,netherlands,90s', 'Fiction,35-44,netherlands,90s', 'Fiction,>56,en,canada,90s', 'Fiction,>56,en,80s,canada', 'Fiction,80s,en,50-55']
labels2 = ['>56', '35-44', '80s', 'en', 'netherlands', '80s', 'en', 'canada', '80s', 'usa', '80s', 'canada', 'usa', 'netherlands', '80s', '80s', '90s', '70s', 'usa', 'en', '50-55', '2000s', '90s', '80s', 'en', '50-55', '90s', '80s', '45-49', '50-55', 'usa', 'usa', '90s', '90s', '90s', 'canada', '50-55']
color_sequence2 = ['#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B']
parents2 = ['Fiction', 'Fiction', 'Fiction', 'Fiction,35-44', 'Fiction,35-44', 'Fiction,35-44', 'Fiction,>56', 'Fiction,>56', 'Fiction,>56', 'Fiction,>56,en', 'Fiction,>56,en', 'Fiction,>56,en', 'Fiction,35-44,en', 'Fiction,35-44,en', 'Fiction,35-44,en', 'Fiction,>56,en,usa', 'Fiction,>56,en,usa', 'Fiction,>56,en,usa', 'Fiction,80s', 'Fiction,80s', 'Fiction,80s', 'Fiction,35-44,en,usa', 'Fiction,35-44,en,usa', 'Fiction,35-44,en,usa', 'Fiction,80s,usa', 'Fiction,80s,usa', 'Fiction,>56,canada', 'Fiction,>56,canada', 'Fiction,80s,usa,en', 'Fiction,80s,usa,en', 'Fiction,>56,80s', 'Fiction,35-44,80s', 'Fiction,35-44,en,netherlands', 'Fiction,35-44,netherlands', 'Fiction,>56,en,canada', 'Fiction,>56,en,80s', 'Fiction,80s,en']
user_counts2 = [3089, 6236, 9098, 6036, 51, 1409, 3073, 269, 485, 2578, 485, 269, 4595, 51, 1396, 388, 1530, 52, 6765, 8981, 442, 3121, 3044, 1060, 6765, 354, 182, 62, 353, 354, 388, 1060, 36, 36, 182, 62, 439]

ids3 = ['Fiction,it', 'Fiction,en', 'Fiction,en,canada', 'Fiction,en,usa', 'Fiction,en,united kingdom', 'Fiction,en,canada,90s', 'Fiction,en,canada,50-55', 'Fiction,en,canada,<18', 'Fiction,en,canada,90s,35-44', 'Fiction,en,canada,90s,25-34', 'Fiction,en,canada,90s,18-24', 'Fiction,it,18-24', 'Fiction,it,35-44', 'Fiction,it,italy', 'Fiction,en,usa,<18', 'Fiction,en,usa,90s', 'Fiction,en,usa,60s', 'Fiction,en,usa,90s,25-34', 'Fiction,en,usa,90s,35-44', 'Fiction,en,usa,90s,18-24', 'Fiction,en,usa,60s,35-44', 'Fiction,en,usa,60s,18-24', 'Fiction,en,usa,60s,25-34', 'Fiction,en,united kingdom,<18', 'Fiction,en,united kingdom,70s', 'Fiction,en,united kingdom,2000s', 'Fiction,en,united kingdom,2000s,18-24', 'Fiction,en,united kingdom,2000s,25-34', 'Fiction,en,united kingdom,2000s,35-44', 'Fiction,en,canada,<18,80s', 'Fiction,en,canada,<18,90s', 'Fiction,en,canada,<18,2000s', 'Fiction,en,usa,<18,2000s', 'Fiction,en,usa,<18,80s', 'Fiction,en,usa,<18,90s', 'Fiction,en,canada,50-55,80s', 'Fiction,en,canada,50-55,2000s', 'Fiction,en,canada,50-55,90s', 'Fiction,it,italy,25-34', 'Fiction,it,italy,90s', 'Fiction,it,italy,2000s', 'Fiction,it,35-44,italy', 'Fiction,it,35-44,2000s', 'Fiction,it,35-44,90s', 'Fiction,it,italy,25-34,90s', 'Fiction,it,italy,25-34,2000s', 'Fiction,it,italy,90s,18-24', 'Fiction,it,italy,90s,35-44', 'Fiction,it,18-24,italy', 'Fiction,it,18-24,90s', 'Fiction,norway,en', 'Fiction,en,united kingdom,70s,25-34', 'Fiction,en,united kingdom,<18,90s']
labels3 = ['it', 'en', 'canada', 'usa', 'united kingdom', '90s', '50-55', '<18', '35-44', '25-34', '18-24', '18-24', '35-44', 'italy', '<18', '90s', '60s', '25-34', '35-44', '18-24', '35-44', '18-24', '25-34', '<18', '70s', '2000s', '18-24', '25-34', '35-44', '80s', '90s', '2000s', '2000s', '80s', '90s', '80s', '2000s', '90s', '25-34', '90s', '2000s', 'italy', '2000s', '90s', '90s', '2000s', '18-24', '35-44', 'italy', '90s', 'en', '25-34', '90s']
color_sequence3 = ['#00CC96', '#00CC96', '#00CC96', '#00CC96', '#00CC96', '#00CC96', '#00CC96', '#00CC96', '#00CC96', '#00CC96', '#00CC96', '#00CC96', '#00CC96', '#00CC96', '#00CC96', '#00CC96', '#00CC96', '#00CC96', '#00CC96', '#00CC96', '#00CC96', '#00CC96', '#00CC96', '#00CC96', '#00CC96', '#00CC96', '#00CC96', '#00CC96', '#00CC96', '#00CC96', '#00CC96', '#00CC96', '#00CC96', '#00CC96', '#00CC96', '#00CC96', '#00CC96', '#00CC96', '#00CC96', '#00CC96', '#00CC96', '#00CC96', '#00CC96', '#00CC96', '#00CC96', '#00CC96', '#00CC96', '#00CC96', '#00CC96', '#00CC96', '#00CC96', '#00CC96', '#00CC96']
parents3 = ['Fiction', 'Fiction', 'Fiction,en', 'Fiction,en', 'Fiction,en', 'Fiction,en,canada', 'Fiction,en,canada', 'Fiction,en,canada', 'Fiction,en,canada,90s', 'Fiction,en,canada,90s', 'Fiction,en,canada,90s', 'Fiction,it', 'Fiction,it', 'Fiction,it', 'Fiction,en,usa', 'Fiction,en,usa', 'Fiction,en,usa', 'Fiction,en,usa,90s', 'Fiction,en,usa,90s', 'Fiction,en,usa,90s', 'Fiction,en,usa,60s', 'Fiction,en,usa,60s', 'Fiction,en,usa,60s', 'Fiction,en,united kingdom', 'Fiction,en,united kingdom', 'Fiction,en,united kingdom', 'Fiction,en,united kingdom,2000s', 'Fiction,en,united kingdom,2000s', 'Fiction,en,united kingdom,2000s', 'Fiction,en,canada,<18', 'Fiction,en,canada,<18', 'Fiction,en,canada,<18', 'Fiction,en,usa,<18', 'Fiction,en,usa,<18', 'Fiction,en,usa,<18', 'Fiction,en,canada,50-55', 'Fiction,en,canada,50-55', 'Fiction,en,canada,50-55', 'Fiction,it,italy', 'Fiction,it,italy', 'Fiction,it,italy', 'Fiction,it,35-44', 'Fiction,it,35-44', 'Fiction,it,35-44', 'Fiction,it,italy,25-34', 'Fiction,it,italy,25-34', 'Fiction,it,italy,90s', 'Fiction,it,italy,90s', 'Fiction,it,18-24', 'Fiction,it,18-24', 'Fiction,norway', 'Fiction,en,united kingdom,70s', 'Fiction,en,united kingdom,<18']
user_counts3 = [411, 45615, 5002, 34693, 1527, 3417, 214, 102, 403, 2194, 308, 49, 63, 378, 885, 22145, 210, 13095, 3044, 1675, 38, 26, 104, 36, 55, 939, 124, 490, 175, 25, 56, 48, 465, 198, 519, 54, 130, 127, 256, 268, 151, 57, 25, 44, 178, 109, 36, 41, 49, 36, 20, 32, 20]

"""
ids2 = []
labels2 = []
color_sequence2 = []
parents2 = []
user_counts2 = []

ids3 = []
labels3 = []
color_sequence3 = []
parents3 = []
user_counts3 = []
"""

fig =go.Figure(go.Sunburst(
    ids=ids+ids2+ids3,
    labels=capitalize(labels+labels2+labels3),
    parents=parents+parents2+parents3,
    #values=[6031, 5907, 5903, 4238, 800, 1665, 296, 828, 549, 1514, 289, 83, 72, 38, ],
    marker=dict(colors=[hex_to_rgba(hex, get_opacity(user_count)) if hex != '' else '' for hex, user_count in zip(color_sequence+color_sequence2+color_sequence3, user_counts+user_counts2+user_counts3)])
))
fig.update_layout(margin = dict(t=0, l=0, r=0, b=0))

fig.update_traces(leaf=dict(opacity = 1))

fig.write_image("bookcrossing_sunburst.svg")

fig.show()

In [45]:
# Yelp
ids = ['', 'Pets', 'Religious Organizations', 'Religious Organizations,F', 'Religious Organizations,Mesa', 'Religious Organizations,M', 'Religious Organizations,F,popular', 'Religious Organizations,F,semipopular', 'Religious Organizations,F,unpopular', 'Pets,F', 'Pets,Tempe', 'Pets,popular', 'Pets,popular,M', 'Pets,popular,F', 'Pets,popular,Mesa', 'Pets,popular,F,Charlotte', 'Pets,popular,F,Phoenix', 'Pets,popular,F,Las Vegas', 'Religious Organizations,F,popular,Montréal', 'Religious Organizations,F,popular,Pittsburgh', 'Religious Organizations,F,popular,Las Vegas', 'Pets,F,Las Vegas', 'Pets,F,Phoenix', 'Pets,F,Charlotte', 'Religious Organizations,F,semipopular,Las Vegas', 'Religious Organizations,F,semipopular,Pittsburgh', 'Religious Organizations,F,semipopular,Montréal', 'Religious Organizations,M,Charlotte', 'Religious Organizations,M,semipopular', 'Religious Organizations,M,popular', 'Religious Organizations,M,popular,Pittsburgh', 'Religious Organizations,M,popular,Montréal', 'Religious Organizations,M,popular,Las Vegas', 'Religious Organizations,M,semipopular,Las Vegas', 'Religious Organizations,M,semipopular,Montréal', 'Religious Organizations,M,semipopular,Pittsburgh', 'Pets,Tempe,unpopular', 'Pets,Tempe,F', 'Pets,Tempe,semipopular', 'Pets,F,Las Vegas,semipopular', 'Pets,F,Las Vegas,unpopular', 'Religious Organizations,Mesa,semipopular', 'Religious Organizations,Mesa,M', 'Pets,Tempe,unpopular,F', 'Pets,popular,Mesa,F', 'Religious Organizations,Mesa,M,unpopular', 'Religious Organizations,M,Charlotte,semipopular', 'Religious Organizations,F,unpopular,Las Vegas', 'Pets,F,Charlotte,semipopular', 'Pets,Tempe,F,semipopular', 'Pets,F,Phoenix,semipopular']
labels = ['Yelp', 'Pets', 'Religious Organizations', 'F', 'Mesa', 'M', 'popular', 'semipopular', 'unpopular', 'F', 'Tempe', 'popular', 'M', 'F', 'Mesa', 'Charlotte', 'Phoenix', 'Las Vegas', 'Montréal', 'Pittsburgh', 'Las Vegas', 'Las Vegas', 'Phoenix', 'Charlotte', 'Las Vegas', 'Pittsburgh', 'Montréal', 'Charlotte', 'semipopular', 'popular', 'Pittsburgh', 'Montréal', 'Las Vegas', 'Las Vegas', 'Montréal', 'Pittsburgh', 'unpopular', 'F', 'semipopular', 'semipopular', 'unpopular', 'semipopular', 'M', 'F', 'F', 'unpopular', 'semipopular', 'Las Vegas', 'semipopular', 'semipopular', 'semipopular']
color_sequence = ['', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA']
parents = ['', 'Yelp', 'Yelp', 'Religious Organizations', 'Religious Organizations', 'Religious Organizations', 'Religious Organizations,F', 'Religious Organizations,F', 'Religious Organizations,F', 'Pets', 'Pets', 'Pets', 'Pets,popular', 'Pets,popular', 'Pets,popular', 'Pets,popular,F', 'Pets,popular,F', 'Pets,popular,F', 'Religious Organizations,F,popular', 'Religious Organizations,F,popular', 'Religious Organizations,F,popular', 'Pets,F', 'Pets,F', 'Pets,F', 'Religious Organizations,F,semipopular', 'Religious Organizations,F,semipopular', 'Religious Organizations,F,semipopular', 'Religious Organizations,M', 'Religious Organizations,M', 'Religious Organizations,M', 'Religious Organizations,M,popular', 'Religious Organizations,M,popular', 'Religious Organizations,M,popular', 'Religious Organizations,M,semipopular', 'Religious Organizations,M,semipopular', 'Religious Organizations,M,semipopular', 'Pets,Tempe', 'Pets,Tempe', 'Pets,Tempe', 'Pets,F,Las Vegas', 'Pets,F,Las Vegas', 'Religious Organizations,Mesa', 'Religious Organizations,Mesa', 'Pets,Tempe,unpopular', 'Pets,popular,Mesa', 'Religious Organizations,Mesa,M', 'Religious Organizations,M,Charlotte', 'Religious Organizations,F,unpopular', 'Pets,F,Charlotte', 'Pets,Tempe,F', 'Pets,F,Phoenix']
user_counts = [1439009, 49706, 4322, 2601, 121, 1721, 572, 830, 1199, 34972, 2145, 2295, 671, 1624, 99, 156, 343, 527, 106, 95, 127, 10551, 6683, 2046, 234, 111, 55, 99, 598, 324, 51, 69, 67, 140, 52, 73, 1453, 1508, 554, 2834, 7190, 27, 39, 1029, 66, 25, 30, 352, 557, 387, 1702]

ids2 = ['Mass Media', 'Mississauga', 'Hotels & Travel', 'Mass Media,Pittsburgh', 'Mass Media,unpopular', 'Mass Media,semipopular', 'Mass Media,unpopular,Cleveland', 'Mass Media,unpopular,M', 'Mass Media,unpopular,F', 'Hotels & Travel,Las Vegas', 'Hotels & Travel,Toronto', 'Hotels & Travel,Phoenix', 'Mississauga,Professional Services', 'Mississauga,Automotive', 'Mississauga,unpopular', 'Mississauga,unpopular,Hotels & Travel', 'Mississauga,unpopular,Restaurant', 'Mississauga,unpopular,Home Services', 'Hotels & Travel,Toronto,F', 'Hotels & Travel,Toronto,M', 'Hotels & Travel,Toronto,semipopular', 'Mississauga,Automotive,F', 'Mississauga,Automotive,unpopular', 'Mississauga,Automotive,semipopular', 'Hotels & Travel,Las Vegas,F', 'Hotels & Travel,Las Vegas,M', 'Hotels & Travel,Las Vegas,semipopular', 'Mass Media,semipopular,M', 'Mass Media,semipopular,Scottsdale', 'Mass Media,semipopular,Tempe', 'Mass Media,unpopular,M,Scottsdale', 'Mass Media,unpopular,M,Tempe', 'Mass Media,unpopular,M,Phoenix', 'Mass Media,unpopular,F,Scottsdale', 'Mass Media,unpopular,F,Phoenix', 'Mass Media,unpopular,F,Tempe', 'Hotels & Travel,Phoenix,semipopular', 'Hotels & Travel,Phoenix,M', 'Hotels & Travel,Phoenix,unpopular', 'Mississauga,unpopular,Home Services,M', 'Mississauga,unpopular,Home Services,F', 'Mississauga,unpopular,Hotels & Travel,M', 'Mississauga,unpopular,Hotels & Travel,F', 'Hotels & Travel,Phoenix,semipopular,F', 'Hotels & Travel,Phoenix,semipopular,M', 'Mississauga,unpopular,Restaurant,F', 'Mississauga,unpopular,Restaurant,M', 'Hotels & Travel,Las Vegas,M,unpopular', 'Hotels & Travel,Las Vegas,M,semipopular', 'Mississauga,Automotive,F,semipopular', 'Mississauga,Automotive,F,unpopular', 'Hotels & Travel,Toronto,M,unpopular', 'Hotels & Travel,Toronto,M,semipopular', 'Hotels & Travel,Las Vegas,F,semipopular', 'Hotels & Travel,Las Vegas,F,unpopular', 'Mass Media,Pittsburgh,M', 'Mass Media,Pittsburgh,unpopular', 'Mississauga,Professional Services,M', 'Mississauga,Professional Services,unpopular', 'Mass Media,semipopular,M,Phoenix', 'Mass Media,semipopular,M,Tempe', 'Mississauga,Professional Services,M,unpopular', 'Mississauga,Automotive,unpopular,M', 'Hotels & Travel,Phoenix,M,unpopular', 'Hotels & Travel,Phoenix,unpopular,F', 'Hotels & Travel,Toronto,F,unpopular', 'Mass Media,semipopular,Tempe,F']
labels2 = ['Mass Media', 'Mississauga', 'Hotels & Travel', 'Pittsburgh', 'unpopular', 'semipopular', 'Cleveland', 'M', 'F', 'Las Vegas', 'Toronto', 'Phoenix', 'Professional Services', 'Automotive', 'unpopular', 'Hotels & Travel', 'Restaurant', 'Home Services', 'F', 'M', 'semipopular', 'F', 'unpopular', 'semipopular', 'F', 'M', 'semipopular', 'M', 'Scottsdale', 'Tempe', 'Scottsdale', 'Tempe', 'Phoenix', 'Scottsdale', 'Phoenix', 'Tempe', 'semipopular', 'M', 'unpopular', 'M', 'F', 'M', 'F', 'F', 'M', 'F', 'M', 'unpopular', 'semipopular', 'semipopular', 'unpopular', 'unpopular', 'semipopular', 'semipopular', 'unpopular', 'M', 'unpopular', 'M', 'unpopular', 'Phoenix', 'Tempe', 'unpopular', 'M', 'unpopular', 'F', 'unpopular', 'F']
color_sequence2 = ['#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B']
parents2 = ['Yelp', 'Yelp', 'Yelp', 'Mass Media', 'Mass Media', 'Mass Media', 'Mass Media,unpopular', 'Mass Media,unpopular', 'Mass Media,unpopular', 'Hotels & Travel', 'Hotels & Travel', 'Hotels & Travel', 'Mississauga', 'Mississauga', 'Mississauga', 'Mississauga,unpopular', 'Mississauga,unpopular', 'Mississauga,unpopular', 'Hotels & Travel,Toronto', 'Hotels & Travel,Toronto', 'Hotels & Travel,Toronto', 'Mississauga,Automotive', 'Mississauga,Automotive', 'Mississauga,Automotive', 'Hotels & Travel,Las Vegas', 'Hotels & Travel,Las Vegas', 'Hotels & Travel,Las Vegas', 'Mass Media,semipopular', 'Mass Media,semipopular', 'Mass Media,semipopular', 'Mass Media,unpopular,M', 'Mass Media,unpopular,M', 'Mass Media,unpopular,M', 'Mass Media,unpopular,F', 'Mass Media,unpopular,F', 'Mass Media,unpopular,F', 'Hotels & Travel,Phoenix', 'Hotels & Travel,Phoenix', 'Hotels & Travel,Phoenix', 'Mississauga,unpopular,Home Services', 'Mississauga,unpopular,Home Services', 'Mississauga,unpopular,Hotels & Travel', 'Mississauga,unpopular,Hotels & Travel', 'Hotels & Travel,Phoenix,semipopular', 'Hotels & Travel,Phoenix,semipopular', 'Mississauga,unpopular,Restaurant', 'Mississauga,unpopular,Restaurant', 'Hotels & Travel,Las Vegas,M', 'Hotels & Travel,Las Vegas,M', 'Mississauga,Automotive,F', 'Mississauga,Automotive,F', 'Hotels & Travel,Toronto,M', 'Hotels & Travel,Toronto,M', 'Hotels & Travel,Las Vegas,F', 'Hotels & Travel,Las Vegas,F', 'Mass Media,Pittsburgh', 'Mass Media,Pittsburgh', 'Mississauga,Professional Services', 'Mississauga,Professional Services', 'Mass Media,semipopular,M', 'Mass Media,semipopular,M', 'Mississauga,Professional Services,M', 'Mississauga,Automotive,unpopular', 'Hotels & Travel,Phoenix,M', 'Hotels & Travel,Phoenix,unpopular', 'Hotels & Travel,Toronto,F', 'Mass Media,semipopular,Tempe']
user_counts2 = [3241, 19284, 199757, 59, 1843, 892, 32, 987, 856, 121040, 8049, 26482, 166, 871, 13843, 1359, 9893, 308, 4151, 3898, 2591, 316, 617, 189, 65490, 55550, 41547, 482, 37, 94, 70, 174, 225, 67, 191, 120, 7933, 12710, 15325, 175, 133, 817, 542, 3995, 3938, 4598, 5295, 31008, 19171, 74, 207, 2064, 1269, 22376, 33577, 37, 29, 71, 116, 84, 52, 53, 410, 7374, 7951, 1994, 42]


ids3 = ['semipopular', 'unpopular', 'Mass Media,Pittsburgh', 'Mass Media,semipopular', 'Mass Media,unpopular', 'Mass Media,unpopular,F', 'Mass Media,unpopular,M', 'Mass Media,unpopular,Mesa', 'Mass Media,semipopular,M', 'Mass Media,semipopular,F', 'Mass Media,semipopular,Tempe', 'semipopular,Restaurant', 'semipopular,Financial Services', 'semipopular,Peoria', 'semipopular,Financial Services,F', 'semipopular,Financial Services,M', 'semipopular,Financial Services,Peoria', 'semipopular,Restaurant,F', 'semipopular,Restaurant,M', 'semipopular,Restaurant,Peoria', 'unpopular,Financial Services', 'unpopular,Restaurant', 'unpopular,Religious Organizations', 'unpopular,Financial Services,M', 'unpopular,Financial Services,F', 'unpopular,Financial Services,Calgary', 'unpopular,Restaurant,Mississauga', 'unpopular,Restaurant,M', 'unpopular,Restaurant,F', 'unpopular,Religious Organizations,M', 'unpopular,Religious Organizations,F', 'unpopular,Religious Organizations,Toronto', 'semipopular,Financial Services,F,Scottsdale', 'semipopular,Financial Services,F,Phoenix', 'semipopular,Financial Services,F,Las Vegas', 'unpopular,Financial Services,M,Las Vegas', 'unpopular,Financial Services,M,Scottsdale', 'unpopular,Financial Services,M,Phoenix', 'unpopular,Financial Services,F,Las Vegas', 'unpopular,Financial Services,F,Scottsdale', 'unpopular,Financial Services,F,Phoenix', 'semipopular,Peoria,Restaurants', 'semipopular,Peoria,Hotels & Travel', 'semipopular,Peoria,Professional Services', 'Mass Media,unpopular,F,Las Vegas', 'Mass Media,unpopular,F,Chandler', 'Mass Media,unpopular,F,Phoenix', 'semipopular,Financial Services,M,Las Vegas', 'semipopular,Financial Services,M,Charlotte', 'semipopular,Financial Services,M,Phoenix', 'unpopular,Restaurant,F,Phoenix', 'unpopular,Restaurant,F,Toronto', 'unpopular,Restaurant,F,Las Vegas', 'unpopular,Restaurant,M,Las Vegas', 'unpopular,Restaurant,M,Phoenix', 'unpopular,Restaurant,M,Toronto', 'Mass Media,unpopular,M,Chandler', 'Mass Media,unpopular,M,Las Vegas', 'Mass Media,unpopular,M,Phoenix', 'semipopular,Restaurant,F,Phoenix', 'semipopular,Restaurant,F,Las Vegas', 'semipopular,Restaurant,F,Peoria', 'semipopular,Restaurant,M,Las Vegas', 'semipopular,Restaurant,M,Phoenix', 'semipopular,Restaurant,M,Peoria', 'unpopular,Religious Organizations,M,Henderson', 'unpopular,Religious Organizations,M,Phoenix', 'unpopular,Religious Organizations,M,Las Vegas', 'unpopular,Religious Organizations,F,Toronto', 'unpopular,Religious Organizations,F,Charlotte', 'unpopular,Religious Organizations,F,Glendale', 'semipopular,Peoria,Hotels & Travel,M', 'semipopular,Peoria,Hotels & Travel,F', 'semipopular,Peoria,Restaurants,F', 'semipopular,Peoria,Restaurants,M', 'unpopular,Restaurant,Mississauga,M', 'unpopular,Restaurant,Mississauga,F', 'Mass Media,semipopular,F,Las Vegas', 'Mass Media,semipopular,F,Phoenix', 'Mass Media,semipopular,M,Phoenix', 'Mass Media,semipopular,M,Las Vegas', 'Mass Media,unpopular,Mesa,M', 'Mass Media,Pittsburgh,M', 'semipopular,Financial Services,Peoria,M', 'unpopular,Financial Services,Calgary,F', 'semipopular,Peoria,Professional Services,M']
labels3 = ['semipopular', 'unpopular', 'Pittsburgh', 'semipopular', 'unpopular', 'F', 'M', 'Mesa', 'M', 'F', 'Tempe', 'Restaurant', 'Financial Services', 'Peoria', 'F', 'M', 'Peoria', 'F', 'M', 'Peoria', 'Financial Services', 'Restaurant', 'Religious Organizations', 'M', 'F', 'Calgary', 'Mississauga', 'M', 'F', 'M', 'F', 'Toronto', 'Scottsdale', 'Phoenix', 'Las Vegas', 'Las Vegas', 'Scottsdale', 'Phoenix', 'Las Vegas', 'Scottsdale', 'Phoenix', 'Restaurants', 'Hotels & Travel', 'Professional Services', 'Las Vegas', 'Chandler', 'Phoenix', 'Las Vegas', 'Charlotte', 'Phoenix', 'Phoenix', 'Toronto', 'Las Vegas', 'Las Vegas', 'Phoenix', 'Toronto', 'Chandler', 'Las Vegas', 'Phoenix', 'Phoenix', 'Las Vegas', 'Peoria', 'Las Vegas', 'Phoenix', 'Peoria', 'Henderson', 'Phoenix', 'Las Vegas', 'Toronto', 'Charlotte', 'Glendale', 'M', 'F', 'F', 'M', 'M', 'F', 'Las Vegas', 'Phoenix', 'Phoenix', 'Las Vegas', 'M', 'M', 'M', 'F', 'M']
color_sequence3 = ['#00CC96', '#00CC96', '#00CC96', '#00CC96', '#00CC96', '#00CC96', '#00CC96', '#00CC96', '#00CC96', '#00CC96', '#00CC96', '#00CC96', '#00CC96', '#00CC96', '#00CC96', '#00CC96', '#00CC96', '#00CC96', '#00CC96', '#00CC96', '#00CC96', '#00CC96', '#00CC96', '#00CC96', '#00CC96', '#00CC96', '#00CC96', '#00CC96', '#00CC96', '#00CC96', '#00CC96', '#00CC96', '#00CC96', '#00CC96', '#00CC96', '#00CC96', '#00CC96', '#00CC96', '#00CC96', '#00CC96', '#00CC96', '#00CC96', '#00CC96', '#00CC96', '#00CC96', '#00CC96', '#00CC96', '#00CC96', '#00CC96', '#00CC96', '#00CC96', '#00CC96', '#00CC96', '#00CC96', '#00CC96', '#00CC96', '#00CC96', '#00CC96', '#00CC96', '#00CC96', '#00CC96', '#00CC96', '#00CC96', '#00CC96', '#00CC96', '#00CC96', '#00CC96', '#00CC96', '#00CC96', '#00CC96', '#00CC96', '#00CC96', '#00CC96', '#00CC96', '#00CC96', '#00CC96', '#00CC96', '#00CC96', '#00CC96', '#00CC96', '#00CC96', '#00CC96', '#00CC96', '#00CC96', '#00CC96', '#00CC96']
parents3 = ['Yelp', 'Yelp', 'Mass Media', 'Mass Media', 'Mass Media', 'Mass Media,unpopular', 'Mass Media,unpopular', 'Mass Media,unpopular', 'Mass Media,semipopular', 'Mass Media,semipopular', 'Mass Media,semipopular', 'semipopular', 'semipopular', 'semipopular', 'semipopular,Financial Services', 'semipopular,Financial Services', 'semipopular,Financial Services', 'semipopular,Restaurant', 'semipopular,Restaurant', 'semipopular,Restaurant', 'unpopular', 'unpopular', 'unpopular', 'unpopular,Financial Services', 'unpopular,Financial Services', 'unpopular,Financial Services', 'unpopular,Restaurant', 'unpopular,Restaurant', 'unpopular,Restaurant', 'unpopular,Religious Organizations', 'unpopular,Religious Organizations', 'unpopular,Religious Organizations', 'semipopular,Financial Services,F', 'semipopular,Financial Services,F', 'semipopular,Financial Services,F', 'unpopular,Financial Services,M', 'unpopular,Financial Services,M', 'unpopular,Financial Services,M', 'unpopular,Financial Services,F', 'unpopular,Financial Services,F', 'unpopular,Financial Services,F', 'semipopular,Peoria', 'semipopular,Peoria', 'semipopular,Peoria', 'Mass Media,unpopular,F', 'Mass Media,unpopular,F', 'Mass Media,unpopular,F', 'semipopular,Financial Services,M', 'semipopular,Financial Services,M', 'semipopular,Financial Services,M', 'unpopular,Restaurant,F', 'unpopular,Restaurant,F', 'unpopular,Restaurant,F', 'unpopular,Restaurant,M', 'unpopular,Restaurant,M', 'unpopular,Restaurant,M', 'Mass Media,unpopular,M', 'Mass Media,unpopular,M', 'Mass Media,unpopular,M', 'semipopular,Restaurant,F', 'semipopular,Restaurant,F', 'semipopular,Restaurant,F', 'semipopular,Restaurant,M', 'semipopular,Restaurant,M', 'semipopular,Restaurant,M', 'unpopular,Religious Organizations,M', 'unpopular,Religious Organizations,M', 'unpopular,Religious Organizations,M', 'unpopular,Religious Organizations,F', 'unpopular,Religious Organizations,F', 'unpopular,Religious Organizations,F', 'semipopular,Peoria,Hotels & Travel', 'semipopular,Peoria,Hotels & Travel', 'semipopular,Peoria,Restaurants', 'semipopular,Peoria,Restaurants', 'unpopular,Restaurant,Mississauga', 'unpopular,Restaurant,Mississauga', 'Mass Media,semipopular,F', 'Mass Media,semipopular,F', 'Mass Media,semipopular,M', 'Mass Media,semipopular,M', 'Mass Media,unpopular,Mesa', 'Mass Media,Pittsburgh', 'semipopular,Financial Services,Peoria', 'unpopular,Financial Services,Calgary', 'semipopular,Peoria,Professional Services']
user_counts3 = [1439009, 3241, 285678, 1114454, 59, 892, 1843, 856, 987, 39, 482, 410, 94, 232115, 5721, 6819, 2843, 2878, 61, 126216, 105899, 4293, 15407, 750262, 1998, 7720, 7687, 104, 9893, 361278, 388984, 799, 1199, 133, 228, 507, 1217, 2838, 653, 1441, 2768, 603, 1463, 4264, 221, 198, 193, 137, 191, 1147, 108, 508, 59282, 29817, 145819, 135492, 53799, 29146, 122, 214, 225, 20800, 66223, 2359, 54290, 18212, 1934, 97, 90, 201, 80, 53, 21, 100, 121, 2345, 1919, 5295, 4598, 132, 63, 84, 141, 26, 37, 32, 50, 94]

has_mass_media = True

while has_mass_media:
    has_mass_media = False
    for lbl_id, lbl in enumerate(ids3):
        if 'Mass Media' in lbl:
            ids3.pop(lbl_id)
            labels3.pop(lbl_id)
            parents3.pop(lbl_id)
            user_counts3.pop(lbl_id)
            color_sequence3.pop(lbl_id)
            
            has_mass_media = True
            break



def rename(l):
    renamed_l = []
    for lbl in l:
        renamed_l.append(lbl.capitalize())
    return renamed_l
    

fig = go.Figure(go.Sunburst(
    ids=ids+ids2+ids3,
    labels=rename(labels+labels2+labels3),
    parents=parents+parents2+parents3,
    #values=[6031, 5907, 5903, 4238, 800, 1665, 296, 828, 549, 1514, 289, 83, 72, 38, ],
    marker=dict(colors=[hex_to_rgba(hex, get_opacity(user_count)) if hex != '' else '' for hex, user_count in zip(color_sequence+color_sequence2+color_sequence3, user_counts+user_counts2+user_counts3)])
))
fig.update_layout(margin = dict(t=0, l=0, r=0, b=0))

fig.update_traces(leaf=dict(opacity = 1))

# fig.write_image("fig.pdf")
fig.write_image("yelp_sunburst.svg")

fig.show()

# import plotly
# plotly.offline.plot(fig, filename='sunburst.pdf')

In [11]:
occupation_renames = {
    'executive-managerial': 'Executive',
    'retired': 'Retired',
    'college-grad student': 'College student',
    'technician-engineer':  'Engineer',
    'unemployed': 'Unemployed',
    'academic-educator': 'Academic'
}

ids = ['Comedy', 'Comedy,Short', 'Comedy,30s', 'Comedy,30s,retired', 'Comedy,30s,Long', 'Comedy,30s,PA', 'Comedy,30s,Long,M', 'Comedy,30s,Long,retired', 'Comedy,30s,Long,F', 'Comedy,Short,90s', 'Comedy,Short,NC', 'Comedy,Short,TX', 'Comedy,Short,90s,F', 'Comedy,Short,90s,PA', 'Comedy,Short,90s,M', 'Comedy,Short,90s,M,25-34', 'Comedy,Short,90s,M,18-24', 'Comedy,Short,90s,M,35-44', 'Comedy,Short,90s,F,25-34', 'Comedy,Short,90s,F,35-44', 'Comedy,Short,90s,F,18-24', 'Comedy,30s,Long,M,50-55', 'Comedy,30s,Long,M,35-44', 'Comedy,30s,Long,M,45-49', 'Comedy,30s,Long,F,25-34', 'Comedy,30s,Long,F,50-55', 'Comedy,30s,Long,F,>56', 'Comedy,Short,90s,M,25-34,MN', 'Comedy,Short,90s,M,25-34,CA', 'Comedy,Short,90s,M,25-34,MA', 'Comedy,30s,Long,M,35-44,executive-managerial', 'Comedy,30s,Long,M,35-44,CA', 'Comedy,30s,Long,M,35-44,NY', 'Comedy,Short,90s,M,18-24,college-grad student', 'Comedy,Short,90s,M,18-24,CA', 'Comedy,Short,TX,90s', 'Comedy,Short,TX,M', 'Comedy,30s,retired,>56', 'Comedy,30s,retired,Long', 'Comedy,30s,retired,Long,>56', 'Comedy,30s,retired,Long,M', 'Comedy,30s,PA,Long', 'Comedy,30s,PA,M', 'Comedy,30s,PA,M,Long', 'Comedy,30s,retired,>56,Long', 'Comedy,Short,NC,90s', 'Comedy,Short,TX,M,90s', 'Comedy,30s,PA,Long,M', 'Comedy,30s,Long,retired,>56', 'Comedy,Short,TX,90s,M', 'Comedy,Short,90s,F,18-24,college-grad student', 'Comedy,Short,90s,F,25-34,CA', 'Comedy,30s,Long,F,25-34,CA', 'Comedy,Short,90s,M,35-44,technician-engineer', 'Comedy,K-12 student', 'Comedy,K-12 student,Long', 'Comedy,K-12 student,2000s', 'Comedy,K-12 student,M', 'Comedy,K-12 student,2000s,<18', 'Comedy,K-12 student,2000s,F', 'Comedy,K-12 student,2000s,Long', 'Comedy,K-12 student,Long,2000s', 'Comedy,K-12 student,Long,90s', 'Comedy,K-12 student,Long,M', 'Comedy,K-12 student,2000s,<18,F', 'Comedy,K-12 student,2000s,<18,Long', 'Comedy,K-12 student,2000s,Long,F', 'Comedy,K-12 student,2000s,Long,<18', 'Comedy,K-12 student,Long,2000s,<18', 'Comedy,K-12 student,Long,2000s,F', 'Comedy,K-12 student,Long,90s,M', 'Comedy,K-12 student,Long,90s,<18']
labels = ['Comedy', 'Short', '30s', 'retired', 'Long', 'PA', 'M', 'retired', 'F', '90s', 'NC', 'TX', 'F', 'PA', 'M', '25-34', '18-24', '35-44', '25-34', '35-44', '18-24', '50-55', '35-44', '45-49', '25-34', '50-55', '>56', 'MN', 'CA', 'MA', 'executive-managerial', 'CA', 'NY', 'college-grad student', 'CA', '90s', 'M', '>56', 'Long', '>56', 'M', 'Long', 'M', 'Long', 'Long', '90s', '90s', 'M', '>56', 'M', 'college-grad student', 'CA', 'CA', 'technician-engineer', 'K-12 student', 'Long', '2000s', 'M', '<18', 'F', 'Long', '2000s', '90s', 'M', 'F', 'Long', 'F', '<18', '<18', 'F', 'M', '<18']
color_sequence = ['', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#00CC96', '#00CC96', '#00CC96', '#00CC96', '#00CC96', '#00CC96', '#00CC96', '#00CC96', '#00CC96', '#00CC96', '#00CC96', '#00CC96', '#00CC96', '#00CC96', '#00CC96', '#00CC96', '#00CC96', '#00CC96']
parents = ['', 'Comedy', 'Comedy', 'Comedy,30s', 'Comedy,30s', 'Comedy,30s', 'Comedy,30s,Long', 'Comedy,30s,Long', 'Comedy,30s,Long', 'Comedy,Short', 'Comedy,Short', 'Comedy,Short', 'Comedy,Short,90s', 'Comedy,Short,90s', 'Comedy,Short,90s', 'Comedy,Short,90s,M', 'Comedy,Short,90s,M', 'Comedy,Short,90s,M', 'Comedy,Short,90s,F', 'Comedy,Short,90s,F', 'Comedy,Short,90s,F', 'Comedy,30s,Long,M', 'Comedy,30s,Long,M', 'Comedy,30s,Long,M', 'Comedy,30s,Long,F', 'Comedy,30s,Long,F', 'Comedy,30s,Long,F', 'Comedy,Short,90s,M,25-34', 'Comedy,Short,90s,M,25-34', 'Comedy,Short,90s,M,25-34', 'Comedy,30s,Long,M,35-44', 'Comedy,30s,Long,M,35-44', 'Comedy,30s,Long,M,35-44', 'Comedy,Short,90s,M,18-24', 'Comedy,Short,90s,M,18-24', 'Comedy,Short,TX', 'Comedy,Short,TX', 'Comedy,30s,retired', 'Comedy,30s,retired', 'Comedy,30s,retired,Long', 'Comedy,30s,retired,Long', 'Comedy,30s,PA', 'Comedy,30s,PA', 'Comedy,30s,PA,M', 'Comedy,30s,retired,>56', 'Comedy,Short,NC', 'Comedy,Short,TX,M', 'Comedy,30s,PA,Long', 'Comedy,30s,Long,retired', 'Comedy,Short,TX,90s', 'Comedy,Short,90s,F,18-24', 'Comedy,Short,90s,F,25-34', 'Comedy,30s,Long,F,25-34', 'Comedy,Short,90s,M,35-44', 'Comedy', 'Comedy,K-12 student', 'Comedy,K-12 student', 'Comedy,K-12 student', 'Comedy,K-12 student,2000s', 'Comedy,K-12 student,2000s', 'Comedy,K-12 student,2000s', 'Comedy,K-12 student,Long', 'Comedy,K-12 student,Long', 'Comedy,K-12 student,Long', 'Comedy,K-12 student,2000s,<18', 'Comedy,K-12 student,2000s,<18', 'Comedy,K-12 student,2000s,Long', 'Comedy,K-12 student,2000s,Long', 'Comedy,K-12 student,Long,2000s', 'Comedy,K-12 student,Long,2000s', 'Comedy,K-12 student,Long,90s', 'Comedy,K-12 student,Long,90s']
user_counts = [6031, 1162, 1328, 31, 1328, 32, 919, 31, 409, 982, 24, 41, 266, 20, 716, 304, 140, 151, 95, 62, 54, 94, 231, 112, 117, 45, 27, 26, 67, 23, 41, 47, 23, 64, 28, 32, 29, 24, 31, 24, 24, 32, 25, 25, 24, 22, 24, 25, 24, 24, 32, 32, 33, 25, 195, 195, 142, 129, 120, 44, 142, 142, 195, 129, 44, 120, 44, 120, 120, 44, 129, 163]

ids2 = ['Comedy,AZ', 'Comedy,90s', 'Comedy,unemployed', 'Comedy,90s,Long', 'Comedy,90s,LA', 'Comedy,90s,KS', 'Comedy,90s,Long,M', 'Comedy,90s,Long,F', 'Comedy,90s,Long,LA', 'Comedy,90s,Long,M,35-44', 'Comedy,90s,Long,M,18-24', 'Comedy,90s,Long,M,25-34', 'Comedy,90s,Long,M,18-24,college-grad student', 'Comedy,90s,Long,M,18-24,other', 'Comedy,90s,Long,M,18-24,writer', 'Comedy,90s,Long,F,18-24', 'Comedy,90s,Long,F,NJ', 'Comedy,90s,Long,F,25-34', 'Comedy,90s,Long,F,18-24,college-grad student', 'Comedy,90s,Long,F,18-24,MI', 'Comedy,90s,Long,F,18-24,MN', 'Comedy,90s,Long,M,35-44,executive-managerial', 'Comedy,90s,Long,M,35-44,academic-educator', 'Comedy,90s,Long,M,35-44,technician-engineer', 'Comedy,90s,Long,F,25-34,TX', 'Comedy,90s,Long,F,25-34,CA', 'Comedy,90s,Long,F,25-34,NY', 'Comedy,90s,Long,M,25-34,CA', 'Comedy,90s,Long,M,25-34,NY', 'Comedy,90s,Long,M,25-34,MN', 'Comedy,90s,Long,M,25-34,CA,writer', 'Comedy,90s,Long,M,25-34,CA,other', 'Comedy,90s,Long,M,25-34,CA,technician-engineer', 'Comedy,90s,Long,M,18-24,college-grad student,MA', 'Comedy,90s,Long,M,18-24,college-grad student,MN', 'Comedy,90s,Long,M,18-24,college-grad student,NY', 'Comedy,unemployed,2000s', 'Comedy,unemployed,18-24', 'Comedy,unemployed,Long', 'Comedy,unemployed,Long,2000s', 'Comedy,unemployed,Long,90s', 'Comedy,unemployed,Long,18-24', 'Comedy,AZ,M', 'Comedy,AZ,90s', 'Comedy,AZ,Long', 'Comedy,AZ,M,2000s', 'Comedy,AZ,M,Long', 'Comedy,AZ,M,25-34', 'Comedy,AZ,M,Long,25-34', 'Comedy,AZ,M,Long,2000s', 'Comedy,AZ,M,Long,90s', 'Comedy,AZ,Long,M', 'Comedy,AZ,Long,2000s', 'Comedy,AZ,Long,90s', 'Comedy,AZ,Long,M,2000s', 'Comedy,AZ,Long,M,90s', 'Comedy,AZ,Long,M,25-34', 'Comedy,unemployed,Long,90s,M', 'Comedy,unemployed,Long,90s,18-24', 'Comedy,AZ,Long,90s,M', 'Comedy,AZ,Long,90s,25-34', 'Comedy,unemployed,18-24,M', 'Comedy,unemployed,18-24,90s', 'Comedy,unemployed,18-24,Long', 'Comedy,AZ,90s,Long', 'Comedy,AZ,90s,M', 'Comedy,AZ,90s,M,25-34', 'Comedy,AZ,90s,M,Long', 'Comedy,AZ,90s,Long,M', 'Comedy,AZ,90s,Long,25-34', 'Comedy,unemployed,2000s,Long', 'Comedy,unemployed,2000s,M', 'Comedy,90s,KS,M', 'Comedy,90s,KS,Long', 'Comedy,unemployed,18-24,90s,M', 'Comedy,unemployed,18-24,90s,Long', 'Comedy,unemployed,Long,18-24,M', 'Comedy,unemployed,Long,18-24,90s', 'Comedy,unemployed,18-24,Long,M', 'Comedy,unemployed,18-24,Long,90s', 'Comedy,90s,LA,M', 'Comedy,90s,LA,Long', 'Comedy,unemployed,2000s,M,Long', 'Comedy,AZ,M,2000s,Long', 'Comedy,unemployed,18-24,90s,M,Long', 'Comedy,AZ,90s,M,25-34,Long']
labels2 = ['AZ', '90s', 'unemployed', 'Long', 'LA', 'KS', 'M', 'F', 'LA', '35-44', '18-24', '25-34', 'college-grad student', 'other', 'writer', '18-24', 'NJ', '25-34', 'college-grad student', 'MI', 'MN', 'executive-managerial', 'academic-educator', 'technician-engineer', 'TX', 'CA', 'NY', 'CA', 'NY', 'MN', 'writer', 'other', 'technician-engineer', 'MA', 'MN', 'NY', '2000s', '18-24', 'Long', '2000s', '90s', '18-24', 'M', '90s', 'Long', '2000s', 'Long', '25-34', '25-34', '2000s', '90s', 'M', '2000s', '90s', '2000s', '90s', '25-34', 'M', '18-24', 'M', '25-34', 'M', '90s', 'Long', 'Long', 'M', '25-34', 'Long', 'M', '25-34', 'Long', 'M', 'M', 'Long', 'M', 'Long', 'M', '90s', 'M', '90s', 'M', 'Long', 'Long', 'Long', 'Long', 'Long']
color_sequence2 = ['#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B']
parents2 = ['Comedy', 'Comedy', 'Comedy', 'Comedy,90s', 'Comedy,90s', 'Comedy,90s', 'Comedy,90s,Long', 'Comedy,90s,Long', 'Comedy,90s,Long', 'Comedy,90s,Long,M', 'Comedy,90s,Long,M', 'Comedy,90s,Long,M', 'Comedy,90s,Long,M,18-24', 'Comedy,90s,Long,M,18-24', 'Comedy,90s,Long,M,18-24', 'Comedy,90s,Long,F', 'Comedy,90s,Long,F', 'Comedy,90s,Long,F', 'Comedy,90s,Long,F,18-24', 'Comedy,90s,Long,F,18-24', 'Comedy,90s,Long,F,18-24', 'Comedy,90s,Long,M,35-44', 'Comedy,90s,Long,M,35-44', 'Comedy,90s,Long,M,35-44', 'Comedy,90s,Long,F,25-34', 'Comedy,90s,Long,F,25-34', 'Comedy,90s,Long,F,25-34', 'Comedy,90s,Long,M,25-34', 'Comedy,90s,Long,M,25-34', 'Comedy,90s,Long,M,25-34', 'Comedy,90s,Long,M,25-34,CA', 'Comedy,90s,Long,M,25-34,CA', 'Comedy,90s,Long,M,25-34,CA', 'Comedy,90s,Long,M,18-24,college-grad student', 'Comedy,90s,Long,M,18-24,college-grad student', 'Comedy,90s,Long,M,18-24,college-grad student', 'Comedy,unemployed', 'Comedy,unemployed', 'Comedy,unemployed', 'Comedy,unemployed,Long', 'Comedy,unemployed,Long', 'Comedy,unemployed,Long', 'Comedy,AZ', 'Comedy,AZ', 'Comedy,AZ', 'Comedy,AZ,M', 'Comedy,AZ,M', 'Comedy,AZ,M', 'Comedy,AZ,M,Long', 'Comedy,AZ,M,Long', 'Comedy,AZ,M,Long', 'Comedy,AZ,Long', 'Comedy,AZ,Long', 'Comedy,AZ,Long', 'Comedy,AZ,Long,M', 'Comedy,AZ,Long,M', 'Comedy,AZ,Long,M', 'Comedy,unemployed,Long,90s', 'Comedy,unemployed,Long,90s', 'Comedy,AZ,Long,90s', 'Comedy,AZ,Long,90s', 'Comedy,unemployed,18-24', 'Comedy,unemployed,18-24', 'Comedy,unemployed,18-24', 'Comedy,AZ,90s', 'Comedy,AZ,90s', 'Comedy,AZ,90s,M', 'Comedy,AZ,90s,M', 'Comedy,AZ,90s,Long', 'Comedy,AZ,90s,Long', 'Comedy,unemployed,2000s', 'Comedy,unemployed,2000s', 'Comedy,90s,KS', 'Comedy,90s,KS', 'Comedy,unemployed,18-24,90s', 'Comedy,unemployed,18-24,90s', 'Comedy,unemployed,Long,18-24', 'Comedy,unemployed,Long,18-24', 'Comedy,unemployed,18-24,Long', 'Comedy,unemployed,18-24,Long', 'Comedy,90s,LA', 'Comedy,90s,LA', 'Comedy,unemployed,2000s,M', 'Comedy,AZ,M,2000s', 'Comedy,unemployed,18-24,90s,M', 'Comedy,AZ,90s,M,25-34']
user_counts2 = [83, 5907, 72, 5903, 33, 38, 4238, 1665, 33, 828, 800, 1514, 368, 74, 35, 296, 34, 549, 162, 20, 21, 173, 74, 109, 31, 118, 36, 289, 104, 115, 25, 32, 47, 23, 24, 25, 45, 30, 72, 45, 72, 30, 58, 83, 83, 36, 58, 24, 24, 36, 58, 58, 50, 83, 36, 58, 24, 57, 30, 58, 33, 24, 30, 30, 83, 58, 24, 58, 58, 33, 45, 34, 29, 38, 24, 30, 24, 30, 24, 30, 28, 33, 34, 36, 24, 24]


def rename_occupations(l):
    renamed_l = []
    for lbl in l:
        if lbl in occupation_renames:
            renamed_l.append(occupation_renames[lbl])
        else:
            renamed_l.append(lbl)
    return renamed_l
    

fig = go.Figure(go.Sunburst(
    ids=ids+ids2,
    labels=rename_occupations(labels+labels2),
    parents=parents+parents2,
    #values=[6031, 5907, 5903, 4238, 800, 1665, 296, 828, 549, 1514, 289, 83, 72, 38, ],
    marker=dict(colors=[hex_to_rgba(hex, get_opacity(user_count)) if hex != '' else '' for hex, user_count in zip(color_sequence+color_sequence2, user_counts+user_counts2)])
))
fig.update_layout(margin = dict(t=0, l=0, r=0, b=0))

fig.update_traces(leaf=dict(opacity = 1))

# fig.write_image("fig.pdf")
fig.write_image("fig.svg")

fig.show()

# import plotly
# plotly.offline.plot(fig, filename='sunburst.pdf')

In [5]:
import plotly.graph_objects as go

fig =go.Figure(go.Sunburst(
    labels=[ "Eve", "Cain", "Seth", "Enos", "Noam", "Abel", "Awan", "Enoch", "Azura"],
    parents=["",    "Eve",  "Eve",  "Seth", "Seth", "Eve",  "Eve",  "Awan",  "Eve" ],
    values=[  65,    14,     12,     10,     2,      6,      6,      4,       4],
    branchvalues="total",
))
fig.update_layout(margin = dict(t=0, l=0, r=0, b=0))

fig.show()

In [13]:
import plotly.graph_objects as go

fig =go.Figure(go.Sunburst(
    ids=['Comedy', 'Comedy,90s', 'Comedy,90s,Long', 'Comedy,90s,Long,Males', 'Comedy,90s,Long,Males,18-24', 'Comedy,90s,Long,Females', 'Comedy,90s,Long,Females,18-24', 'Comedy,90s,Long,Males,35-44', 'Comedy,90s,Long,Females,25-34', 'Comedy,90s,Long,Males,25-34', 'Comedy,90s,Long,Males,25-34,California', 'Comedy,Arizon', 'Comedy,Unemployed', 'Comedy,90s,KS', 'Comedy,90s,LA'],
    labels=['Comedy', '90s', 'Long', 'Males', '18-24', 'Females', '18-24', '35-44', '25-34', '25-34', 'California', 'Arizona', 'Unemployed', 'Kansas', 'LA'],
    parents=['', 'Comedy', 'Comedy,90s', 'Comedy,90s,Long', 'Comedy,90s,Long,Males', 'Comedy,90s,Long', 'Comedy,90s,Long,Females', 'Comedy,90s,Long,Males', 'Comedy,90s,Long,Females', 'Comedy,90s,Long,Males', 'Comedy,90s,Long,Males,25-34', 'Comedy', 'Comedy', 'Comedy,90s', 'Comedy,90s'],
    #values=[6031, 5907, 5903, 4238, 800, 1665, 296, 828, 549, 1514, 289, 83, 72, 38, ],
    branchvalues="total",
))
fig.update_layout(margin = dict(t=0, l=0, r=0, b=0))

fig.show()

In [5]:
import plotly.graph_objects as go

fig =go.Figure(go.Sunburst(
    ids=['Comedy', 'Comedy,90s', 'Comedy,90s,Long', 'Comedy,90s,Long,Males', 'Comedy,90s,Long,Males,18-24', 'Comedy,90s,Long,Females', 'Comedy,90s,Long,Females,18-24', 'Comedy,90s,Long,Males,35-44', 'Comedy,90s,Long,Females,25-34', 'Comedy,90s,Long,Males,25-34', 'Comedy,90s,Long,Males,25-34,California', 'Comedy,Arizon', 'Comedy,Unemployed', 'Comedy,90s,KS', 'Comedy,90s,LA'],
    labels=['Comedy', '90s', 'Long', 'Males', '18-24', 'Females', '18-24', '35-44', '25-34', '25-34', 'California', 'Arizona', 'Unemployed', 'Kansas', 'LA'],
    parents=['', 'Comedy', 'Comedy,90s', 'Comedy,90s,Long', 'Comedy,90s,Long,Males', 'Comedy,90s,Long', 'Comedy,90s,Long,Females', 'Comedy,90s,Long,Males', 'Comedy,90s,Long,Females', 'Comedy,90s,Long,Males', 'Comedy,90s,Long,Males,25-34', 'Comedy', 'Comedy', 'Comedy,90s', 'Comedy,90s'],
    #values=[6031, 5907, 5903, 4238, 800, 1665, 296, 828, 549, 1514, 289, 83, 72, 38, ],
    branchvalues="total",
))
fig.update_layout(margin = dict(t=0, l=0, r=0, b=0))

fig.show()

In [56]:
import plotly.graph_objects as go

color_discrete_sequence = ['', '#FFAA00', '#2D5F91','#819FBD','#819FBD','#91D4D2', '#96BEE6', '#C0D8F0','#E8655F','#F1A39F','#48B7B4']
color_discrete_sequence = [''] + list(sns.color_palette().as_hex())

fig =go.Figure(go.Sunburst(
    ids=['Comedy', 'Comedy,90s', 'Comedy,90s,Long', 'Comedy,90s,Long,Males', 'Comedy,90s,Long,Males,18-24', 'Comedy,90s,Long,Females'],
    labels=['Comedy', '90s', 'Long', 'Males', '18-24', 'Females'],
    parents=['', 'Comedy', 'Comedy,90s', 'Comedy,90s,Long', 'Comedy,90s,Long,Males', 'Comedy,90s,Long'],
    #values=[6031, 5907, 5903, 4238, 800, 1665, 296, 828, 549, 1514, 289, 83, 72, 38, ],
    marker=dict(colors=color_discrete_sequence)
))
fig.update_layout(margin = dict(t=0, l=0, r=0, b=0))

fig.show()

In [7]:
from PIL import ImageColor

def hex_to_rgba(hex, opacity):
    r, g, b = ImageColor.getcolor(hex, 'RGB')
    return f'rgba({r}, {g}, {b}, {opacity})'
    
hex_to_rgba('#23a9dd', 1)

'rgba(35, 169, 221, 1)'

In [8]:
ids = ['Comedy', 'Comedy,90s', 'Comedy,AZ', 'Comedy,unemployed', 'Comedy,90s,Long', 'Comedy,90s,KS', 'Comedy,90s,LA', 'Comedy,90s,Long,F', 'Comedy,90s,Long,M', 'Comedy,90s,Long,LA', 'Comedy,90s,Long,M,35-44', 'Comedy,90s,Long,M,25-34', 'Comedy,90s,Long,M,18-24', 'Comedy,90s,Long,M,18-24,college-grad student', 'Comedy,90s,Long,M,18-24,other', 'Comedy,90s,Long,M,18-24,writer', 'Comedy,90s,Long,F,25-34', 'Comedy,90s,Long,F,18-24', 'Comedy,90s,Long,F,NJ', 'Comedy,90s,Long,F,18-24,college-grad student', 'Comedy,90s,Long,F,18-24,MI', 'Comedy,90s,Long,F,18-24,MN', 'Comedy,90s,Long,M,35-44,academic-educator', 'Comedy,90s,Long,M,35-44,executive-managerial', 'Comedy,90s,Long,M,35-44,technician-engineer', 'Comedy,90s,Long,F,25-34,CA', 'Comedy,90s,Long,F,25-34,TX', 'Comedy,90s,Long,F,25-34,NY', 'Comedy,90s,Long,M,25-34,CA', 'Comedy,90s,Long,M,25-34,NY', 'Comedy,90s,Long,M,25-34,MN', 'Comedy,90s,Long,M,25-34,CA,writer', 'Comedy,90s,Long,M,25-34,CA,other', 'Comedy,90s,Long,M,25-34,CA,technician-engineer', 'Comedy,90s,Long,M,18-24,college-grad student,MA', 'Comedy,90s,Long,M,18-24,college-grad student,MN', 'Comedy,90s,Long,M,18-24,college-grad student,NY', 'Comedy,unemployed,2000s', 'Comedy,unemployed,18-24', 'Comedy,unemployed,Long', 'Comedy,unemployed,Long,90s', 'Comedy,unemployed,Long,18-24', 'Comedy,unemployed,Long,2000s', 'Comedy,AZ,Long', 'Comedy,AZ,M', 'Comedy,AZ,90s', 'Comedy,AZ,M,25-34', 'Comedy,AZ,M,Long', 'Comedy,AZ,M,2000s', 'Comedy,AZ,M,Long,25-34', 'Comedy,AZ,M,Long,90s', 'Comedy,AZ,M,Long,2000s', 'Comedy,AZ,90s,Long', 'Comedy,AZ,90s,M', 'Comedy,AZ,90s,25-34', 'Comedy,AZ,Long,2000s', 'Comedy,AZ,Long,90s', 'Comedy,AZ,Long,M', 'Comedy,AZ,Long,M,2000s', 'Comedy,AZ,Long,M,90s', 'Comedy,AZ,Long,M,25-34', 'Comedy,AZ,90s,M,Long', 'Comedy,AZ,90s,M,25-34', 'Comedy,unemployed,Long,90s,M', 'Comedy,unemployed,Long,90s,18-24', 'Comedy,AZ,90s,Long,25-34', 'Comedy,AZ,90s,Long,M', 'Comedy,AZ,Long,90s,M', 'Comedy,AZ,Long,90s,25-34', 'Comedy,unemployed,18-24,90s', 'Comedy,unemployed,18-24,Long', 'Comedy,unemployed,18-24,M', 'Comedy,AZ,90s,25-34,Long', 'Comedy,AZ,90s,25-34,M', 'Comedy,unemployed,2000s,Long', 'Comedy,unemployed,2000s,M', 'Comedy,90s,KS,Long', 'Comedy,90s,KS,M', 'Comedy,unemployed,18-24,90s,Long', 'Comedy,unemployed,18-24,90s,M', 'Comedy,unemployed,18-24,Long,M', 'Comedy,unemployed,18-24,Long,90s', 'Comedy,unemployed,Long,18-24,M', 'Comedy,unemployed,Long,18-24,90s', 'Comedy,90s,LA,Long', 'Comedy,90s,LA,M', 'Comedy,Short', 'Comedy,30s', 'Comedy,30s,retired', 'Comedy,30s,PA', 'Comedy,30s,Long', 'Comedy,30s,Long,retired', 'Comedy,30s,Long,F', 'Comedy,30s,Long,M']
labels = ['Comedy', '90s', 'AZ', 'unemployed', 'Long', 'KS', 'LA', 'F', 'M', 'LA', '35-44', '25-34', '18-24', 'college-grad student', 'other', 'writer', '25-34', '18-24', 'NJ', 'college-grad student', 'MI', 'MN', 'academic-educator', 'executive-managerial', 'technician-engineer', 'CA', 'TX', 'NY', 'CA', 'NY', 'MN', 'writer', 'other', 'technician-engineer', 'MA', 'MN', 'NY', '2000s', '18-24', 'Long', '90s', '18-24', '2000s', 'Long', 'M', '90s', '25-34', 'Long', '2000s', '25-34', '90s', '2000s', 'Long', 'M', '25-34', '2000s', '90s', 'M', '2000s', '90s', '25-34', 'Long', '25-34', 'M', '18-24', '25-34', 'M', 'M', '25-34', '90s', 'Long', 'M', 'Long', 'M', 'Long', 'M', 'Long', 'M', 'Long', 'M', 'M', '90s', 'M', '90s', 'Long', 'M', 'Short', '30s', 'retired', 'PA', 'Long', 'retired', 'F', 'M']
color_sequence = ['', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B']
parents = ['', 'Comedy', 'Comedy', 'Comedy', 'Comedy,90s', 'Comedy,90s', 'Comedy,90s', 'Comedy,90s,Long', 'Comedy,90s,Long', 'Comedy,90s,Long', 'Comedy,90s,Long,M', 'Comedy,90s,Long,M', 'Comedy,90s,Long,M', 'Comedy,90s,Long,M,18-24', 'Comedy,90s,Long,M,18-24', 'Comedy,90s,Long,M,18-24', 'Comedy,90s,Long,F', 'Comedy,90s,Long,F', 'Comedy,90s,Long,F', 'Comedy,90s,Long,F,18-24', 'Comedy,90s,Long,F,18-24', 'Comedy,90s,Long,F,18-24', 'Comedy,90s,Long,M,35-44', 'Comedy,90s,Long,M,35-44', 'Comedy,90s,Long,M,35-44', 'Comedy,90s,Long,F,25-34', 'Comedy,90s,Long,F,25-34', 'Comedy,90s,Long,F,25-34', 'Comedy,90s,Long,M,25-34', 'Comedy,90s,Long,M,25-34', 'Comedy,90s,Long,M,25-34', 'Comedy,90s,Long,M,25-34,CA', 'Comedy,90s,Long,M,25-34,CA', 'Comedy,90s,Long,M,25-34,CA', 'Comedy,90s,Long,M,18-24,college-grad student', 'Comedy,90s,Long,M,18-24,college-grad student', 'Comedy,90s,Long,M,18-24,college-grad student', 'Comedy,unemployed', 'Comedy,unemployed', 'Comedy,unemployed', 'Comedy,unemployed,Long', 'Comedy,unemployed,Long', 'Comedy,unemployed,Long', 'Comedy,AZ', 'Comedy,AZ', 'Comedy,AZ', 'Comedy,AZ,M', 'Comedy,AZ,M', 'Comedy,AZ,M', 'Comedy,AZ,M,Long', 'Comedy,AZ,M,Long', 'Comedy,AZ,M,Long', 'Comedy,AZ,90s', 'Comedy,AZ,90s', 'Comedy,AZ,90s', 'Comedy,AZ,Long', 'Comedy,AZ,Long', 'Comedy,AZ,Long', 'Comedy,AZ,Long,M', 'Comedy,AZ,Long,M', 'Comedy,AZ,Long,M', 'Comedy,AZ,90s,M', 'Comedy,AZ,90s,M', 'Comedy,unemployed,Long,90s', 'Comedy,unemployed,Long,90s', 'Comedy,AZ,90s,Long', 'Comedy,AZ,90s,Long', 'Comedy,AZ,Long,90s', 'Comedy,AZ,Long,90s', 'Comedy,unemployed,18-24', 'Comedy,unemployed,18-24', 'Comedy,unemployed,18-24', 'Comedy,AZ,90s,25-34', 'Comedy,AZ,90s,25-34', 'Comedy,unemployed,2000s', 'Comedy,unemployed,2000s', 'Comedy,90s,KS', 'Comedy,90s,KS', 'Comedy,unemployed,18-24,90s', 'Comedy,unemployed,18-24,90s', 'Comedy,unemployed,18-24,Long', 'Comedy,unemployed,18-24,Long', 'Comedy,unemployed,Long,18-24', 'Comedy,unemployed,Long,18-24', 'Comedy,90s,LA', 'Comedy,90s,LA', 'Comedy', 'Comedy', 'Comedy,30s', 'Comedy,30s', 'Comedy,30s', 'Comedy,30s,Long', 'Comedy,30s,Long', 'Comedy,30s,Long']
user_counts = [6031, 5907, 83, 72, 5903, 38, 33, 1665, 4238, 33, 828, 1514, 800, 368, 74, 35, 549, 296, 34, 162, 20, 21, 74, 173, 109, 118, 31, 36, 289, 104, 115, 25, 32, 47, 23, 24, 25, 45, 30, 72, 72, 30, 45, 83, 58, 83, 24, 58, 36, 24, 58, 36, 83, 58, 33, 50, 83, 58, 36, 58, 24, 58, 24, 57, 30, 33, 58, 58, 33, 30, 30, 24, 33, 24, 45, 34, 38, 29, 30, 24, 24, 30, 24, 30, 33, 28, 1162, 1328, 31, 32, 1328, 31, 409, 919]

def get_opacity(user_count):
    max_opacity = 1
    min_opacity = 0.15
    total_users = 6040
    opacity_step = (max_opacity - min_opacity) / total_users
    return user_count * opacity_step + min_opacity

fig =go.Figure(go.Sunburst(
    ids=ids,
    labels=labels,
    parents=parents,
    #values=[6031, 5907, 5903, 4238, 800, 1665, 296, 828, 549, 1514, 289, 83, 72, 38, ],
    marker=dict(colors=[hex_to_rgba(hex, get_opacity(user_count)) if hex != '' else '' for hex, user_count in zip(color_sequence, user_counts)])
))
fig.update_layout(margin = dict(t=0, l=0, r=0, b=0))

fig.update_traces(leaf=dict(opacity = 1))

fig.show()

In [17]:
ids[16], labels[16], parents[16]

('Comedy,Long,90s,M,18-24', '18-24', 'Comedy,Long,90s,M')

In [21]:
ids = ['Comedy', 'Comedy,Short', 'Comedy,30s', 'Comedy,30s,retired', 'Comedy,30s,PA', 'Comedy,30s,Long', 'Comedy,30s,Long,M', 'Comedy,30s,Long,F', 'Comedy,30s,Long,retired', 'Comedy,Short,NC', 'Comedy,Short,TX', 'Comedy,Short,90s', 'Comedy,Short,90s,PA', 'Comedy,Short,90s,M', 'Comedy,Short,90s,F', 'Comedy,Short,90s,M,35-44', 'Comedy,Short,90s,M,18-24', 'Comedy,Short,90s,M,25-34', 'Comedy,Short,90s,F,35-44', 'Comedy,Short,90s,F,18-24', 'Comedy,Short,90s,F,25-34', 'Comedy,30s,Long,M,45-49', 'Comedy,30s,Long,M,50-55', 'Comedy,30s,Long,M,35-44', 'Comedy,30s,Long,F,>56', 'Comedy,30s,Long,F,25-34', 'Comedy,30s,Long,F,50-55', 'Comedy,Short,90s,M,25-34,MA', 'Comedy,Short,90s,M,25-34,CA', 'Comedy,Short,90s,M,25-34,MN', 'Comedy,30s,Long,M,35-44,CA', 'Comedy,30s,Long,M,35-44,NY', 'Comedy,30s,Long,M,35-44,executive-managerial', 'Comedy,Short,90s,M,18-24,college-grad student', 'Comedy,Short,90s,M,18-24,CA', 'Comedy,Short,TX,90s', 'Comedy,Short,TX,M', 'Comedy,30s,retired,>56', 'Comedy,30s,retired,Long', 'Comedy,30s,retired,Long,>56', 'Comedy,30s,retired,Long,M', 'Comedy,30s,PA,M', 'Comedy,30s,PA,Long', 'Comedy,30s,PA,M,Long', 'Comedy,30s,retired,>56,Long', 'Comedy,Short,NC,90s', 'Comedy,Short,TX,M,90s', 'Comedy,30s,PA,Long,M', 'Comedy,30s,Long,retired,>56', 'Comedy,Short,TX,90s,M', 'Comedy,Short,90s,F,18-24,college-grad student', 'Comedy,Short,90s,F,25-34,CA', 'Comedy,30s,Long,F,25-34,CA', 'Comedy,Short,90s,M,35-44,technician-engineer', 'Comedy,K-12 student', 'Comedy,K-12 student,M', 'Comedy,K-12 student,2000s', 'Comedy,K-12 student,Long', 'Comedy,K-12 student,2000s,<18', 'Comedy,K-12 student,2000s,Long', 'Comedy,K-12 student,2000s,F', 'Comedy,K-12 student,Long,M', 'Comedy,K-12 student,Long,2000s', 'Comedy,K-12 student,Long,90s', 'Comedy,K-12 student,2000s,<18,Long', 'Comedy,K-12 student,2000s,<18,F', 'Comedy,K-12 student,2000s,Long,<18', 'Comedy,K-12 student,2000s,Long,F', 'Comedy,K-12 student,Long,2000s,F', 'Comedy,K-12 student,Long,2000s,<18', 'Comedy,K-12 student,Long,90s,<18', 'Comedy,K-12 student,Long,90s,M']
labels = ['Comedy', 'Short', '30s', 'retired', 'PA', 'Long', 'M', 'F', 'retired', 'NC', 'TX', '90s', 'PA', 'M', 'F', '35-44', '18-24', '25-34', '35-44', '18-24', '25-34', '45-49', '50-55', '35-44', '>56', '25-34', '50-55', 'MA', 'CA', 'MN', 'CA', 'NY', 'executive-managerial', 'college-grad student', 'CA', '90s', 'M', '>56', 'Long', '>56', 'M', 'M', 'Long', 'Long', 'Long', '90s', '90s', 'M', '>56', 'M', 'college-grad student', 'CA', 'CA', 'technician-engineer', 'K-12 student', 'M', '2000s', 'Long', '<18', 'Long', 'F', 'M', '2000s', '90s', 'Long', 'F', '<18', 'F', 'F', '<18', '<18', 'M']
color_sequence = ['', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#00CC96', '#00CC96', '#00CC96', '#00CC96', '#00CC96', '#00CC96', '#00CC96', '#00CC96', '#00CC96', '#00CC96', '#00CC96', '#00CC96', '#00CC96', '#00CC96', '#00CC96', '#00CC96', '#00CC96', '#00CC96']
parents = ['', 'Comedy', 'Comedy', 'Comedy,30s', 'Comedy,30s', 'Comedy,30s', 'Comedy,30s,Long', 'Comedy,30s,Long', 'Comedy,30s,Long', 'Comedy,Short', 'Comedy,Short', 'Comedy,Short', 'Comedy,Short,90s', 'Comedy,Short,90s', 'Comedy,Short,90s', 'Comedy,Short,90s,M', 'Comedy,Short,90s,M', 'Comedy,Short,90s,M', 'Comedy,Short,90s,F', 'Comedy,Short,90s,F', 'Comedy,Short,90s,F', 'Comedy,30s,Long,M', 'Comedy,30s,Long,M', 'Comedy,30s,Long,M', 'Comedy,30s,Long,F', 'Comedy,30s,Long,F', 'Comedy,30s,Long,F', 'Comedy,Short,90s,M,25-34', 'Comedy,Short,90s,M,25-34', 'Comedy,Short,90s,M,25-34', 'Comedy,30s,Long,M,35-44', 'Comedy,30s,Long,M,35-44', 'Comedy,30s,Long,M,35-44', 'Comedy,Short,90s,M,18-24', 'Comedy,Short,90s,M,18-24', 'Comedy,Short,TX', 'Comedy,Short,TX', 'Comedy,30s,retired', 'Comedy,30s,retired', 'Comedy,30s,retired,Long', 'Comedy,30s,retired,Long', 'Comedy,30s,PA', 'Comedy,30s,PA', 'Comedy,30s,PA,M', 'Comedy,30s,retired,>56', 'Comedy,Short,NC', 'Comedy,Short,TX,M', 'Comedy,30s,PA,Long', 'Comedy,30s,Long,retired', 'Comedy,Short,TX,90s', 'Comedy,Short,90s,F,18-24', 'Comedy,Short,90s,F,25-34', 'Comedy,30s,Long,F,25-34', 'Comedy,Short,90s,M,35-44', 'Comedy', 'Comedy,K-12 student', 'Comedy,K-12 student', 'Comedy,K-12 student', 'Comedy,K-12 student,2000s', 'Comedy,K-12 student,2000s', 'Comedy,K-12 student,2000s', 'Comedy,K-12 student,Long', 'Comedy,K-12 student,Long', 'Comedy,K-12 student,Long', 'Comedy,K-12 student,2000s,<18', 'Comedy,K-12 student,2000s,<18', 'Comedy,K-12 student,2000s,Long', 'Comedy,K-12 student,2000s,Long', 'Comedy,K-12 student,Long,2000s', 'Comedy,K-12 student,Long,2000s', 'Comedy,K-12 student,Long,90s', 'Comedy,K-12 student,Long,90s']
user_counts = [6031, 1162, 1328, 31, 32, 1328, 919, 409, 31, 24, 41, 982, 20, 716, 266, 151, 140, 304, 62, 54, 95, 112, 94, 231, 27, 117, 45, 23, 67, 26, 47, 23, 41, 64, 28, 32, 29, 24, 31, 24, 24, 25, 32, 25, 24, 22, 24, 25, 24, 24, 32, 32, 33, 25, 195, 129, 142, 195, 120, 142, 44, 129, 142, 195, 120, 44, 120, 44, 44, 120, 163, 129]

def get_opacity(user_count):
    max_opacity = 1
    min_opacity = 0.15
    total_users = 6040
    opacity_step = (max_opacity - min_opacity) / total_users
    return user_count * opacity_step + min_opacity

fig =go.Figure(go.Sunburst(
    ids=ids,
    labels=labels,
    parents=parents,
    #values=[6031, 5907, 5903, 4238, 800, 1665, 296, 828, 549, 1514, 289, 83, 72, 38, ],
    marker=dict(colors=[hex_to_rgba(hex, get_opacity(user_count)) if hex != '' else '' for hex, user_count in zip(color_sequence, user_counts)])
))
fig.update_layout(margin = dict(t=0, l=0, r=0, b=0))

fig.update_traces(leaf=dict(opacity = 1))

fig.show()

In [49]:
ids = ['Comedy', 'Comedy,Short', 'Comedy,30s', 'Comedy,30s,retired', 'Comedy,30s,Long', 'Comedy,30s,PA', 'Comedy,30s,Long,M', 'Comedy,30s,Long,retired', 'Comedy,30s,Long,F', 'Comedy,Short,90s', 'Comedy,Short,NC', 'Comedy,Short,TX', 'Comedy,Short,90s,F', 'Comedy,Short,90s,PA', 'Comedy,Short,90s,M', 'Comedy,Short,90s,M,25-34', 'Comedy,Short,90s,M,18-24', 'Comedy,Short,90s,M,35-44', 'Comedy,Short,90s,F,25-34', 'Comedy,Short,90s,F,35-44', 'Comedy,Short,90s,F,18-24', 'Comedy,30s,Long,M,50-55', 'Comedy,30s,Long,M,35-44', 'Comedy,30s,Long,M,45-49', 'Comedy,30s,Long,F,25-34', 'Comedy,30s,Long,F,50-55', 'Comedy,30s,Long,F,>56', 'Comedy,Short,90s,M,25-34,MN', 'Comedy,Short,90s,M,25-34,CA', 'Comedy,Short,90s,M,25-34,MA', 'Comedy,30s,Long,M,35-44,executive-managerial', 'Comedy,30s,Long,M,35-44,CA', 'Comedy,30s,Long,M,35-44,NY', 'Comedy,Short,90s,M,18-24,college-grad student', 'Comedy,Short,90s,M,18-24,CA', 'Comedy,Short,TX,90s', 'Comedy,Short,TX,M', 'Comedy,30s,retired,>56', 'Comedy,30s,retired,Long', 'Comedy,30s,retired,Long,>56', 'Comedy,30s,retired,Long,M', 'Comedy,30s,PA,Long', 'Comedy,30s,PA,M', 'Comedy,30s,PA,M,Long', 'Comedy,30s,retired,>56,Long', 'Comedy,Short,NC,90s', 'Comedy,Short,TX,M,90s', 'Comedy,30s,PA,Long,M', 'Comedy,30s,Long,retired,>56', 'Comedy,Short,TX,90s,M', 'Comedy,Short,90s,F,18-24,college-grad student', 'Comedy,Short,90s,F,25-34,CA', 'Comedy,30s,Long,F,25-34,CA', 'Comedy,Short,90s,M,35-44,technician-engineer', 'Comedy,K-12 student', 'Comedy,K-12 student,Long', 'Comedy,K-12 student,2000s', 'Comedy,K-12 student,M', 'Comedy,K-12 student,2000s,<18', 'Comedy,K-12 student,2000s,F', 'Comedy,K-12 student,2000s,Long', 'Comedy,K-12 student,Long,2000s', 'Comedy,K-12 student,Long,90s', 'Comedy,K-12 student,Long,M', 'Comedy,K-12 student,2000s,<18,F', 'Comedy,K-12 student,2000s,<18,Long', 'Comedy,K-12 student,2000s,Long,F', 'Comedy,K-12 student,2000s,Long,<18', 'Comedy,K-12 student,Long,2000s,<18', 'Comedy,K-12 student,Long,2000s,F', 'Comedy,K-12 student,Long,90s,M', 'Comedy,K-12 student,Long,90s,<18']
labels = ['Comedy', 'Short', '30s', 'retired', 'Long', 'PA', 'M', 'retired', 'F', '90s', 'NC', 'TX', 'F', 'PA', 'M', '25-34', '18-24', '35-44', '25-34', '35-44', '18-24', '50-55', '35-44', '45-49', '25-34', '50-55', '>56', 'MN', 'CA', 'MA', 'executive-managerial', 'CA', 'NY', 'college-grad student', 'CA', '90s', 'M', '>56', 'Long', '>56', 'M', 'Long', 'M', 'Long', 'Long', '90s', '90s', 'M', '>56', 'M', 'college-grad student', 'CA', 'CA', 'technician-engineer', 'K-12 student', 'Long', '2000s', 'M', '<18', 'F', 'Long', '2000s', '90s', 'M', 'F', 'Long', 'F', '<18', '<18', 'F', 'M', '<18']
color_sequence = ['', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#00CC96', '#00CC96', '#00CC96', '#00CC96', '#00CC96', '#00CC96', '#00CC96', '#00CC96', '#00CC96', '#00CC96', '#00CC96', '#00CC96', '#00CC96', '#00CC96', '#00CC96', '#00CC96', '#00CC96', '#00CC96']
parents = ['', 'Comedy', 'Comedy', 'Comedy,30s', 'Comedy,30s', 'Comedy,30s', 'Comedy,30s,Long', 'Comedy,30s,Long', 'Comedy,30s,Long', 'Comedy,Short', 'Comedy,Short', 'Comedy,Short', 'Comedy,Short,90s', 'Comedy,Short,90s', 'Comedy,Short,90s', 'Comedy,Short,90s,M', 'Comedy,Short,90s,M', 'Comedy,Short,90s,M', 'Comedy,Short,90s,F', 'Comedy,Short,90s,F', 'Comedy,Short,90s,F', 'Comedy,30s,Long,M', 'Comedy,30s,Long,M', 'Comedy,30s,Long,M', 'Comedy,30s,Long,F', 'Comedy,30s,Long,F', 'Comedy,30s,Long,F', 'Comedy,Short,90s,M,25-34', 'Comedy,Short,90s,M,25-34', 'Comedy,Short,90s,M,25-34', 'Comedy,30s,Long,M,35-44', 'Comedy,30s,Long,M,35-44', 'Comedy,30s,Long,M,35-44', 'Comedy,Short,90s,M,18-24', 'Comedy,Short,90s,M,18-24', 'Comedy,Short,TX', 'Comedy,Short,TX', 'Comedy,30s,retired', 'Comedy,30s,retired', 'Comedy,30s,retired,Long', 'Comedy,30s,retired,Long', 'Comedy,30s,PA', 'Comedy,30s,PA', 'Comedy,30s,PA,M', 'Comedy,30s,retired,>56', 'Comedy,Short,NC', 'Comedy,Short,TX,M', 'Comedy,30s,PA,Long', 'Comedy,30s,Long,retired', 'Comedy,Short,TX,90s', 'Comedy,Short,90s,F,18-24', 'Comedy,Short,90s,F,25-34', 'Comedy,30s,Long,F,25-34', 'Comedy,Short,90s,M,35-44', 'Comedy', 'Comedy,K-12 student', 'Comedy,K-12 student', 'Comedy,K-12 student', 'Comedy,K-12 student,2000s', 'Comedy,K-12 student,2000s', 'Comedy,K-12 student,2000s', 'Comedy,K-12 student,Long', 'Comedy,K-12 student,Long', 'Comedy,K-12 student,Long', 'Comedy,K-12 student,2000s,<18', 'Comedy,K-12 student,2000s,<18', 'Comedy,K-12 student,2000s,Long', 'Comedy,K-12 student,2000s,Long', 'Comedy,K-12 student,Long,2000s', 'Comedy,K-12 student,Long,2000s', 'Comedy,K-12 student,Long,90s', 'Comedy,K-12 student,Long,90s']
user_counts = [6031, 1162, 1328, 31, 1328, 32, 919, 31, 409, 982, 24, 41, 266, 20, 716, 304, 140, 151, 95, 62, 54, 94, 231, 112, 117, 45, 27, 26, 67, 23, 41, 47, 23, 64, 28, 32, 29, 24, 31, 24, 24, 32, 25, 25, 24, 22, 24, 25, 24, 24, 32, 32, 33, 25, 195, 195, 142, 129, 120, 44, 142, 142, 195, 129, 44, 120, 44, 120, 120, 44, 129, 163]

ids2 = ['Comedy,AZ', 'Comedy,90s', 'Comedy,unemployed', 'Comedy,90s,Long', 'Comedy,90s,LA', 'Comedy,90s,KS', 'Comedy,90s,Long,M', 'Comedy,90s,Long,F', 'Comedy,90s,Long,LA', 'Comedy,90s,Long,M,35-44', 'Comedy,90s,Long,M,18-24', 'Comedy,90s,Long,M,25-34', 'Comedy,90s,Long,M,18-24,college-grad student', 'Comedy,90s,Long,M,18-24,other', 'Comedy,90s,Long,M,18-24,writer', 'Comedy,90s,Long,F,18-24', 'Comedy,90s,Long,F,NJ', 'Comedy,90s,Long,F,25-34', 'Comedy,90s,Long,F,18-24,college-grad student', 'Comedy,90s,Long,F,18-24,MI', 'Comedy,90s,Long,F,18-24,MN', 'Comedy,90s,Long,M,35-44,executive-managerial', 'Comedy,90s,Long,M,35-44,academic-educator', 'Comedy,90s,Long,M,35-44,technician-engineer', 'Comedy,90s,Long,F,25-34,TX', 'Comedy,90s,Long,F,25-34,CA', 'Comedy,90s,Long,F,25-34,NY', 'Comedy,90s,Long,M,25-34,CA', 'Comedy,90s,Long,M,25-34,NY', 'Comedy,90s,Long,M,25-34,MN', 'Comedy,90s,Long,M,25-34,CA,writer', 'Comedy,90s,Long,M,25-34,CA,other', 'Comedy,90s,Long,M,25-34,CA,technician-engineer', 'Comedy,90s,Long,M,18-24,college-grad student,MA', 'Comedy,90s,Long,M,18-24,college-grad student,MN', 'Comedy,90s,Long,M,18-24,college-grad student,NY', 'Comedy,unemployed,2000s', 'Comedy,unemployed,18-24', 'Comedy,unemployed,Long', 'Comedy,unemployed,Long,2000s', 'Comedy,unemployed,Long,90s', 'Comedy,unemployed,Long,18-24', 'Comedy,AZ,M', 'Comedy,AZ,90s', 'Comedy,AZ,Long', 'Comedy,AZ,M,2000s', 'Comedy,AZ,M,Long', 'Comedy,AZ,M,25-34', 'Comedy,AZ,M,Long,25-34', 'Comedy,AZ,M,Long,2000s', 'Comedy,AZ,M,Long,90s', 'Comedy,AZ,Long,M', 'Comedy,AZ,Long,2000s', 'Comedy,AZ,Long,90s', 'Comedy,AZ,Long,M,2000s', 'Comedy,AZ,Long,M,90s', 'Comedy,AZ,Long,M,25-34', 'Comedy,unemployed,Long,90s,M', 'Comedy,unemployed,Long,90s,18-24', 'Comedy,AZ,Long,90s,M', 'Comedy,AZ,Long,90s,25-34', 'Comedy,unemployed,18-24,M', 'Comedy,unemployed,18-24,90s', 'Comedy,unemployed,18-24,Long', 'Comedy,AZ,90s,Long', 'Comedy,AZ,90s,M', 'Comedy,AZ,90s,M,25-34', 'Comedy,AZ,90s,M,Long', 'Comedy,AZ,90s,Long,M', 'Comedy,AZ,90s,Long,25-34', 'Comedy,unemployed,2000s,Long', 'Comedy,unemployed,2000s,M', 'Comedy,90s,KS,M', 'Comedy,90s,KS,Long', 'Comedy,unemployed,18-24,90s,M', 'Comedy,unemployed,18-24,90s,Long', 'Comedy,unemployed,Long,18-24,M', 'Comedy,unemployed,Long,18-24,90s', 'Comedy,unemployed,18-24,Long,M', 'Comedy,unemployed,18-24,Long,90s', 'Comedy,90s,LA,M', 'Comedy,90s,LA,Long', 'Comedy,unemployed,2000s,M,Long', 'Comedy,AZ,M,2000s,Long', 'Comedy,unemployed,18-24,90s,M,Long', 'Comedy,AZ,90s,M,25-34,Long']
labels2 = ['AZ', '90s', 'unemployed', 'Long', 'LA', 'KS', 'M', 'F', 'LA', '35-44', '18-24', '25-34', 'college-grad student', 'other', 'writer', '18-24', 'NJ', '25-34', 'college-grad student', 'MI', 'MN', 'executive-managerial', 'academic-educator', 'technician-engineer', 'TX', 'CA', 'NY', 'CA', 'NY', 'MN', 'writer', 'other', 'technician-engineer', 'MA', 'MN', 'NY', '2000s', '18-24', 'Long', '2000s', '90s', '18-24', 'M', '90s', 'Long', '2000s', 'Long', '25-34', '25-34', '2000s', '90s', 'M', '2000s', '90s', '2000s', '90s', '25-34', 'M', '18-24', 'M', '25-34', 'M', '90s', 'Long', 'Long', 'M', '25-34', 'Long', 'M', '25-34', 'Long', 'M', 'M', 'Long', 'M', 'Long', 'M', '90s', 'M', '90s', 'M', 'Long', 'Long', 'Long', 'Long', 'Long']
color_sequence2 = ['#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B']
parents2 = ['Comedy', 'Comedy', 'Comedy', 'Comedy,90s', 'Comedy,90s', 'Comedy,90s', 'Comedy,90s,Long', 'Comedy,90s,Long', 'Comedy,90s,Long', 'Comedy,90s,Long,M', 'Comedy,90s,Long,M', 'Comedy,90s,Long,M', 'Comedy,90s,Long,M,18-24', 'Comedy,90s,Long,M,18-24', 'Comedy,90s,Long,M,18-24', 'Comedy,90s,Long,F', 'Comedy,90s,Long,F', 'Comedy,90s,Long,F', 'Comedy,90s,Long,F,18-24', 'Comedy,90s,Long,F,18-24', 'Comedy,90s,Long,F,18-24', 'Comedy,90s,Long,M,35-44', 'Comedy,90s,Long,M,35-44', 'Comedy,90s,Long,M,35-44', 'Comedy,90s,Long,F,25-34', 'Comedy,90s,Long,F,25-34', 'Comedy,90s,Long,F,25-34', 'Comedy,90s,Long,M,25-34', 'Comedy,90s,Long,M,25-34', 'Comedy,90s,Long,M,25-34', 'Comedy,90s,Long,M,25-34,CA', 'Comedy,90s,Long,M,25-34,CA', 'Comedy,90s,Long,M,25-34,CA', 'Comedy,90s,Long,M,18-24,college-grad student', 'Comedy,90s,Long,M,18-24,college-grad student', 'Comedy,90s,Long,M,18-24,college-grad student', 'Comedy,unemployed', 'Comedy,unemployed', 'Comedy,unemployed', 'Comedy,unemployed,Long', 'Comedy,unemployed,Long', 'Comedy,unemployed,Long', 'Comedy,AZ', 'Comedy,AZ', 'Comedy,AZ', 'Comedy,AZ,M', 'Comedy,AZ,M', 'Comedy,AZ,M', 'Comedy,AZ,M,Long', 'Comedy,AZ,M,Long', 'Comedy,AZ,M,Long', 'Comedy,AZ,Long', 'Comedy,AZ,Long', 'Comedy,AZ,Long', 'Comedy,AZ,Long,M', 'Comedy,AZ,Long,M', 'Comedy,AZ,Long,M', 'Comedy,unemployed,Long,90s', 'Comedy,unemployed,Long,90s', 'Comedy,AZ,Long,90s', 'Comedy,AZ,Long,90s', 'Comedy,unemployed,18-24', 'Comedy,unemployed,18-24', 'Comedy,unemployed,18-24', 'Comedy,AZ,90s', 'Comedy,AZ,90s', 'Comedy,AZ,90s,M', 'Comedy,AZ,90s,M', 'Comedy,AZ,90s,Long', 'Comedy,AZ,90s,Long', 'Comedy,unemployed,2000s', 'Comedy,unemployed,2000s', 'Comedy,90s,KS', 'Comedy,90s,KS', 'Comedy,unemployed,18-24,90s', 'Comedy,unemployed,18-24,90s', 'Comedy,unemployed,Long,18-24', 'Comedy,unemployed,Long,18-24', 'Comedy,unemployed,18-24,Long', 'Comedy,unemployed,18-24,Long', 'Comedy,90s,LA', 'Comedy,90s,LA', 'Comedy,unemployed,2000s,M', 'Comedy,AZ,M,2000s', 'Comedy,unemployed,18-24,90s,M', 'Comedy,AZ,90s,M,25-34']
user_counts2 = [83, 5907, 72, 5903, 33, 38, 4238, 1665, 33, 828, 800, 1514, 368, 74, 35, 296, 34, 549, 162, 20, 21, 173, 74, 109, 31, 118, 36, 289, 104, 115, 25, 32, 47, 23, 24, 25, 45, 30, 72, 45, 72, 30, 58, 83, 83, 36, 58, 24, 24, 36, 58, 58, 50, 83, 36, 58, 24, 57, 30, 58, 33, 24, 30, 30, 83, 58, 24, 58, 58, 33, 45, 34, 29, 38, 24, 30, 24, 30, 24, 30, 28, 33, 34, 36, 24, 24]


{
    '#636EFA': 'Mean greater than 4',
    '#00CC96': 'Variance greater than 1.4',

    
}

fig =go.Figure(go.Sunburst(
    ids=ids+ids2,
    labels=labels+labels2,
    parents=parents+parents2,
    #values=[6031, 5907, 5903, 4238, 800, 1665, 296, 828, 549, 1514, 289, 83, 72, 38, ],
    marker=dict(colors=[hex_to_rgba(hex, get_opacity(user_count)) if hex != '' else '' for hex, user_count in zip(color_sequence+color_sequence2, user_counts+user_counts2)])
))
fig.update_layout(margin = dict(t=0, l=0, r=0, b=0))

fig.update_traces(leaf=dict(opacity = 1))

fig.show()

In [63]:
[i for i, parent in enumerate(parents) if 'Fiction,norway' in parent]

[52]

In [70]:
ids = ['Fiction', 'Fiction,en', 'Fiction,it', 'Fiction,en,canada', 'Fiction,en,usa', 'Fiction,en,united kingdom', 'Fiction,en,canada,50-55', 'Fiction,en,canada,90s', 'Fiction,en,canada,<18', 'Fiction,en,canada,90s,18-24', 'Fiction,en,canada,90s,35-44', 'Fiction,en,canada,90s,25-34', 'Fiction,it,35-44', 'Fiction,it,italy', 'Fiction,it,18-24', 'Fiction,it,italy,2000s', 'Fiction,it,italy,18-24', 'Fiction,it,italy,90s', 'Fiction,it,italy,90s,18-24', 'Fiction,it,italy,90s,25-34', 'Fiction,it,italy,90s,35-44', 'Fiction,en,usa,<18', 'Fiction,en,usa,60s', 'Fiction,en,usa,90s', 'Fiction,en,usa,90s,35-44', 'Fiction,en,usa,90s,18-24', 'Fiction,en,usa,90s,25-34', 'Fiction,en,usa,60s,35-44', 'Fiction,en,usa,60s,18-24', 'Fiction,en,usa,60s,25-34', 'Fiction,en,united kingdom,<18', 'Fiction,en,united kingdom,2000s', 'Fiction,en,united kingdom,70s', 'Fiction,en,united kingdom,2000s,18-24', 'Fiction,en,united kingdom,2000s,35-44', 'Fiction,en,united kingdom,2000s,25-34', 'Fiction,en,canada,<18,2000s', 'Fiction,en,canada,<18,90s', 'Fiction,en,canada,<18,80s', 'Fiction,en,usa,<18,2000s', 'Fiction,en,usa,<18,80s', 'Fiction,en,usa,<18,90s', 'Fiction,en,canada,50-55,80s', 'Fiction,en,canada,50-55,90s', 'Fiction,en,canada,50-55,2000s', 'Fiction,it,35-44,2000s', 'Fiction,it,35-44,90s', 'Fiction,it,35-44,italy', 'Fiction,it,18-24,90s', 'Fiction,it,18-24,italy', 'Fiction,it,18-24,90s,italy', 'Fiction,norway,en', 'Fiction,it,35-44,90s,italy', 'Fiction,it,35-44,2000s,italy', 'Fiction,it,italy,18-24,90s', 'Fiction,it,18-24,italy,90s', 'Fiction,it,italy,2000s,25-34', 'Fiction,it,35-44,italy,90s', 'Fiction,en,united kingdom,70s,25-34', 'Fiction,en,united kingdom,<18,90s']
labels = ['Fiction', 'en', 'it', 'canada', 'usa', 'united kingdom', '50-55', '90s', '<18', '18-24', '35-44', '25-34', '35-44', 'italy', '18-24', '2000s', '18-24', '90s', '18-24', '25-34', '35-44', '<18', '60s', '90s', '35-44', '18-24', '25-34', '35-44', '18-24', '25-34', '<18', '2000s', '70s', '18-24', '35-44', '25-34', '2000s', '90s', '80s', '2000s', '80s', '90s', '80s', '90s', '2000s', '2000s', '90s', 'italy', '90s', 'italy', 'italy', 'en', 'italy', 'italy', '90s', '90s', '25-34', '90s', '25-34', '90s']
color_sequence = ['', '#00CC96', '#00CC96', '#00CC96', '#00CC96', '#00CC96', '#00CC96', '#00CC96', '#00CC96', '#00CC96', '#00CC96', '#00CC96', '#00CC96', '#00CC96', '#00CC96', '#00CC96', '#00CC96', '#00CC96', '#00CC96', '#00CC96', '#00CC96', '#00CC96', '#00CC96', '#00CC96', '#00CC96', '#00CC96', '#00CC96', '#00CC96', '#00CC96', '#00CC96', '#00CC96', '#00CC96', '#00CC96', '#00CC96', '#00CC96', '#00CC96', '#00CC96', '#00CC96', '#00CC96', '#00CC96', '#00CC96', '#00CC96', '#00CC96', '#00CC96', '#00CC96', '#00CC96', '#00CC96', '#00CC96', '#00CC96', '#00CC96', '#00CC96', '#00CC96', '#00CC96', '#00CC96', '#00CC96', '#00CC96', '#00CC96', '#00CC96', '#00CC96', '#00CC96']
parents = ['', 'Fiction', 'Fiction', 'Fiction,en', 'Fiction,en', 'Fiction,en', 'Fiction,en,canada', 'Fiction,en,canada', 'Fiction,en,canada', 'Fiction,en,canada,90s', 'Fiction,en,canada,90s', 'Fiction,en,canada,90s', 'Fiction,it', 'Fiction,it', 'Fiction,it', 'Fiction,it,italy', 'Fiction,it,italy', 'Fiction,it,italy', 'Fiction,it,italy,90s', 'Fiction,it,italy,90s', 'Fiction,it,italy,90s', 'Fiction,en,usa', 'Fiction,en,usa', 'Fiction,en,usa', 'Fiction,en,usa,90s', 'Fiction,en,usa,90s', 'Fiction,en,usa,90s', 'Fiction,en,usa,60s', 'Fiction,en,usa,60s', 'Fiction,en,usa,60s', 'Fiction,en,united kingdom', 'Fiction,en,united kingdom', 'Fiction,en,united kingdom', 'Fiction,en,united kingdom,2000s', 'Fiction,en,united kingdom,2000s', 'Fiction,en,united kingdom,2000s', 'Fiction,en,canada,<18', 'Fiction,en,canada,<18', 'Fiction,en,canada,<18', 'Fiction,en,usa,<18', 'Fiction,en,usa,<18', 'Fiction,en,usa,<18', 'Fiction,en,canada,50-55', 'Fiction,en,canada,50-55', 'Fiction,en,canada,50-55', 'Fiction,it,35-44', 'Fiction,it,35-44', 'Fiction,it,35-44', 'Fiction,it,18-24', 'Fiction,it,18-24', 'Fiction,it,18-24,90s', 'Fiction,norway', 'Fiction,it,35-44,90s', 'Fiction,it,35-44,2000s', 'Fiction,it,italy,18-24', 'Fiction,it,18-24,italy', 'Fiction,it,italy,2000s', 'Fiction,it,35-44,italy', 'Fiction,en,united kingdom,70s', 'Fiction,en,united kingdom,<18']
user_counts = [46856, 45615, 411, 5002, 34693, 1527, 214, 3417, 102, 308, 403, 2194, 63, 378, 49, 151, 49, 268, 36, 178, 41, 885, 210, 22145, 3044, 1675, 13095, 38, 26, 104, 36, 939, 55, 124, 175, 490, 48, 56, 25, 465, 198, 519, 54, 127, 130, 25, 44, 57, 36, 49, 36, 20, 41, 22, 36, 36, 109, 41, 32, 20]

for index in [i for i, parent in enumerate(parents) if 'Fiction,norway' in parent]:
    ids.pop(index)
    labels.pop(index)
    color_sequence.pop(index)
    parents.pop(index)
    user_counts.pop(index)


def capitalize(l):
    return [s.capitalize() if s != 'usa' else 'USA' for s in l]

ids2 = ['Fiction,>56', 'Fiction,80s', 'Fiction,35-44', 'Fiction,80s,50-55', 'Fiction,80s,en', 'Fiction,80s,>56', 'Fiction,35-44,netherlands', 'Fiction,35-44,en', 'Fiction,35-44,80s', 'Fiction,80s,en,>56', 'Fiction,80s,en,usa', 'Fiction,80s,en,50-55', 'Fiction,>56,80s', 'Fiction,>56,en', 'Fiction,>56,canada', 'Fiction,>56,en,canada', 'Fiction,>56,en,80s', 'Fiction,>56,en,usa', 'Fiction,35-44,en,netherlands', 'Fiction,35-44,en,80s', 'Fiction,35-44,en,usa', 'Fiction,>56,en,usa,80s', 'Fiction,>56,en,usa,90s', 'Fiction,>56,en,usa,70s', 'Fiction,80s,en,usa,35-44', 'Fiction,80s,en,usa,>56', 'Fiction,80s,en,usa,50-55', 'Fiction,35-44,en,usa,80s', 'Fiction,35-44,en,usa,2000s', 'Fiction,35-44,en,usa,90s', 'Fiction,80s,>56,en', 'Fiction,80s,>56,canada', 'Fiction,80s,>56,usa', 'Fiction,>56,80s,en', 'Fiction,>56,80s,canada', 'Fiction,>56,80s,usa', 'Fiction,>56,canada,90s', 'Fiction,>56,canada,80s', 'Fiction,>56,canada,en', 'Fiction,80s,en,>56,usa', 'Fiction,80s,en,>56,canada', 'Fiction,>56,en,80s,usa', 'Fiction,>56,en,80s,canada', 'Fiction,80s,>56,en,usa', 'Fiction,80s,>56,en,canada', 'Fiction,>56,80s,en,canada', 'Fiction,>56,80s,en,usa', 'Fiction,>56,canada,en,90s', 'Fiction,>56,canada,en,80s', 'Fiction,>56,en,canada,90s', 'Fiction,>56,en,canada,80s', 'Fiction,35-44,netherlands,en', 'Fiction,35-44,netherlands,90s', 'Fiction,35-44,80s,usa', 'Fiction,35-44,80s,en', 'Fiction,80s,50-55,en', 'Fiction,80s,50-55,usa', 'Fiction,>56,canada,80s,en', 'Fiction,>56,80s,canada,en', 'Fiction,80s,>56,canada,en', 'Fiction,35-44,netherlands,90s,en', 'Fiction,>56,canada,90s,en', 'Fiction,80s,50-55,usa,en', 'Fiction,>56,80s,usa,en', 'Fiction,80s,>56,usa,en', 'Fiction,35-44,80s,usa,en', 'Fiction,80s,en,50-55,usa', 'Fiction,80s,50-55,en,usa', 'Fiction,35-44,en,80s,usa', 'Fiction,35-44,80s,en,usa']
labels2 = ['>56', '80s', '35-44', '50-55', 'en', '>56', 'netherlands', 'en', '80s', '>56', 'usa', '50-55', '80s', 'en', 'canada', 'canada', '80s', 'usa', 'netherlands', '80s', 'usa', '80s', '90s', '70s', '35-44', '>56', '50-55', '80s', '2000s', '90s', 'en', 'canada', 'usa', 'en', 'canada', 'usa', '90s', '80s', 'en', 'usa', 'canada', 'usa', 'canada', 'usa', 'canada', 'canada', 'usa', '90s', '80s', '90s', '80s', 'en', '90s', 'usa', 'en', 'en', 'usa', 'en', 'en', 'en', 'en', 'en', 'en', 'en', 'en', 'en', 'usa', 'usa', 'usa', 'usa']
color_sequence2 = ['#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B']
parents2 = ['Fiction', 'Fiction', 'Fiction', 'Fiction,80s', 'Fiction,80s', 'Fiction,80s', 'Fiction,35-44', 'Fiction,35-44', 'Fiction,35-44', 'Fiction,80s,en', 'Fiction,80s,en', 'Fiction,80s,en', 'Fiction,>56', 'Fiction,>56', 'Fiction,>56', 'Fiction,>56,en', 'Fiction,>56,en', 'Fiction,>56,en', 'Fiction,35-44,en', 'Fiction,35-44,en', 'Fiction,35-44,en', 'Fiction,>56,en,usa', 'Fiction,>56,en,usa', 'Fiction,>56,en,usa', 'Fiction,80s,en,usa', 'Fiction,80s,en,usa', 'Fiction,80s,en,usa', 'Fiction,35-44,en,usa', 'Fiction,35-44,en,usa', 'Fiction,35-44,en,usa', 'Fiction,80s,>56', 'Fiction,80s,>56', 'Fiction,80s,>56', 'Fiction,>56,80s', 'Fiction,>56,80s', 'Fiction,>56,80s', 'Fiction,>56,canada', 'Fiction,>56,canada', 'Fiction,>56,canada', 'Fiction,80s,en,>56', 'Fiction,80s,en,>56', 'Fiction,>56,en,80s', 'Fiction,>56,en,80s', 'Fiction,80s,>56,en', 'Fiction,80s,>56,en', 'Fiction,>56,80s,en', 'Fiction,>56,80s,en', 'Fiction,>56,canada,en', 'Fiction,>56,canada,en', 'Fiction,>56,en,canada', 'Fiction,>56,en,canada', 'Fiction,35-44,netherlands', 'Fiction,35-44,netherlands', 'Fiction,35-44,80s', 'Fiction,35-44,80s', 'Fiction,80s,50-55', 'Fiction,80s,50-55', 'Fiction,>56,canada,80s', 'Fiction,>56,80s,canada', 'Fiction,80s,>56,canada', 'Fiction,35-44,netherlands,90s', 'Fiction,>56,canada,90s', 'Fiction,80s,50-55,usa', 'Fiction,>56,80s,usa', 'Fiction,80s,>56,usa', 'Fiction,35-44,80s,usa', 'Fiction,80s,en,50-55', 'Fiction,80s,50-55,en', 'Fiction,35-44,en,80s', 'Fiction,35-44,80s,en']
user_counts2 = [3089, 9098, 6236, 442, 8981, 485, 51, 6036, 1409, 485, 6765, 439, 485, 3073, 269, 269, 485, 2578, 51, 1396, 4595, 388, 1530, 52, 1060, 388, 354, 1060, 3121, 3044, 485, 62, 388, 485, 62, 388, 182, 62, 269, 388, 62, 388, 62, 388, 62, 62, 388, 182, 62, 182, 62, 51, 36, 1060, 1396, 439, 354, 62, 62, 62, 36, 182, 354, 388, 388, 1060, 354, 354, 1060, 1060]

ids3 = ['Fiction,philippines', 'Fiction,norway', 'Fiction,philippines,90s', 'Fiction,philippines,en', 'Fiction,norway,en']
labels3 = ['philippines', 'norway', '90s', 'en', 'en']
color_sequence3 = ['#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA']
parents3 = ['Fiction', 'Fiction', 'Fiction,philippines', 'Fiction,philippines', 'Fiction,norway']
user_counts3 = [35, 20, 21, 35, 20]

fig =go.Figure(go.Sunburst(
    ids=ids+ids2+ids3,
    labels=capitalize(labels+labels2+labels3),
    parents=parents+parents2+parents3,
    #values=[6031, 5907, 5903, 4238, 800, 1665, 296, 828, 549, 1514, 289, 83, 72, 38, ],
    marker=dict(colors=[hex_to_rgba(hex, get_opacity(user_count)) if hex != '' else '' for hex, user_count in zip(color_sequence+color_sequence2+color_sequence3, user_counts+user_counts2+user_counts3)])
))
fig.update_layout(margin = dict(t=0, l=0, r=0, b=0))

fig.update_traces(leaf=dict(opacity = 1))

fig.write_image("book.svg")

fig.show()

In [62]:
ids = ['Fiction', 'Fiction,en', 'Fiction,norway', 'Fiction,it', 'Fiction,en,canada', 'Fiction,en,usa', 'Fiction,en,united kingdom', 'Fiction,en,canada,50-55', 'Fiction,en,canada,90s', 'Fiction,en,canada,<18', 'Fiction,en,canada,90s,18-24', 'Fiction,en,canada,90s,35-44', 'Fiction,en,canada,90s,25-34', 'Fiction,it,35-44', 'Fiction,it,italy', 'Fiction,it,18-24', 'Fiction,it,italy,2000s', 'Fiction,it,italy,18-24', 'Fiction,it,italy,90s', 'Fiction,it,italy,90s,18-24', 'Fiction,it,italy,90s,25-34', 'Fiction,it,italy,90s,35-44', 'Fiction,en,usa,<18', 'Fiction,en,usa,60s', 'Fiction,en,usa,90s', 'Fiction,en,usa,90s,35-44', 'Fiction,en,usa,90s,18-24', 'Fiction,en,usa,90s,25-34', 'Fiction,en,usa,60s,35-44', 'Fiction,en,usa,60s,18-24', 'Fiction,en,usa,60s,25-34', 'Fiction,en,united kingdom,<18', 'Fiction,en,united kingdom,2000s', 'Fiction,en,united kingdom,70s', 'Fiction,en,united kingdom,2000s,18-24', 'Fiction,en,united kingdom,2000s,35-44', 'Fiction,en,united kingdom,2000s,25-34', 'Fiction,en,canada,<18,2000s', 'Fiction,en,canada,<18,90s', 'Fiction,en,canada,<18,80s', 'Fiction,en,usa,<18,2000s', 'Fiction,en,usa,<18,80s', 'Fiction,en,usa,<18,90s', 'Fiction,en,canada,50-55,80s', 'Fiction,en,canada,50-55,90s', 'Fiction,en,canada,50-55,2000s', 'Fiction,it,35-44,2000s', 'Fiction,it,35-44,90s', 'Fiction,it,35-44,italy', 'Fiction,it,18-24,90s', 'Fiction,it,18-24,italy', 'Fiction,it,18-24,90s,italy', 'Fiction,norway,en', 'Fiction,it,35-44,90s,italy', 'Fiction,it,35-44,2000s,italy', 'Fiction,it,italy,18-24,90s', 'Fiction,it,18-24,italy,90s', 'Fiction,it,italy,2000s,25-34', 'Fiction,it,35-44,italy,90s', 'Fiction,en,united kingdom,70s,25-34', 'Fiction,en,united kingdom,<18,90s']
labels = ['Fiction', 'en', 'norway', 'it', 'canada', 'usa', 'united kingdom', '50-55', '90s', '<18', '18-24', '35-44', '25-34', '35-44', 'italy', '18-24', '2000s', '18-24', '90s', '18-24', '25-34', '35-44', '<18', '60s', '90s', '35-44', '18-24', '25-34', '35-44', '18-24', '25-34', '<18', '2000s', '70s', '18-24', '35-44', '25-34', '2000s', '90s', '80s', '2000s', '80s', '90s', '80s', '90s', '2000s', '2000s', '90s', 'italy', '90s', 'italy', 'italy', 'en', 'italy', 'italy', '90s', '90s', '25-34', '90s', '25-34', '90s']
color_sequence = ['', '#00CC96', '#00CC96', '#00CC96', '#00CC96', '#00CC96', '#00CC96', '#00CC96', '#00CC96', '#00CC96', '#00CC96', '#00CC96', '#00CC96', '#00CC96', '#00CC96', '#00CC96', '#00CC96', '#00CC96', '#00CC96', '#00CC96', '#00CC96', '#00CC96', '#00CC96', '#00CC96', '#00CC96', '#00CC96', '#00CC96', '#00CC96', '#00CC96', '#00CC96', '#00CC96', '#00CC96', '#00CC96', '#00CC96', '#00CC96', '#00CC96', '#00CC96', '#00CC96', '#00CC96', '#00CC96', '#00CC96', '#00CC96', '#00CC96', '#00CC96', '#00CC96', '#00CC96', '#00CC96', '#00CC96', '#00CC96', '#00CC96', '#00CC96', '#00CC96', '#00CC96', '#00CC96', '#00CC96', '#00CC96', '#00CC96', '#00CC96', '#00CC96', '#00CC96', '#00CC96']
parents = ['', 'Fiction', 'Fiction', 'Fiction', 'Fiction,en', 'Fiction,en', 'Fiction,en', 'Fiction,en,canada', 'Fiction,en,canada', 'Fiction,en,canada', 'Fiction,en,canada,90s', 'Fiction,en,canada,90s', 'Fiction,en,canada,90s', 'Fiction,it', 'Fiction,it', 'Fiction,it', 'Fiction,it,italy', 'Fiction,it,italy', 'Fiction,it,italy', 'Fiction,it,italy,90s', 'Fiction,it,italy,90s', 'Fiction,it,italy,90s', 'Fiction,en,usa', 'Fiction,en,usa', 'Fiction,en,usa', 'Fiction,en,usa,90s', 'Fiction,en,usa,90s', 'Fiction,en,usa,90s', 'Fiction,en,usa,60s', 'Fiction,en,usa,60s', 'Fiction,en,usa,60s', 'Fiction,en,united kingdom', 'Fiction,en,united kingdom', 'Fiction,en,united kingdom', 'Fiction,en,united kingdom,2000s', 'Fiction,en,united kingdom,2000s', 'Fiction,en,united kingdom,2000s', 'Fiction,en,canada,<18', 'Fiction,en,canada,<18', 'Fiction,en,canada,<18', 'Fiction,en,usa,<18', 'Fiction,en,usa,<18', 'Fiction,en,usa,<18', 'Fiction,en,canada,50-55', 'Fiction,en,canada,50-55', 'Fiction,en,canada,50-55', 'Fiction,it,35-44', 'Fiction,it,35-44', 'Fiction,it,35-44', 'Fiction,it,18-24', 'Fiction,it,18-24', 'Fiction,it,18-24,90s', 'Fiction,norway', 'Fiction,it,35-44,90s', 'Fiction,it,35-44,2000s', 'Fiction,it,italy,18-24', 'Fiction,it,18-24,italy', 'Fiction,it,italy,2000s', 'Fiction,it,35-44,italy', 'Fiction,en,united kingdom,70s', 'Fiction,en,united kingdom,<18']
user_counts = [46856, 45615, 20, 411, 5002, 34693, 1527, 214, 3417, 102, 308, 403, 2194, 63, 378, 49, 151, 49, 268, 36, 178, 41, 885, 210, 22145, 3044, 1675, 13095, 38, 26, 104, 36, 939, 55, 124, 175, 490, 48, 56, 25, 465, 198, 519, 54, 127, 130, 25, 44, 57, 36, 49, 36, 20, 41, 22, 36, 36, 109, 41, 32, 20]

[i for i, parent in enumerate(parents) if 'Fiction,norway' in parent]

ids2 = ['Fiction,>56', 'Fiction,80s', 'Fiction,35-44', 'Fiction,80s,50-55', 'Fiction,80s,en', 'Fiction,80s,>56', 'Fiction,35-44,netherlands', 'Fiction,35-44,en', 'Fiction,35-44,80s', 'Fiction,80s,en,>56', 'Fiction,80s,en,usa', 'Fiction,80s,en,50-55', 'Fiction,>56,80s', 'Fiction,>56,en', 'Fiction,>56,canada', 'Fiction,>56,en,canada', 'Fiction,>56,en,80s', 'Fiction,>56,en,usa', 'Fiction,35-44,en,netherlands', 'Fiction,35-44,en,80s', 'Fiction,35-44,en,usa', 'Fiction,>56,en,usa,80s', 'Fiction,>56,en,usa,90s', 'Fiction,>56,en,usa,70s', 'Fiction,80s,en,usa,35-44', 'Fiction,80s,en,usa,>56', 'Fiction,80s,en,usa,50-55', 'Fiction,35-44,en,usa,80s', 'Fiction,35-44,en,usa,2000s', 'Fiction,35-44,en,usa,90s', 'Fiction,80s,>56,en', 'Fiction,80s,>56,canada', 'Fiction,80s,>56,usa', 'Fiction,>56,80s,en', 'Fiction,>56,80s,canada', 'Fiction,>56,80s,usa', 'Fiction,>56,canada,90s', 'Fiction,>56,canada,80s', 'Fiction,>56,canada,en', 'Fiction,80s,en,>56,usa', 'Fiction,80s,en,>56,canada', 'Fiction,>56,en,80s,usa', 'Fiction,>56,en,80s,canada', 'Fiction,80s,>56,en,usa', 'Fiction,80s,>56,en,canada', 'Fiction,>56,80s,en,canada', 'Fiction,>56,80s,en,usa', 'Fiction,>56,canada,en,90s', 'Fiction,>56,canada,en,80s', 'Fiction,>56,en,canada,90s', 'Fiction,>56,en,canada,80s', 'Fiction,35-44,netherlands,en', 'Fiction,35-44,netherlands,90s', 'Fiction,35-44,80s,usa', 'Fiction,35-44,80s,en', 'Fiction,80s,50-55,en', 'Fiction,80s,50-55,usa', 'Fiction,>56,canada,80s,en', 'Fiction,>56,80s,canada,en', 'Fiction,80s,>56,canada,en', 'Fiction,35-44,netherlands,90s,en', 'Fiction,>56,canada,90s,en', 'Fiction,80s,50-55,usa,en', 'Fiction,>56,80s,usa,en', 'Fiction,80s,>56,usa,en', 'Fiction,35-44,80s,usa,en', 'Fiction,80s,en,50-55,usa', 'Fiction,80s,50-55,en,usa', 'Fiction,35-44,en,80s,usa', 'Fiction,35-44,80s,en,usa']
labels2 = ['>56', '80s', '35-44', '50-55', 'en', '>56', 'netherlands', 'en', '80s', '>56', 'usa', '50-55', '80s', 'en', 'canada', 'canada', '80s', 'usa', 'netherlands', '80s', 'usa', '80s', '90s', '70s', '35-44', '>56', '50-55', '80s', '2000s', '90s', 'en', 'canada', 'usa', 'en', 'canada', 'usa', '90s', '80s', 'en', 'usa', 'canada', 'usa', 'canada', 'usa', 'canada', 'canada', 'usa', '90s', '80s', '90s', '80s', 'en', '90s', 'usa', 'en', 'en', 'usa', 'en', 'en', 'en', 'en', 'en', 'en', 'en', 'en', 'en', 'usa', 'usa', 'usa', 'usa']
color_sequence2 = ['#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B']
parents2 = ['Fiction', 'Fiction', 'Fiction', 'Fiction,80s', 'Fiction,80s', 'Fiction,80s', 'Fiction,35-44', 'Fiction,35-44', 'Fiction,35-44', 'Fiction,80s,en', 'Fiction,80s,en', 'Fiction,80s,en', 'Fiction,>56', 'Fiction,>56', 'Fiction,>56', 'Fiction,>56,en', 'Fiction,>56,en', 'Fiction,>56,en', 'Fiction,35-44,en', 'Fiction,35-44,en', 'Fiction,35-44,en', 'Fiction,>56,en,usa', 'Fiction,>56,en,usa', 'Fiction,>56,en,usa', 'Fiction,80s,en,usa', 'Fiction,80s,en,usa', 'Fiction,80s,en,usa', 'Fiction,35-44,en,usa', 'Fiction,35-44,en,usa', 'Fiction,35-44,en,usa', 'Fiction,80s,>56', 'Fiction,80s,>56', 'Fiction,80s,>56', 'Fiction,>56,80s', 'Fiction,>56,80s', 'Fiction,>56,80s', 'Fiction,>56,canada', 'Fiction,>56,canada', 'Fiction,>56,canada', 'Fiction,80s,en,>56', 'Fiction,80s,en,>56', 'Fiction,>56,en,80s', 'Fiction,>56,en,80s', 'Fiction,80s,>56,en', 'Fiction,80s,>56,en', 'Fiction,>56,80s,en', 'Fiction,>56,80s,en', 'Fiction,>56,canada,en', 'Fiction,>56,canada,en', 'Fiction,>56,en,canada', 'Fiction,>56,en,canada', 'Fiction,35-44,netherlands', 'Fiction,35-44,netherlands', 'Fiction,35-44,80s', 'Fiction,35-44,80s', 'Fiction,80s,50-55', 'Fiction,80s,50-55', 'Fiction,>56,canada,80s', 'Fiction,>56,80s,canada', 'Fiction,80s,>56,canada', 'Fiction,35-44,netherlands,90s', 'Fiction,>56,canada,90s', 'Fiction,80s,50-55,usa', 'Fiction,>56,80s,usa', 'Fiction,80s,>56,usa', 'Fiction,35-44,80s,usa', 'Fiction,80s,en,50-55', 'Fiction,80s,50-55,en', 'Fiction,35-44,en,80s', 'Fiction,35-44,80s,en']
user_counts2 = [3089, 9098, 6236, 442, 8981, 485, 51, 6036, 1409, 485, 6765, 439, 485, 3073, 269, 269, 485, 2578, 51, 1396, 4595, 388, 1530, 52, 1060, 388, 354, 1060, 3121, 3044, 485, 62, 388, 485, 62, 388, 182, 62, 269, 388, 62, 388, 62, 388, 62, 62, 388, 182, 62, 182, 62, 51, 36, 1060, 1396, 439, 354, 62, 62, 62, 36, 182, 354, 388, 388, 1060, 354, 354, 1060, 1060]

ids3 = ['Fiction,philippines', 'Fiction,norway', 'Fiction,philippines,90s', 'Fiction,philippines,en', 'Fiction,philippines,90s,en', 'Fiction,norway,en', 'Fiction,philippines,en,90s']
labels3 = ['philippines', 'norway', '90s', 'en', 'en', 'en', '90s']
color_sequence3 = ['#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA']
parents3 = ['Fiction', 'Fiction', 'Fiction,philippines', 'Fiction,philippines', 'Fiction,philippines,90s', 'Fiction,norway', 'Fiction,philippines,en']
user_counts3 = [35, 20, 21, 35, 21, 20, 21]

fig =go.Figure(go.Sunburst(
    ids=ids+ids2+ids3,
    labels=labels+labels2+labels3,
    parents=parents+parents2+parents3,
    #values=[6031, 5907, 5903, 4238, 800, 1665, 296, 828, 549, 1514, 289, 83, 72, 38, ],
    marker=dict(colors=[hex_to_rgba(hex, get_opacity(user_count)) if hex != '' else '' for hex, user_count in zip(color_sequence+color_sequence2+color_sequence3, user_counts+user_counts2+user_counts3)])
))
fig.update_layout(margin = dict(t=0, l=0, r=0, b=0))

fig.update_traces(leaf=dict(opacity = 1))

fig.show()

In [44]:
set(color_sequence)

{'', '#00CC96'}

In [39]:
len(ids)

77

In [31]:
ids[64:66]

['Fiction,philippines,en', 'Fiction,philippines,en,2000s']

In [74]:
occupation_renames = {
    'executive-managerial': 'Executive',
    'retired': 'Retired',
    'college-grad student': 'College student',
    'technician-engineer':  'Engineer',
    'unemployed': 'Unemployed',
    'academic-educator': 'Academic'
}

ids = ['Comedy', 'Comedy,Short', 'Comedy,30s', 'Comedy,30s,retired', 'Comedy,30s,Long', 'Comedy,30s,PA', 'Comedy,30s,Long,M', 'Comedy,30s,Long,retired', 'Comedy,30s,Long,F', 'Comedy,Short,90s', 'Comedy,Short,NC', 'Comedy,Short,TX', 'Comedy,Short,90s,F', 'Comedy,Short,90s,PA', 'Comedy,Short,90s,M', 'Comedy,Short,90s,M,25-34', 'Comedy,Short,90s,M,18-24', 'Comedy,Short,90s,M,35-44', 'Comedy,Short,90s,F,25-34', 'Comedy,Short,90s,F,35-44', 'Comedy,Short,90s,F,18-24', 'Comedy,30s,Long,M,50-55', 'Comedy,30s,Long,M,35-44', 'Comedy,30s,Long,M,45-49', 'Comedy,30s,Long,F,25-34', 'Comedy,30s,Long,F,50-55', 'Comedy,30s,Long,F,>56', 'Comedy,Short,90s,M,25-34,MN', 'Comedy,Short,90s,M,25-34,CA', 'Comedy,Short,90s,M,25-34,MA', 'Comedy,30s,Long,M,35-44,executive-managerial', 'Comedy,30s,Long,M,35-44,CA', 'Comedy,30s,Long,M,35-44,NY', 'Comedy,Short,90s,M,18-24,college-grad student', 'Comedy,Short,90s,M,18-24,CA', 'Comedy,Short,TX,90s', 'Comedy,Short,TX,M', 'Comedy,30s,retired,>56', 'Comedy,30s,retired,Long', 'Comedy,30s,retired,Long,>56', 'Comedy,30s,retired,Long,M', 'Comedy,30s,PA,Long', 'Comedy,30s,PA,M', 'Comedy,30s,PA,M,Long', 'Comedy,30s,retired,>56,Long', 'Comedy,Short,NC,90s', 'Comedy,Short,TX,M,90s', 'Comedy,30s,PA,Long,M', 'Comedy,30s,Long,retired,>56', 'Comedy,Short,TX,90s,M', 'Comedy,Short,90s,F,18-24,college-grad student', 'Comedy,Short,90s,F,25-34,CA', 'Comedy,30s,Long,F,25-34,CA', 'Comedy,Short,90s,M,35-44,technician-engineer', 'Comedy,K-12 student', 'Comedy,K-12 student,Long', 'Comedy,K-12 student,2000s', 'Comedy,K-12 student,M', 'Comedy,K-12 student,2000s,<18', 'Comedy,K-12 student,2000s,F', 'Comedy,K-12 student,2000s,Long', 'Comedy,K-12 student,Long,2000s', 'Comedy,K-12 student,Long,90s', 'Comedy,K-12 student,Long,M', 'Comedy,K-12 student,2000s,<18,F', 'Comedy,K-12 student,2000s,<18,Long', 'Comedy,K-12 student,2000s,Long,F', 'Comedy,K-12 student,2000s,Long,<18', 'Comedy,K-12 student,Long,2000s,<18', 'Comedy,K-12 student,Long,2000s,F', 'Comedy,K-12 student,Long,90s,M', 'Comedy,K-12 student,Long,90s,<18']
labels = ['Comedy', 'Short', '30s', 'retired', 'Long', 'PA', 'M', 'retired', 'F', '90s', 'NC', 'TX', 'F', 'PA', 'M', '25-34', '18-24', '35-44', '25-34', '35-44', '18-24', '50-55', '35-44', '45-49', '25-34', '50-55', '>56', 'MN', 'CA', 'MA', 'executive-managerial', 'CA', 'NY', 'college-grad student', 'CA', '90s', 'M', '>56', 'Long', '>56', 'M', 'Long', 'M', 'Long', 'Long', '90s', '90s', 'M', '>56', 'M', 'college-grad student', 'CA', 'CA', 'technician-engineer', 'K-12 student', 'Long', '2000s', 'M', '<18', 'F', 'Long', '2000s', '90s', 'M', 'F', 'Long', 'F', '<18', '<18', 'F', 'M', '<18']
color_sequence = ['', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#00CC96', '#00CC96', '#00CC96', '#00CC96', '#00CC96', '#00CC96', '#00CC96', '#00CC96', '#00CC96', '#00CC96', '#00CC96', '#00CC96', '#00CC96', '#00CC96', '#00CC96', '#00CC96', '#00CC96', '#00CC96']
parents = ['', 'Comedy', 'Comedy', 'Comedy,30s', 'Comedy,30s', 'Comedy,30s', 'Comedy,30s,Long', 'Comedy,30s,Long', 'Comedy,30s,Long', 'Comedy,Short', 'Comedy,Short', 'Comedy,Short', 'Comedy,Short,90s', 'Comedy,Short,90s', 'Comedy,Short,90s', 'Comedy,Short,90s,M', 'Comedy,Short,90s,M', 'Comedy,Short,90s,M', 'Comedy,Short,90s,F', 'Comedy,Short,90s,F', 'Comedy,Short,90s,F', 'Comedy,30s,Long,M', 'Comedy,30s,Long,M', 'Comedy,30s,Long,M', 'Comedy,30s,Long,F', 'Comedy,30s,Long,F', 'Comedy,30s,Long,F', 'Comedy,Short,90s,M,25-34', 'Comedy,Short,90s,M,25-34', 'Comedy,Short,90s,M,25-34', 'Comedy,30s,Long,M,35-44', 'Comedy,30s,Long,M,35-44', 'Comedy,30s,Long,M,35-44', 'Comedy,Short,90s,M,18-24', 'Comedy,Short,90s,M,18-24', 'Comedy,Short,TX', 'Comedy,Short,TX', 'Comedy,30s,retired', 'Comedy,30s,retired', 'Comedy,30s,retired,Long', 'Comedy,30s,retired,Long', 'Comedy,30s,PA', 'Comedy,30s,PA', 'Comedy,30s,PA,M', 'Comedy,30s,retired,>56', 'Comedy,Short,NC', 'Comedy,Short,TX,M', 'Comedy,30s,PA,Long', 'Comedy,30s,Long,retired', 'Comedy,Short,TX,90s', 'Comedy,Short,90s,F,18-24', 'Comedy,Short,90s,F,25-34', 'Comedy,30s,Long,F,25-34', 'Comedy,Short,90s,M,35-44', 'Comedy', 'Comedy,K-12 student', 'Comedy,K-12 student', 'Comedy,K-12 student', 'Comedy,K-12 student,2000s', 'Comedy,K-12 student,2000s', 'Comedy,K-12 student,2000s', 'Comedy,K-12 student,Long', 'Comedy,K-12 student,Long', 'Comedy,K-12 student,Long', 'Comedy,K-12 student,2000s,<18', 'Comedy,K-12 student,2000s,<18', 'Comedy,K-12 student,2000s,Long', 'Comedy,K-12 student,2000s,Long', 'Comedy,K-12 student,Long,2000s', 'Comedy,K-12 student,Long,2000s', 'Comedy,K-12 student,Long,90s', 'Comedy,K-12 student,Long,90s']
user_counts = [6031, 1162, 1328, 31, 1328, 32, 919, 31, 409, 982, 24, 41, 266, 20, 716, 304, 140, 151, 95, 62, 54, 94, 231, 112, 117, 45, 27, 26, 67, 23, 41, 47, 23, 64, 28, 32, 29, 24, 31, 24, 24, 32, 25, 25, 24, 22, 24, 25, 24, 24, 32, 32, 33, 25, 195, 195, 142, 129, 120, 44, 142, 142, 195, 129, 44, 120, 44, 120, 120, 44, 129, 163]

ids2 = ['Comedy,AZ', 'Comedy,90s', 'Comedy,unemployed', 'Comedy,90s,Long', 'Comedy,90s,LA', 'Comedy,90s,KS', 'Comedy,90s,Long,M', 'Comedy,90s,Long,F', 'Comedy,90s,Long,LA', 'Comedy,90s,Long,M,35-44', 'Comedy,90s,Long,M,18-24', 'Comedy,90s,Long,M,25-34', 'Comedy,90s,Long,M,18-24,college-grad student', 'Comedy,90s,Long,M,18-24,other', 'Comedy,90s,Long,M,18-24,writer', 'Comedy,90s,Long,F,18-24', 'Comedy,90s,Long,F,NJ', 'Comedy,90s,Long,F,25-34', 'Comedy,90s,Long,F,18-24,college-grad student', 'Comedy,90s,Long,F,18-24,MI', 'Comedy,90s,Long,F,18-24,MN', 'Comedy,90s,Long,M,35-44,executive-managerial', 'Comedy,90s,Long,M,35-44,academic-educator', 'Comedy,90s,Long,M,35-44,technician-engineer', 'Comedy,90s,Long,F,25-34,TX', 'Comedy,90s,Long,F,25-34,CA', 'Comedy,90s,Long,F,25-34,NY', 'Comedy,90s,Long,M,25-34,CA', 'Comedy,90s,Long,M,25-34,NY', 'Comedy,90s,Long,M,25-34,MN', 'Comedy,90s,Long,M,25-34,CA,writer', 'Comedy,90s,Long,M,25-34,CA,other', 'Comedy,90s,Long,M,25-34,CA,technician-engineer', 'Comedy,90s,Long,M,18-24,college-grad student,MA', 'Comedy,90s,Long,M,18-24,college-grad student,MN', 'Comedy,90s,Long,M,18-24,college-grad student,NY', 'Comedy,unemployed,2000s', 'Comedy,unemployed,18-24', 'Comedy,unemployed,Long', 'Comedy,unemployed,Long,2000s', 'Comedy,unemployed,Long,90s', 'Comedy,unemployed,Long,18-24', 'Comedy,AZ,M', 'Comedy,AZ,90s', 'Comedy,AZ,Long', 'Comedy,AZ,M,2000s', 'Comedy,AZ,M,Long', 'Comedy,AZ,M,25-34', 'Comedy,AZ,M,Long,25-34', 'Comedy,AZ,M,Long,2000s', 'Comedy,AZ,M,Long,90s', 'Comedy,AZ,Long,M', 'Comedy,AZ,Long,2000s', 'Comedy,AZ,Long,90s', 'Comedy,AZ,Long,M,2000s', 'Comedy,AZ,Long,M,90s', 'Comedy,AZ,Long,M,25-34', 'Comedy,unemployed,Long,90s,M', 'Comedy,unemployed,Long,90s,18-24', 'Comedy,AZ,Long,90s,M', 'Comedy,AZ,Long,90s,25-34', 'Comedy,unemployed,18-24,M', 'Comedy,unemployed,18-24,90s', 'Comedy,unemployed,18-24,Long', 'Comedy,AZ,90s,Long', 'Comedy,AZ,90s,M', 'Comedy,AZ,90s,M,25-34', 'Comedy,AZ,90s,M,Long', 'Comedy,AZ,90s,Long,M', 'Comedy,AZ,90s,Long,25-34', 'Comedy,unemployed,2000s,Long', 'Comedy,unemployed,2000s,M', 'Comedy,90s,KS,M', 'Comedy,90s,KS,Long', 'Comedy,unemployed,18-24,90s,M', 'Comedy,unemployed,18-24,90s,Long', 'Comedy,unemployed,Long,18-24,M', 'Comedy,unemployed,Long,18-24,90s', 'Comedy,unemployed,18-24,Long,M', 'Comedy,unemployed,18-24,Long,90s', 'Comedy,90s,LA,M', 'Comedy,90s,LA,Long', 'Comedy,unemployed,2000s,M,Long', 'Comedy,AZ,M,2000s,Long', 'Comedy,unemployed,18-24,90s,M,Long', 'Comedy,AZ,90s,M,25-34,Long']
labels2 = ['AZ', '90s', 'unemployed', 'Long', 'LA', 'KS', 'M', 'F', 'LA', '35-44', '18-24', '25-34', 'college-grad student', 'other', 'writer', '18-24', 'NJ', '25-34', 'college-grad student', 'MI', 'MN', 'executive-managerial', 'academic-educator', 'technician-engineer', 'TX', 'CA', 'NY', 'CA', 'NY', 'MN', 'writer', 'other', 'technician-engineer', 'MA', 'MN', 'NY', '2000s', '18-24', 'Long', '2000s', '90s', '18-24', 'M', '90s', 'Long', '2000s', 'Long', '25-34', '25-34', '2000s', '90s', 'M', '2000s', '90s', '2000s', '90s', '25-34', 'M', '18-24', 'M', '25-34', 'M', '90s', 'Long', 'Long', 'M', '25-34', 'Long', 'M', '25-34', 'Long', 'M', 'M', 'Long', 'M', 'Long', 'M', '90s', 'M', '90s', 'M', 'Long', 'Long', 'Long', 'Long', 'Long']
color_sequence2 = ['#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B']
parents2 = ['Comedy', 'Comedy', 'Comedy', 'Comedy,90s', 'Comedy,90s', 'Comedy,90s', 'Comedy,90s,Long', 'Comedy,90s,Long', 'Comedy,90s,Long', 'Comedy,90s,Long,M', 'Comedy,90s,Long,M', 'Comedy,90s,Long,M', 'Comedy,90s,Long,M,18-24', 'Comedy,90s,Long,M,18-24', 'Comedy,90s,Long,M,18-24', 'Comedy,90s,Long,F', 'Comedy,90s,Long,F', 'Comedy,90s,Long,F', 'Comedy,90s,Long,F,18-24', 'Comedy,90s,Long,F,18-24', 'Comedy,90s,Long,F,18-24', 'Comedy,90s,Long,M,35-44', 'Comedy,90s,Long,M,35-44', 'Comedy,90s,Long,M,35-44', 'Comedy,90s,Long,F,25-34', 'Comedy,90s,Long,F,25-34', 'Comedy,90s,Long,F,25-34', 'Comedy,90s,Long,M,25-34', 'Comedy,90s,Long,M,25-34', 'Comedy,90s,Long,M,25-34', 'Comedy,90s,Long,M,25-34,CA', 'Comedy,90s,Long,M,25-34,CA', 'Comedy,90s,Long,M,25-34,CA', 'Comedy,90s,Long,M,18-24,college-grad student', 'Comedy,90s,Long,M,18-24,college-grad student', 'Comedy,90s,Long,M,18-24,college-grad student', 'Comedy,unemployed', 'Comedy,unemployed', 'Comedy,unemployed', 'Comedy,unemployed,Long', 'Comedy,unemployed,Long', 'Comedy,unemployed,Long', 'Comedy,AZ', 'Comedy,AZ', 'Comedy,AZ', 'Comedy,AZ,M', 'Comedy,AZ,M', 'Comedy,AZ,M', 'Comedy,AZ,M,Long', 'Comedy,AZ,M,Long', 'Comedy,AZ,M,Long', 'Comedy,AZ,Long', 'Comedy,AZ,Long', 'Comedy,AZ,Long', 'Comedy,AZ,Long,M', 'Comedy,AZ,Long,M', 'Comedy,AZ,Long,M', 'Comedy,unemployed,Long,90s', 'Comedy,unemployed,Long,90s', 'Comedy,AZ,Long,90s', 'Comedy,AZ,Long,90s', 'Comedy,unemployed,18-24', 'Comedy,unemployed,18-24', 'Comedy,unemployed,18-24', 'Comedy,AZ,90s', 'Comedy,AZ,90s', 'Comedy,AZ,90s,M', 'Comedy,AZ,90s,M', 'Comedy,AZ,90s,Long', 'Comedy,AZ,90s,Long', 'Comedy,unemployed,2000s', 'Comedy,unemployed,2000s', 'Comedy,90s,KS', 'Comedy,90s,KS', 'Comedy,unemployed,18-24,90s', 'Comedy,unemployed,18-24,90s', 'Comedy,unemployed,Long,18-24', 'Comedy,unemployed,Long,18-24', 'Comedy,unemployed,18-24,Long', 'Comedy,unemployed,18-24,Long', 'Comedy,90s,LA', 'Comedy,90s,LA', 'Comedy,unemployed,2000s,M', 'Comedy,AZ,M,2000s', 'Comedy,unemployed,18-24,90s,M', 'Comedy,AZ,90s,M,25-34']
user_counts2 = [83, 5907, 72, 5903, 33, 38, 4238, 1665, 33, 828, 800, 1514, 368, 74, 35, 296, 34, 549, 162, 20, 21, 173, 74, 109, 31, 118, 36, 289, 104, 115, 25, 32, 47, 23, 24, 25, 45, 30, 72, 45, 72, 30, 58, 83, 83, 36, 58, 24, 24, 36, 58, 58, 50, 83, 36, 58, 24, 57, 30, 58, 33, 24, 30, 30, 83, 58, 24, 58, 58, 33, 45, 34, 29, 38, 24, 30, 24, 30, 24, 30, 28, 33, 34, 36, 24, 24]


def rename_occupations(l):
    renamed_l = []
    for lbl in l:
        if lbl in occupation_renames:
            renamed_l.append(occupation_renames[lbl])
        else:
            renamed_l.append(lbl)
    return renamed_l
    

fig = go.Figure(go.Sunburst(
    ids=ids+ids2,
    labels=rename_occupations(labels+labels2),
    parents=parents+parents2,
    #values=[6031, 5907, 5903, 4238, 800, 1665, 296, 828, 549, 1514, 289, 83, 72, 38, ],
    marker=dict(colors=[hex_to_rgba(hex, get_opacity(user_count)) if hex != '' else '' for hex, user_count in zip(color_sequence+color_sequence2, user_counts+user_counts2)])
))
fig.update_layout(margin = dict(t=0, l=0, r=0, b=0))

fig.update_traces(leaf=dict(opacity = 1))

fig.show()

import plotly
plotly.offline.plot(fig, filename='sunburst.pdf')

/Users/vicente/opt/anaconda3/envs/hypo_exploration/lib/python3.10/site-packages/plotly/offline/offline.py:557: UserWarning:

Your filename `sunburst.pdf` didn't end with .html. Adding .html to the end of your file.

'sunburst.pdf.html'

In [15]:
fig = go.Figure()

fig.add_trace(go.Scatter(
    x=[1, 2, 3, 4, 5],
    y=[1, 2, 3, 4, 5],
    name="μ > 4.0"
))

fig.add_trace(go.Scatter(
    x=[1, 2, 3, 4, 5],
    y=[5, 4, 3, 2, 1],
    name="μ < 3.5"
))

fig.add_trace(go.Scatter(
    x=[1, 2, 3, 4, 5],
    y=[5, 4, 3, 2, 1],
    name="σ² > 1.4"
))

fig.update_layout(legend_title_text='Hypothesis')

fig.write_image("legend.svg")

fig.show()

In [72]:
fig = go.Figure()

fig.add_trace(go.Scatter(
    x=[1, 2, 3, 4, 5],
    y=[1, 2, 3, 4, 5],
    name="μ > 4.0"
))

fig.add_trace(go.Scatter(
    x=[1, 2, 3, 4, 5],
    y=[5, 4, 3, 2, 1],
    name="μ < 2.5"
))

fig.add_trace(go.Scatter(
    x=[1, 2, 3, 4, 5],
    y=[5, 4, 3, 2, 1],
    name="σ² > 7.0"
))

fig.update_layout(legend_title_text='Hypothesis')

fig.write_image("book_legend.svg")

fig.show()

In [9]:
fig = go.Figure()

fig.add_trace(go.Scatter(
    x=[1, 2, 3, 4, 5],
    y=[1, 2, 3, 4, 5],
    name="μ > 4.0"
))

fig.add_trace(go.Scatter(
    x=[1, 2, 3, 4, 5],
    y=[5, 4, 3, 2, 1],
    name="μ < 3.5"
))

fig.add_trace(go.Scatter(
    x=[1, 2, 3, 4, 5],
    y=[5, 4, 3, 2, 1],
    name="σ² > 1.4"
))

fig.update_layout(legend_title_text='Hypothesis')

fig.update_layout(legend=dict(
    orientation="h",
))

fig.write_image("horizontal_movie_legend.svg")

fig.show()

In [10]:
fig = go.Figure()

fig.add_trace(go.Scatter(
    x=[1, 2, 3, 4, 5],
    y=[1, 2, 3, 4, 5],
    name="μ > 4.0"
))

fig.add_trace(go.Scatter(
    x=[1, 2, 3, 4, 5],
    y=[5, 4, 3, 2, 1],
    name="μ < 2.5"
))

fig.add_trace(go.Scatter(
    x=[1, 2, 3, 4, 5],
    y=[5, 4, 3, 2, 1],
    name="σ² > 7.0"
))

fig.update_layout(legend_title_text='Hypothesis')

fig.update_layout(legend=dict(
    orientation="h",
))

fig.write_image("horizontal_book_legend.svg")

fig.show()

In [11]:
fig = go.Figure()

fig.add_trace(go.Scatter(
    x=[1, 2, 3, 4, 5],
    y=[1, 2, 3, 4, 5],
    name="μ > 4.0"
))

fig.add_trace(go.Scatter(
    x=[1, 2, 3, 4, 5],
    y=[5, 4, 3, 2, 1],
    name="μ < 3.5"
))

fig.add_trace(go.Scatter(
    x=[1, 2, 3, 4, 5],
    y=[5, 4, 3, 2, 1],
    name="σ² > 1.6"
))

fig.update_layout(legend_title_text='Hypothesis')

fig.update_layout(legend=dict(
    orientation="h",
))

fig.write_image("horizontal_yelp_legend.svg")

fig.show()

In [47]:
fig = go.Figure()

fig.add_trace(go.Scatter(
    x=[1, 2, 3, 4, 5],
    y=[1, 2, 3, 4, 5],
    name="μ > 4.0"
))

fig.add_trace(go.Scatter(
    x=[1, 2, 3, 4, 5],
    y=[5, 4, 3, 2, 1],
    name="μ < 3.5"
))

fig.add_trace(go.Scatter(
    x=[1, 2, 3, 4, 5],
    y=[5, 4, 3, 2, 1],
    name="σ² > 1.6"
))

fig.update_layout(legend_title_text='Hypothesis')

fig.write_image("yelp_legend.svg")

fig.show()

In [62]:
!pip install -U kaleido

Collecting kaleido
  Downloading kaleido-0.2.1-py2.py3-none-macosx_10_11_x86_64.whl.metadata (15 kB)
Downloading kaleido-0.2.1-py2.py3-none-macosx_10_11_x86_64.whl (85.2 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 85.2/85.2 MB 33.3 MB/s eta 0:00:0000:0100:01
Installing collected packages: kaleido
Successfully installed kaleido-0.2.1

In [61]:
occupation_renames = {
    'executive-managerial': 'Executive',
    'retired': 'Retired',
    'college-grad student': 'College student',
    'technician-engineer':  'Engineer',
    'unemployed': 'Unemployed',
    'academic-educator': 'Academic'
}

ids = ['Comedy', 'Comedy,Short', 'Comedy,30s', 'Comedy,30s,retired', 'Comedy,30s,Long', 'Comedy,30s,PA', 'Comedy,30s,Long,M', 'Comedy,30s,Long,retired', 'Comedy,30s,Long,F', 'Comedy,Short,90s', 'Comedy,Short,NC', 'Comedy,Short,TX', 'Comedy,Short,90s,F', 'Comedy,Short,90s,PA', 'Comedy,Short,90s,M', 'Comedy,Short,90s,M,25-34', 'Comedy,Short,90s,M,18-24', 'Comedy,Short,90s,M,35-44', 'Comedy,Short,90s,F,25-34', 'Comedy,Short,90s,F,35-44', 'Comedy,Short,90s,F,18-24', 'Comedy,30s,Long,M,50-55', 'Comedy,30s,Long,M,35-44', 'Comedy,30s,Long,M,45-49', 'Comedy,30s,Long,F,25-34', 'Comedy,30s,Long,F,50-55', 'Comedy,30s,Long,F,>56', 'Comedy,Short,90s,M,25-34,MN', 'Comedy,Short,90s,M,25-34,CA', 'Comedy,Short,90s,M,25-34,MA', 'Comedy,30s,Long,M,35-44,executive-managerial', 'Comedy,30s,Long,M,35-44,CA', 'Comedy,30s,Long,M,35-44,NY', 'Comedy,Short,90s,M,18-24,college-grad student', 'Comedy,Short,90s,M,18-24,CA', 'Comedy,Short,TX,90s', 'Comedy,Short,TX,M', 'Comedy,30s,retired,>56', 'Comedy,30s,retired,Long', 'Comedy,30s,retired,Long,>56', 'Comedy,30s,retired,Long,M', 'Comedy,30s,PA,Long', 'Comedy,30s,PA,M', 'Comedy,30s,PA,M,Long', 'Comedy,30s,retired,>56,Long', 'Comedy,Short,NC,90s', 'Comedy,Short,TX,M,90s', 'Comedy,30s,PA,Long,M', 'Comedy,30s,Long,retired,>56', 'Comedy,Short,TX,90s,M', 'Comedy,Short,90s,F,18-24,college-grad student', 'Comedy,Short,90s,F,25-34,CA', 'Comedy,30s,Long,F,25-34,CA', 'Comedy,Short,90s,M,35-44,technician-engineer', 'Comedy,K-12 student', 'Comedy,K-12 student,Long', 'Comedy,K-12 student,2000s', 'Comedy,K-12 student,M', 'Comedy,K-12 student,2000s,<18', 'Comedy,K-12 student,2000s,F', 'Comedy,K-12 student,2000s,Long', 'Comedy,K-12 student,Long,2000s', 'Comedy,K-12 student,Long,90s', 'Comedy,K-12 student,Long,M', 'Comedy,K-12 student,2000s,<18,F', 'Comedy,K-12 student,2000s,<18,Long', 'Comedy,K-12 student,2000s,Long,F', 'Comedy,K-12 student,2000s,Long,<18', 'Comedy,K-12 student,Long,2000s,<18', 'Comedy,K-12 student,Long,2000s,F', 'Comedy,K-12 student,Long,90s,M', 'Comedy,K-12 student,Long,90s,<18']
labels = ['Comedy', 'Short', '30s', 'retired', 'Long', 'PA', 'M', 'retired', 'F', '90s', 'NC', 'TX', 'F', 'PA', 'M', '25-34', '18-24', '35-44', '25-34', '35-44', '18-24', '50-55', '35-44', '45-49', '25-34', '50-55', '>56', 'MN', 'CA', 'MA', 'executive-managerial', 'CA', 'NY', 'college-grad student', 'CA', '90s', 'M', '>56', 'Long', '>56', 'M', 'Long', 'M', 'Long', 'Long', '90s', '90s', 'M', '>56', 'M', 'college-grad student', 'CA', 'CA', 'technician-engineer', 'K-12 student', 'Long', '2000s', 'M', '<18', 'F', 'Long', '2000s', '90s', 'M', 'F', 'Long', 'F', '<18', '<18', 'F', 'M', '<18']
color_sequence = ['', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#00CC96', '#00CC96', '#00CC96', '#00CC96', '#00CC96', '#00CC96', '#00CC96', '#00CC96', '#00CC96', '#00CC96', '#00CC96', '#00CC96', '#00CC96', '#00CC96', '#00CC96', '#00CC96', '#00CC96', '#00CC96']
parents = ['', 'Comedy', 'Comedy', 'Comedy,30s', 'Comedy,30s', 'Comedy,30s', 'Comedy,30s,Long', 'Comedy,30s,Long', 'Comedy,30s,Long', 'Comedy,Short', 'Comedy,Short', 'Comedy,Short', 'Comedy,Short,90s', 'Comedy,Short,90s', 'Comedy,Short,90s', 'Comedy,Short,90s,M', 'Comedy,Short,90s,M', 'Comedy,Short,90s,M', 'Comedy,Short,90s,F', 'Comedy,Short,90s,F', 'Comedy,Short,90s,F', 'Comedy,30s,Long,M', 'Comedy,30s,Long,M', 'Comedy,30s,Long,M', 'Comedy,30s,Long,F', 'Comedy,30s,Long,F', 'Comedy,30s,Long,F', 'Comedy,Short,90s,M,25-34', 'Comedy,Short,90s,M,25-34', 'Comedy,Short,90s,M,25-34', 'Comedy,30s,Long,M,35-44', 'Comedy,30s,Long,M,35-44', 'Comedy,30s,Long,M,35-44', 'Comedy,Short,90s,M,18-24', 'Comedy,Short,90s,M,18-24', 'Comedy,Short,TX', 'Comedy,Short,TX', 'Comedy,30s,retired', 'Comedy,30s,retired', 'Comedy,30s,retired,Long', 'Comedy,30s,retired,Long', 'Comedy,30s,PA', 'Comedy,30s,PA', 'Comedy,30s,PA,M', 'Comedy,30s,retired,>56', 'Comedy,Short,NC', 'Comedy,Short,TX,M', 'Comedy,30s,PA,Long', 'Comedy,30s,Long,retired', 'Comedy,Short,TX,90s', 'Comedy,Short,90s,F,18-24', 'Comedy,Short,90s,F,25-34', 'Comedy,30s,Long,F,25-34', 'Comedy,Short,90s,M,35-44', 'Comedy', 'Comedy,K-12 student', 'Comedy,K-12 student', 'Comedy,K-12 student', 'Comedy,K-12 student,2000s', 'Comedy,K-12 student,2000s', 'Comedy,K-12 student,2000s', 'Comedy,K-12 student,Long', 'Comedy,K-12 student,Long', 'Comedy,K-12 student,Long', 'Comedy,K-12 student,2000s,<18', 'Comedy,K-12 student,2000s,<18', 'Comedy,K-12 student,2000s,Long', 'Comedy,K-12 student,2000s,Long', 'Comedy,K-12 student,Long,2000s', 'Comedy,K-12 student,Long,2000s', 'Comedy,K-12 student,Long,90s', 'Comedy,K-12 student,Long,90s']
user_counts = [6031, 1162, 1328, 31, 1328, 32, 919, 31, 409, 982, 24, 41, 266, 20, 716, 304, 140, 151, 95, 62, 54, 94, 231, 112, 117, 45, 27, 26, 67, 23, 41, 47, 23, 64, 28, 32, 29, 24, 31, 24, 24, 32, 25, 25, 24, 22, 24, 25, 24, 24, 32, 32, 33, 25, 195, 195, 142, 129, 120, 44, 142, 142, 195, 129, 44, 120, 44, 120, 120, 44, 129, 163]

ids2 = ['Comedy,AZ', 'Comedy,90s', 'Comedy,unemployed', 'Comedy,90s,Long', 'Comedy,90s,LA', 'Comedy,90s,KS', 'Comedy,90s,Long,M', 'Comedy,90s,Long,F', 'Comedy,90s,Long,LA', 'Comedy,90s,Long,M,35-44', 'Comedy,90s,Long,M,18-24', 'Comedy,90s,Long,M,25-34', 'Comedy,90s,Long,M,18-24,college-grad student', 'Comedy,90s,Long,M,18-24,other', 'Comedy,90s,Long,M,18-24,writer', 'Comedy,90s,Long,F,18-24', 'Comedy,90s,Long,F,NJ', 'Comedy,90s,Long,F,25-34', 'Comedy,90s,Long,F,18-24,college-grad student', 'Comedy,90s,Long,F,18-24,MI', 'Comedy,90s,Long,F,18-24,MN', 'Comedy,90s,Long,M,35-44,executive-managerial', 'Comedy,90s,Long,M,35-44,academic-educator', 'Comedy,90s,Long,M,35-44,technician-engineer', 'Comedy,90s,Long,F,25-34,TX', 'Comedy,90s,Long,F,25-34,CA', 'Comedy,90s,Long,F,25-34,NY', 'Comedy,90s,Long,M,25-34,CA', 'Comedy,90s,Long,M,25-34,NY', 'Comedy,90s,Long,M,25-34,MN', 'Comedy,90s,Long,M,25-34,CA,writer', 'Comedy,90s,Long,M,25-34,CA,other', 'Comedy,90s,Long,M,25-34,CA,technician-engineer', 'Comedy,90s,Long,M,18-24,college-grad student,MA', 'Comedy,90s,Long,M,18-24,college-grad student,MN', 'Comedy,90s,Long,M,18-24,college-grad student,NY', 'Comedy,unemployed,2000s', 'Comedy,unemployed,18-24', 'Comedy,unemployed,Long', 'Comedy,unemployed,Long,2000s', 'Comedy,unemployed,Long,90s', 'Comedy,unemployed,Long,18-24', 'Comedy,AZ,M', 'Comedy,AZ,90s', 'Comedy,AZ,Long', 'Comedy,AZ,M,2000s', 'Comedy,AZ,M,Long', 'Comedy,AZ,M,25-34', 'Comedy,AZ,M,Long,25-34', 'Comedy,AZ,M,Long,2000s', 'Comedy,AZ,M,Long,90s', 'Comedy,AZ,Long,M', 'Comedy,AZ,Long,2000s', 'Comedy,AZ,Long,90s', 'Comedy,AZ,Long,M,2000s', 'Comedy,AZ,Long,M,90s', 'Comedy,AZ,Long,M,25-34', 'Comedy,unemployed,Long,90s,M', 'Comedy,unemployed,Long,90s,18-24', 'Comedy,AZ,Long,90s,M', 'Comedy,AZ,Long,90s,25-34', 'Comedy,unemployed,18-24,M', 'Comedy,unemployed,18-24,90s', 'Comedy,unemployed,18-24,Long', 'Comedy,AZ,90s,Long', 'Comedy,AZ,90s,M', 'Comedy,AZ,90s,M,25-34', 'Comedy,AZ,90s,M,Long', 'Comedy,AZ,90s,Long,M', 'Comedy,AZ,90s,Long,25-34', 'Comedy,unemployed,2000s,Long', 'Comedy,unemployed,2000s,M', 'Comedy,90s,KS,M', 'Comedy,90s,KS,Long', 'Comedy,unemployed,18-24,90s,M', 'Comedy,unemployed,18-24,90s,Long', 'Comedy,unemployed,Long,18-24,M', 'Comedy,unemployed,Long,18-24,90s', 'Comedy,unemployed,18-24,Long,M', 'Comedy,unemployed,18-24,Long,90s', 'Comedy,90s,LA,M', 'Comedy,90s,LA,Long', 'Comedy,unemployed,2000s,M,Long', 'Comedy,AZ,M,2000s,Long', 'Comedy,unemployed,18-24,90s,M,Long', 'Comedy,AZ,90s,M,25-34,Long']
labels2 = ['AZ', '90s', 'unemployed', 'Long', 'LA', 'KS', 'M', 'F', 'LA', '35-44', '18-24', '25-34', 'college-grad student', 'other', 'writer', '18-24', 'NJ', '25-34', 'college-grad student', 'MI', 'MN', 'executive-managerial', 'academic-educator', 'technician-engineer', 'TX', 'CA', 'NY', 'CA', 'NY', 'MN', 'writer', 'other', 'technician-engineer', 'MA', 'MN', 'NY', '2000s', '18-24', 'Long', '2000s', '90s', '18-24', 'M', '90s', 'Long', '2000s', 'Long', '25-34', '25-34', '2000s', '90s', 'M', '2000s', '90s', '2000s', '90s', '25-34', 'M', '18-24', 'M', '25-34', 'M', '90s', 'Long', 'Long', 'M', '25-34', 'Long', 'M', '25-34', 'Long', 'M', 'M', 'Long', 'M', 'Long', 'M', '90s', 'M', '90s', 'M', 'Long', 'Long', 'Long', 'Long', 'Long']
color_sequence2 = ['#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B']
parents2 = ['Comedy', 'Comedy', 'Comedy', 'Comedy,90s', 'Comedy,90s', 'Comedy,90s', 'Comedy,90s,Long', 'Comedy,90s,Long', 'Comedy,90s,Long', 'Comedy,90s,Long,M', 'Comedy,90s,Long,M', 'Comedy,90s,Long,M', 'Comedy,90s,Long,M,18-24', 'Comedy,90s,Long,M,18-24', 'Comedy,90s,Long,M,18-24', 'Comedy,90s,Long,F', 'Comedy,90s,Long,F', 'Comedy,90s,Long,F', 'Comedy,90s,Long,F,18-24', 'Comedy,90s,Long,F,18-24', 'Comedy,90s,Long,F,18-24', 'Comedy,90s,Long,M,35-44', 'Comedy,90s,Long,M,35-44', 'Comedy,90s,Long,M,35-44', 'Comedy,90s,Long,F,25-34', 'Comedy,90s,Long,F,25-34', 'Comedy,90s,Long,F,25-34', 'Comedy,90s,Long,M,25-34', 'Comedy,90s,Long,M,25-34', 'Comedy,90s,Long,M,25-34', 'Comedy,90s,Long,M,25-34,CA', 'Comedy,90s,Long,M,25-34,CA', 'Comedy,90s,Long,M,25-34,CA', 'Comedy,90s,Long,M,18-24,college-grad student', 'Comedy,90s,Long,M,18-24,college-grad student', 'Comedy,90s,Long,M,18-24,college-grad student', 'Comedy,unemployed', 'Comedy,unemployed', 'Comedy,unemployed', 'Comedy,unemployed,Long', 'Comedy,unemployed,Long', 'Comedy,unemployed,Long', 'Comedy,AZ', 'Comedy,AZ', 'Comedy,AZ', 'Comedy,AZ,M', 'Comedy,AZ,M', 'Comedy,AZ,M', 'Comedy,AZ,M,Long', 'Comedy,AZ,M,Long', 'Comedy,AZ,M,Long', 'Comedy,AZ,Long', 'Comedy,AZ,Long', 'Comedy,AZ,Long', 'Comedy,AZ,Long,M', 'Comedy,AZ,Long,M', 'Comedy,AZ,Long,M', 'Comedy,unemployed,Long,90s', 'Comedy,unemployed,Long,90s', 'Comedy,AZ,Long,90s', 'Comedy,AZ,Long,90s', 'Comedy,unemployed,18-24', 'Comedy,unemployed,18-24', 'Comedy,unemployed,18-24', 'Comedy,AZ,90s', 'Comedy,AZ,90s', 'Comedy,AZ,90s,M', 'Comedy,AZ,90s,M', 'Comedy,AZ,90s,Long', 'Comedy,AZ,90s,Long', 'Comedy,unemployed,2000s', 'Comedy,unemployed,2000s', 'Comedy,90s,KS', 'Comedy,90s,KS', 'Comedy,unemployed,18-24,90s', 'Comedy,unemployed,18-24,90s', 'Comedy,unemployed,Long,18-24', 'Comedy,unemployed,Long,18-24', 'Comedy,unemployed,18-24,Long', 'Comedy,unemployed,18-24,Long', 'Comedy,90s,LA', 'Comedy,90s,LA', 'Comedy,unemployed,2000s,M', 'Comedy,AZ,M,2000s', 'Comedy,unemployed,18-24,90s,M', 'Comedy,AZ,90s,M,25-34']
user_counts2 = [83, 5907, 72, 5903, 33, 38, 4238, 1665, 33, 828, 800, 1514, 368, 74, 35, 296, 34, 549, 162, 20, 21, 173, 74, 109, 31, 118, 36, 289, 104, 115, 25, 32, 47, 23, 24, 25, 45, 30, 72, 45, 72, 30, 58, 83, 83, 36, 58, 24, 24, 36, 58, 58, 50, 83, 36, 58, 24, 57, 30, 58, 33, 24, 30, 30, 83, 58, 24, 58, 58, 33, 45, 34, 29, 38, 24, 30, 24, 30, 24, 30, 28, 33, 34, 36, 24, 24]


def rename_occupations(l):
    renamed_l = []
    for lbl in l:
        if lbl in occupation_renames:
            renamed_l.append(occupation_renames[lbl])
        else:
            renamed_l.append(lbl)
    return renamed_l
    

fig =go.Figure(go.Sunburst(
    ids=ids+ids2,
    labels=rename_occupations(labels+labels2),
    parents=parents+parents2,
    #values=[6031, 5907, 5903, 4238, 800, 1665, 296, 828, 549, 1514, 289, 83, 72, 38, ],
    marker=dict(colors=[hex_to_rgba(hex, get_opacity(user_count)) if hex != '' else '' for hex, user_count in zip(color_sequence+color_sequence2, user_counts+user_counts2)])
))
fig.update_layout(margin = dict(t=0, l=0, r=0, b=0))

fig.update_traces(leaf=dict(opacity = 1))

fig.add_trace(go.Scatter(
    x=[1],
    y=[1],
    name="μ > 4.0"
))

fig.add_trace(go.Scatter(
    x=[1],
    y=[5],
    name="μ < 3.5"
))

fig.add_trace(go.Scatter(
    x=[1],
    y=[5],
    name="σ² > 1.4"
))

fig.update_layout(legend_title_text='Hypothesis')

fig.show()

In [ ]:
ids2 = ['Comedy,AZ', 'Comedy,90s', 'Comedy,unemployed', 'Comedy,90s,Long', 'Comedy,90s,LA', 'Comedy,90s,KS', 'Comedy,90s,Long,M', 'Comedy,90s,Long,F', 'Comedy,90s,Long,LA', 'Comedy,90s,Long,M,35-44', 'Comedy,90s,Long,M,18-24', 'Comedy,90s,Long,M,25-34', 'Comedy,90s,Long,M,18-24,college-grad student', 'Comedy,90s,Long,M,18-24,other', 'Comedy,90s,Long,M,18-24,writer', 'Comedy,90s,Long,F,18-24', 'Comedy,90s,Long,F,NJ', 'Comedy,90s,Long,F,25-34', 'Comedy,90s,Long,F,18-24,college-grad student', 'Comedy,90s,Long,F,18-24,MI', 'Comedy,90s,Long,F,18-24,MN', 'Comedy,90s,Long,M,35-44,executive-managerial', 'Comedy,90s,Long,M,35-44,academic-educator', 'Comedy,90s,Long,M,35-44,technician-engineer', 'Comedy,90s,Long,F,25-34,TX', 'Comedy,90s,Long,F,25-34,CA', 'Comedy,90s,Long,F,25-34,NY', 'Comedy,90s,Long,M,25-34,CA', 'Comedy,90s,Long,M,25-34,NY', 'Comedy,90s,Long,M,25-34,MN', 'Comedy,90s,Long,M,25-34,CA,writer', 'Comedy,90s,Long,M,25-34,CA,other', 'Comedy,90s,Long,M,25-34,CA,technician-engineer', 'Comedy,90s,Long,M,18-24,college-grad student,MA', 'Comedy,90s,Long,M,18-24,college-grad student,MN', 'Comedy,90s,Long,M,18-24,college-grad student,NY', 'Comedy,unemployed,2000s', 'Comedy,unemployed,18-24', 'Comedy,unemployed,Long', 'Comedy,unemployed,Long,2000s', 'Comedy,unemployed,Long,90s', 'Comedy,unemployed,Long,18-24', 'Comedy,AZ,M', 'Comedy,AZ,90s', 'Comedy,AZ,Long', 'Comedy,AZ,M,2000s', 'Comedy,AZ,M,Long', 'Comedy,AZ,M,25-34', 'Comedy,AZ,M,Long,25-34', 'Comedy,AZ,M,Long,2000s', 'Comedy,AZ,M,Long,90s', 'Comedy,AZ,Long,M', 'Comedy,AZ,Long,2000s', 'Comedy,AZ,Long,90s', 'Comedy,AZ,Long,M,2000s', 'Comedy,AZ,Long,M,90s', 'Comedy,AZ,Long,M,25-34', 'Comedy,unemployed,Long,90s,M', 'Comedy,unemployed,Long,90s,18-24', 'Comedy,AZ,Long,90s,M', 'Comedy,AZ,Long,90s,25-34', 'Comedy,unemployed,18-24,M', 'Comedy,unemployed,18-24,90s', 'Comedy,unemployed,18-24,Long', 'Comedy,AZ,90s,Long', 'Comedy,AZ,90s,M', 'Comedy,AZ,90s,M,25-34', 'Comedy,AZ,90s,M,Long', 'Comedy,AZ,90s,Long,M', 'Comedy,AZ,90s,Long,25-34', 'Comedy,unemployed,2000s,Long', 'Comedy,unemployed,2000s,M', 'Comedy,90s,KS,M', 'Comedy,90s,KS,Long', 'Comedy,unemployed,18-24,90s,M', 'Comedy,unemployed,18-24,90s,Long', 'Comedy,unemployed,Long,18-24,M', 'Comedy,unemployed,Long,18-24,90s', 'Comedy,unemployed,18-24,Long,M', 'Comedy,unemployed,18-24,Long,90s', 'Comedy,90s,LA,M', 'Comedy,90s,LA,Long', 'Comedy,unemployed,2000s,M,Long', 'Comedy,AZ,M,2000s,Long', 'Comedy,unemployed,18-24,90s,M,Long', 'Comedy,AZ,90s,M,25-34,Long']
labels2 = ['AZ', '90s', 'unemployed', 'Long', 'LA', 'KS', 'M', 'F', 'LA', '35-44', '18-24', '25-34', 'college-grad student', 'other', 'writer', '18-24', 'NJ', '25-34', 'college-grad student', 'MI', 'MN', 'executive-managerial', 'academic-educator', 'technician-engineer', 'TX', 'CA', 'NY', 'CA', 'NY', 'MN', 'writer', 'other', 'technician-engineer', 'MA', 'MN', 'NY', '2000s', '18-24', 'Long', '2000s', '90s', '18-24', 'M', '90s', 'Long', '2000s', 'Long', '25-34', '25-34', '2000s', '90s', 'M', '2000s', '90s', '2000s', '90s', '25-34', 'M', '18-24', 'M', '25-34', 'M', '90s', 'Long', 'Long', 'M', '25-34', 'Long', 'M', '25-34', 'Long', 'M', 'M', 'Long', 'M', 'Long', 'M', '90s', 'M', '90s', 'M', 'Long', 'Long', 'Long', 'Long', 'Long']
color_sequence2 = ['#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B']
parents2 = ['Comedy', 'Comedy', 'Comedy', 'Comedy,90s', 'Comedy,90s', 'Comedy,90s', 'Comedy,90s,Long', 'Comedy,90s,Long', 'Comedy,90s,Long', 'Comedy,90s,Long,M', 'Comedy,90s,Long,M', 'Comedy,90s,Long,M', 'Comedy,90s,Long,M,18-24', 'Comedy,90s,Long,M,18-24', 'Comedy,90s,Long,M,18-24', 'Comedy,90s,Long,F', 'Comedy,90s,Long,F', 'Comedy,90s,Long,F', 'Comedy,90s,Long,F,18-24', 'Comedy,90s,Long,F,18-24', 'Comedy,90s,Long,F,18-24', 'Comedy,90s,Long,M,35-44', 'Comedy,90s,Long,M,35-44', 'Comedy,90s,Long,M,35-44', 'Comedy,90s,Long,F,25-34', 'Comedy,90s,Long,F,25-34', 'Comedy,90s,Long,F,25-34', 'Comedy,90s,Long,M,25-34', 'Comedy,90s,Long,M,25-34', 'Comedy,90s,Long,M,25-34', 'Comedy,90s,Long,M,25-34,CA', 'Comedy,90s,Long,M,25-34,CA', 'Comedy,90s,Long,M,25-34,CA', 'Comedy,90s,Long,M,18-24,college-grad student', 'Comedy,90s,Long,M,18-24,college-grad student', 'Comedy,90s,Long,M,18-24,college-grad student', 'Comedy,unemployed', 'Comedy,unemployed', 'Comedy,unemployed', 'Comedy,unemployed,Long', 'Comedy,unemployed,Long', 'Comedy,unemployed,Long', 'Comedy,AZ', 'Comedy,AZ', 'Comedy,AZ', 'Comedy,AZ,M', 'Comedy,AZ,M', 'Comedy,AZ,M', 'Comedy,AZ,M,Long', 'Comedy,AZ,M,Long', 'Comedy,AZ,M,Long', 'Comedy,AZ,Long', 'Comedy,AZ,Long', 'Comedy,AZ,Long', 'Comedy,AZ,Long,M', 'Comedy,AZ,Long,M', 'Comedy,AZ,Long,M', 'Comedy,unemployed,Long,90s', 'Comedy,unemployed,Long,90s', 'Comedy,AZ,Long,90s', 'Comedy,AZ,Long,90s', 'Comedy,unemployed,18-24', 'Comedy,unemployed,18-24', 'Comedy,unemployed,18-24', 'Comedy,AZ,90s', 'Comedy,AZ,90s', 'Comedy,AZ,90s,M', 'Comedy,AZ,90s,M', 'Comedy,AZ,90s,Long', 'Comedy,AZ,90s,Long', 'Comedy,unemployed,2000s', 'Comedy,unemployed,2000s', 'Comedy,90s,KS', 'Comedy,90s,KS', 'Comedy,unemployed,18-24,90s', 'Comedy,unemployed,18-24,90s', 'Comedy,unemployed,Long,18-24', 'Comedy,unemployed,Long,18-24', 'Comedy,unemployed,18-24,Long', 'Comedy,unemployed,18-24,Long', 'Comedy,90s,LA', 'Comedy,90s,LA', 'Comedy,unemployed,2000s,M', 'Comedy,AZ,M,2000s', 'Comedy,unemployed,18-24,90s,M', 'Comedy,AZ,90s,M,25-34']
user_counts2 = [83, 5907, 72, 5903, 33, 38, 4238, 1665, 33, 828, 800, 1514, 368, 74, 35, 296, 34, 549, 162, 20, 21, 173, 74, 109, 31, 118, 36, 289, 104, 115, 25, 32, 47, 23, 24, 25, 45, 30, 72, 45, 72, 30, 58, 83, 83, 36, 58, 24, 24, 36, 58, 58, 50, 83, 36, 58, 24, 57, 30, 58, 33, 24, 30, 30, 83, 58, 24, 58, 58, 33, 45, 34, 29, 38, 24, 30, 24, 30, 24, 30, 28, 33, 34, 36, 24, 24]

In [23]:
ids = ['Comedy', 'Comedy,Short', 'Comedy,30s', 'Comedy,30s,clerical-admin', 'Comedy,30s,Long', 'Comedy,30s,PA', 'Comedy,30s,Long,M', 'Comedy,30s,Long,F', 'Comedy,30s,Long,PA', 'Comedy,30s,Long,M,45-49', 'Comedy,30s,Long,M,35-44', 'Comedy,30s,Long,M,50-55', 'Comedy,30s,Long,F,25-34', 'Comedy,30s,Long,F,50-55', 'Comedy,30s,Long,F,>56', 'Comedy,Short,NC', 'Comedy,Short,90s', 'Comedy,Short,OR', 'Comedy,Short,90s,F', 'Comedy,Short,90s,M', 'Comedy,Short,90s,PA', 'Comedy,Short,90s,M,35-44', 'Comedy,Short,90s,M,18-24', 'Comedy,Short,90s,M,25-34', 'Comedy,Short,90s,F,35-44', 'Comedy,Short,90s,F,25-34', 'Comedy,Short,90s,F,18-24', 'Comedy,Short,90s,M,25-34,MN', 'Comedy,Short,90s,M,25-34,MA', 'Comedy,Short,90s,M,25-34,CA', 'Comedy,30s,Long,M,35-44,NY', 'Comedy,30s,Long,M,35-44,executive-managerial', 'Comedy,Short,90s,M,18-24,CA', 'Comedy,Short,90s,M,18-24,college-grad student', 'Comedy,30s,clerical-admin,F', 'Comedy,30s,clerical-admin,Long', 'Comedy,Short,OR,M', 'Comedy,Short,OR,90s', 'Comedy,30s,PA,M', 'Comedy,30s,PA,Long', 'Comedy,30s,PA,M,Long', 'Comedy,30s,clerical-admin,F,Long', 'Comedy,Short,NC,90s', 'Comedy,Short,OR,M,90s', 'Comedy,30s,PA,Long,M', 'Comedy,30s,Long,PA,M', 'Comedy,Short,OR,90s,M', 'Comedy,Short,90s,F,18-24,college-grad student', 'Comedy,30s,clerical-admin,Long,F', 'Comedy,Short,90s,F,25-34,CA', 'Comedy,30s,Long,F,25-34,CA', 'Comedy,Short,90s,M,35-44,technician-engineer', 'Comedy,K-12 student', 'Comedy,K-12 student,2000s', 'Comedy,K-12 student,<18', 'Comedy,K-12 student,Long', 'Comedy,K-12 student,2000s,F', 'Comedy,K-12 student,2000s,Long', 'Comedy,K-12 student,2000s,<18', 'Comedy,K-12 student,<18,M', 'Comedy,K-12 student,<18,Long', 'Comedy,K-12 student,<18,2000s', 'Comedy,K-12 student,<18,Long,90s', 'Comedy,K-12 student,<18,Long,2000s', 'Comedy,K-12 student,<18,Long,M', 'Comedy,K-12 student,Long,2000s', 'Comedy,K-12 student,Long,<18', 'Comedy,K-12 student,Long,90s', 'Comedy,K-12 student,Long,<18,2000s', 'Comedy,K-12 student,Long,<18,90s', 'Comedy,K-12 student,Long,<18,M', 'Comedy,K-12 student,30s', 'Comedy,K-12 student,Short']
labels = ['Comedy', 'Short', '30s', 'clerical-admin', 'Long', 'PA', 'M', 'F', 'PA', '45-49', '35-44', '50-55', '25-34', '50-55', '>56', 'NC', '90s', 'OR', 'F', 'M', 'PA', '35-44', '18-24', '25-34', '35-44', '25-34', '18-24', 'MN', 'MA', 'CA', 'NY', 'executive-managerial', 'CA', 'college-grad student', 'F', 'Long', 'M', '90s', 'M', 'Long', 'Long', 'Long', '90s', '90s', 'M', 'M', 'M', 'college-grad student', 'F', 'CA', 'CA', 'technician-engineer', 'K-12 student', '2000s', '<18', 'Long', 'F', 'Long', '<18', 'M', 'Long', '2000s', '90s', '2000s', 'M', '2000s', '<18', '90s', '2000s', '90s', 'M', '30s', 'Short']
color_sequence = ['', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#00CC96', '#00CC96', '#00CC96', '#00CC96', '#00CC96', '#00CC96', '#00CC96', '#00CC96', '#00CC96', '#00CC96', '#00CC96', '#00CC96', '#00CC96', '#00CC96', '#00CC96', '#00CC96', '#00CC96', '#00CC96', '#00CC96', '#636EFA', '#636EFA']
parents = ['', 'Comedy', 'Comedy', 'Comedy,30s', 'Comedy,30s', 'Comedy,30s', 'Comedy,30s,Long', 'Comedy,30s,Long', 'Comedy,30s,Long', 'Comedy,30s,Long,M', 'Comedy,30s,Long,M', 'Comedy,30s,Long,M', 'Comedy,30s,Long,F', 'Comedy,30s,Long,F', 'Comedy,30s,Long,F', 'Comedy,Short', 'Comedy,Short', 'Comedy,Short', 'Comedy,Short,90s', 'Comedy,Short,90s', 'Comedy,Short,90s', 'Comedy,Short,90s,M', 'Comedy,Short,90s,M', 'Comedy,Short,90s,M', 'Comedy,Short,90s,F', 'Comedy,Short,90s,F', 'Comedy,Short,90s,F', 'Comedy,Short,90s,M,25-34', 'Comedy,Short,90s,M,25-34', 'Comedy,Short,90s,M,25-34', 'Comedy,30s,Long,M,35-44', 'Comedy,30s,Long,M,35-44', 'Comedy,Short,90s,M,18-24', 'Comedy,Short,90s,M,18-24', 'Comedy,30s,clerical-admin', 'Comedy,30s,clerical-admin', 'Comedy,Short,OR', 'Comedy,Short,OR', 'Comedy,30s,PA', 'Comedy,30s,PA', 'Comedy,30s,PA,M', 'Comedy,30s,clerical-admin,F', 'Comedy,Short,NC', 'Comedy,Short,OR,M', 'Comedy,30s,PA,Long', 'Comedy,30s,Long,PA', 'Comedy,Short,OR,90s', 'Comedy,Short,90s,F,18-24', 'Comedy,30s,clerical-admin,Long', 'Comedy,Short,90s,F,25-34', 'Comedy,30s,Long,F,25-34', 'Comedy,Short,90s,M,35-44', 'Comedy', 'Comedy,K-12 student', 'Comedy,K-12 student', 'Comedy,K-12 student', 'Comedy,K-12 student,2000s', 'Comedy,K-12 student,2000s', 'Comedy,K-12 student,2000s', 'Comedy,K-12 student,<18', 'Comedy,K-12 student,<18', 'Comedy,K-12 student,<18', 'Comedy,K-12 student,<18,Long', 'Comedy,K-12 student,<18,Long', 'Comedy,K-12 student,<18,Long', 'Comedy,K-12 student,Long', 'Comedy,K-12 student,Long', 'Comedy,K-12 student,Long', 'Comedy,K-12 student,Long,<18', 'Comedy,K-12 student,Long,<18', 'Comedy,K-12 student,Long,<18', 'Comedy,K-12 student', 'Comedy,K-12 student']
user_counts = [6031, 1162, 1328, 47, 1328, 32, 919, 409, 32, 112, 231, 94, 117, 45, 27, 24, 982, 35, 266, 716, 20, 151, 140, 304, 62, 95, 54, 26, 23, 67, 23, 41, 28, 64, 26, 47, 25, 29, 25, 32, 25, 26, 22, 21, 25, 25, 21, 32, 26, 32, 33, 25, 195, 142, 163, 195, 44, 142, 120, 100, 163, 120, 163, 120, 100, 142, 163, 195, 120, 163, 100, 22, 44]


def get_opacity(user_count):
    max_opacity = 1
    min_opacity = 0.15
    total_users = 6040
    opacity_step = (max_opacity - min_opacity) / total_users
    return user_count * opacity_step + min_opacity

fig =go.Figure(go.Sunburst(
    ids=ids,
    labels=labels,
    parents=parents,
    #values=[6031, 5907, 5903, 4238, 800, 1665, 296, 828, 549, 1514, 289, 83, 72, 38, ],
    marker=dict(colors=[hex_to_rgba(hex, get_opacity(user_count)) if hex != '' else '' for hex, user_count in zip(color_sequence, user_counts)])
))
fig.update_layout(margin = dict(t=0, l=0, r=0, b=0))

fig.update_traces(leaf=dict(opacity = 1))

fig.show()

In [42]:
ids = ['', 'Horror', 'unemployed', 'Horror,Long', 'Horror,UT', 'Horror,Long,M', 'Horror,Long,F', 'Horror,Long,M', 'Horror,Long,F', 'Horror,Long', 'Horror,NH', 'Horror,Long,F', 'Horror,Long,M', 'Horror,Long,M', 'Horror,Long,F', 'Horror,Long,M,ME', 'Horror,Long,M,90s', 'Horror,Long,M,90s', 'Horror,Long,M,ME', 'Horror,Long,M,ME', 'Horror,Long,M,90s', 'Horror,Long,M,90s', 'Horror,Long,M,ME', 'Horror,Long,M,LA', 'Horror,Long,M,80s', 'Horror,Long,M,LA', 'Horror,Long,M,80s', 'Horror,Long,M,LA', 'Horror,Long,M,80s', 'Horror,Long,M,LA', 'Horror,Long,M,80s', 'Horror,Long,M,90s,25-34', 'Horror,Long,M,90s,18-24', 'Horror,Long,M,90s,18-24', 'Horror,Long,M,90s,25-34', 'Horror,Long,M,90s,25-34', 'Horror,Long,M,90s,18-24', 'Horror,Long,M,90s,18-24', 'Horror,Long,M,90s,25-34', 'Horror,Long,M,80s,25-34', 'Horror,Long,M,80s,35-44', 'Horror,Long,M,80s,35-44', 'Horror,Long,M,80s,25-34', 'Horror,Long,M,80s,25-34', 'Horror,Long,M,80s,35-44', 'Horror,Long,M,80s,25-34', 'Horror,Long,M,80s,35-44', 'Horror,Long,M,90s,18-24,college-grad student', 'Horror,Long,M,90s,18-24,other', 'Horror,Long,M,90s,18-24,other', 'Horror,Long,M,90s,18-24,college-grad student', 'Horror,Long,M,90s,18-24,college-grad student', 'Horror,Long,M,90s,18-24,other', 'Horror,Long,M,90s,18-24,other', 'Horror,Long,M,90s,18-24,college-grad student', 'Horror,Long,F,90s', 'Horror,Long,F,CO', 'Horror,Long,F,90s,25-34', 'Horror,Long,F,90s,18-24', 'Horror,Long,F,90s,18-24,other', 'Horror,Long,F,90s,18-24,college-grad student', 'Horror,Long,F,90s', 'Horror,Long,F,CO', 'Horror,Long,F,90s,25-34', 'Horror,Long,F,90s,18-24', 'Horror,Long,F,90s,18-24,other', 'Horror,Long,F,90s,18-24,college-grad student', 'Horror,Long,F,CO', 'Horror,Long,F,90s', 'Horror,Long,F,90s,18-24', 'Horror,Long,F,90s,25-34']
labels = ['MovieLens', 'Horror', 'unemployed', 'Long', 'UT', 'M', 'F', 'M', 'F', 'Long', 'NH', 'F', 'M', 'M', 'F', 'ME', '90s', '90s', 'ME', 'ME', '90s', '90s', 'ME', 'LA', '80s', 'LA', '80s', 'LA', '80s', 'LA', '80s', '25-34', '18-24', '18-24', '25-34', '25-34', '18-24', '18-24', '25-34', '25-34', '35-44', '35-44', '25-34', '25-34', '35-44', '25-34', '35-44', 'college-grad student', 'other', 'other', 'college-grad student', 'college-grad student', 'other', 'other', 'college-grad student', '90s', 'CO', '25-34', '18-24', 'other', 'college-grad student', '90s', 'CO', '25-34', '18-24', 'other', 'college-grad student', 'CO', '90s', '18-24', '25-34']
color_sequence = ['', '#00CC96', '#00CC96', '#EF553B', '#EF553B', '#00CC96', '#00CC96', '#EF553B', '#EF553B', '#00CC96', '#00CC96', '#00CC96', '#00CC96', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#00CC96', '#00CC96', '#00CC96', '#00CC96', '#00CC96', '#00CC96', '#00CC96', '#00CC96', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B', '#EF553B']
parents = ['', '', '', 'Horror', 'Horror', 'Horror,Long', 'Horror,Long', 'Horror,Long', 'Horror,Long', 'Horror', 'Horror', 'Horror,Long', 'Horror,Long', 'Horror,Long', 'Horror,Long', 'Horror,Long,M', 'Horror,Long,M', 'Horror,Long,M', 'Horror,Long,M', 'Horror,Long,M', 'Horror,Long,M', 'Horror,Long,M', 'Horror,Long,M', 'Horror,Long,M', 'Horror,Long,M', 'Horror,Long,M', 'Horror,Long,M', 'Horror,Long,M', 'Horror,Long,M', 'Horror,Long,M', 'Horror,Long,M', 'Horror,Long,M,90s', 'Horror,Long,M,90s', 'Horror,Long,M,90s', 'Horror,Long,M,90s', 'Horror,Long,M,90s', 'Horror,Long,M,90s', 'Horror,Long,M,90s', 'Horror,Long,M,90s', 'Horror,Long,M,80s', 'Horror,Long,M,80s', 'Horror,Long,M,80s', 'Horror,Long,M,80s', 'Horror,Long,M,80s', 'Horror,Long,M,80s', 'Horror,Long,M,80s', 'Horror,Long,M,80s', 'Horror,Long,M,90s,18-24', 'Horror,Long,M,90s,18-24', 'Horror,Long,M,90s,18-24', 'Horror,Long,M,90s,18-24', 'Horror,Long,M,90s,18-24', 'Horror,Long,M,90s,18-24', 'Horror,Long,M,90s,18-24', 'Horror,Long,M,90s,18-24', 'Horror,Long,F', 'Horror,Long,F', 'Horror,Long,F,90s', 'Horror,Long,F,90s', 'Horror,Long,F,90s,18-24', 'Horror,Long,F,90s,18-24', 'Horror,Long,F', 'Horror,Long,F', 'Horror,Long,F,90s', 'Horror,Long,F,90s', 'Horror,Long,F,90s,18-24', 'Horror,Long,F,90s,18-24', 'Horror,Long,F', 'Horror,Long,F', 'Horror,Long,F,90s', 'Horror,Long,F,90s']
user_counts = [6040, 5297, 72, 5297, 24, 3928, 1369, 3928, 1369, 5297, 37, 1369, 3928, 3928, 1369, 25, 2913, 2913, 25, 25, 2913, 2913, 25, 23, 2774, 23, 2774, 23, 2774, 23, 2774, 1158, 629, 629, 1158, 1158, 629, 629, 1158, 1093, 561, 561, 1093, 1093, 561, 1093, 561, 293, 55, 55, 293, 293, 55, 55, 293, 919, 21, 340, 193, 21, 102, 919, 21, 340, 193, 21, 102, 21, 919, 193, 340]
fig = go.Figure(go.Sunburst(
    ids=ids,
    labels=labels,
    parents=parents,
    #values=[6031, 5907, 5903, 4238, 800, 1665, 296, 828, 549, 1514, 289, 83, 72, 38, ],
    marker=dict(colors=[hex_to_rgba(hex, get_opacity(user_count)) if hex != '' else '' for hex, user_count in zip(color_sequence, user_counts)])
))
fig.update_layout(margin = dict(t=0, l=0, r=0, b=0))

fig.update_traces(leaf=dict(opacity = 1))

fig.show()

In [40]:
ids

['Comedy',
 'Comedy,30s',
 'Comedy,Short',
 'Comedy,30s,PA',
 'Comedy,30s,Long',
 'Comedy,30s,Long,M',
 'Comedy,30s,Long,F',
 'Comedy,Short,90s',
 'Comedy,Short,NC',
 'Comedy,Short,90s,M',
 'Comedy,Short,90s,F',
 'Comedy,Short,90s,M,25-34',
 'Comedy,Short,90s,M,35-44',
 'Comedy,Short,90s,F,25-34',
 'Comedy,Short,90s,F,35-44',
 'Comedy,30s,Long,F,50-55',
 'Comedy,30s,Long,F,25-34',
 'Comedy,30s,Long,M,45-49',
 'Comedy,30s,Long,M,35-44',
 'Comedy,Short,90s,M,25-34,CA',
 'Comedy,Short,90s,M,25-34,MN',
 'Comedy,30s,Long,M,35-44,executive-managerial',
 'Comedy,30s,Long,M,35-44,NY',
 'Comedy,30s,PA,Long',
 'Comedy,30s,PA,M',
 'Comedy,30s,PA,M,Long',
 'Comedy,Short,NC,90s',
 'Comedy,30s,PA,Long,M',
 'Comedy,Short,90s,F,25-34,CA',
 'Comedy,30s,Long,F,25-34,CA',
 'Comedy,Short,90s,M,35-44,technician-engineer',
 'Comedy,K-12 student',
 'Comedy,K-12 student,Long',
 'Comedy,K-12 student,2000s',
 'Comedy,K-12 student,2000s,Long',
 'Comedy,K-12 student,2000s,F',
 'Comedy,K-12 student,2000s,Long,F',
 'Comedy,K-12 student,2000s,Long,<18',
 'Comedy,K-12 student,Long,90s',
 'Comedy,K-12 student,Long,2000s',
 'Comedy,K-12 student,Long,2000s,<18',
 'Comedy,K-12 student,Long,2000s,F',
 'Comedy,K-12 student,Long,90s,<18',
 'Comedy,K-12 student,Long,90s,M',
 'Comedy,K-12 student,Long,2000s,F,<18',
 'Comedy,K-12 student,Long,2000s,F,<18',
 'Comedy,K-12 student,2000s,F,<18',
 'Comedy,K-12 student,2000s,F,Long',
 'Comedy,K-12 student,2000s,F,Long',
 'Comedy,K-12 student,2000s,F,<18,Long',
 'Comedy,K-12 student,2000s,F,<18,Long',
 'Comedy,K-12 student,2000s,F,Long,<18',
 'Comedy,K-12 student,2000s,F,Long,<18',
 'Comedy,K-12 student,2000s,F,Long,<18',
 'Comedy,K-12 student,2000s,F,Long,<18']

In [19]:
ids = ['Comedy', 'Comedy,Long', 'Comedy,UT', 'Comedy,LA', 'Comedy,Long,90s', 'Comedy,Long,UT', 'Comedy,Long,NE', 'Comedy,Long,90s,F', 'Comedy,Long,90s,M', 'Comedy,Long,90s,LA', 'Comedy,Long,90s,MO', 'Comedy,Long,90s,LA', 'Comedy,Long,90s,M', 'Comedy,Long,90s,MO,M', 'Comedy,Long,90s,MO,25-34', 'Comedy,Long,90s,MO,F', 'Comedy,Long,90s,M,18-24', 'Comedy,Long,90s,M,<18', 'Comedy,Long,90s,M,25-34', 'Comedy,Long,90s,M,18-24,college-grad student', 'Comedy,Long,90s,M,18-24,writer', 'Comedy,Long,90s,M,18-24,other', 'Comedy,Long,90s,M,18-24,writer', 'Comedy,Long,90s,M,18-24,other', 'Comedy,Long,90s,M,18-24,college-grad student', 'Comedy,Long,90s,M,<18', 'Comedy,Long,90s,M,25-34', 'Comedy,Long,90s,M,18-24', 'Comedy,Long,90s,M,18-24,other', 'Comedy,Long,90s,M,18-24,college-grad student', 'Comedy,Long,90s,M,18-24,writer', 'Comedy,Long,90s,M,18-24,writer', 'Comedy,Long,90s,M,18-24,college-grad student', 'Comedy,Long,90s,M,18-24,other', 'Comedy,Long,90s,M,18-24', 'Comedy,Long,90s,M,<18', 'Comedy,Long,90s,M,25-34', 'Comedy,Long,90s,M,18-24,other', 'Comedy,Long,90s,M,18-24,college-grad student', 'Comedy,Long,90s,M,18-24,writer', 'Comedy,Long,90s,M,18-24,other', 'Comedy,Long,90s,M,18-24,college-grad student', 'Comedy,Long,90s,M,18-24,writer', 'Comedy,Long,90s,M,<18', 'Comedy,Long,90s,M,18-24', 'Comedy,Long,90s,M,25-34', 'Comedy,Long,90s,M,18-24,college-grad student', 'Comedy,Long,90s,M,18-24,other', 'Comedy,Long,90s,M,18-24,writer', 'Comedy,Long,90s,M,18-24,college-grad student', 'Comedy,Long,90s,M,18-24,other', 'Comedy,Long,90s,M,18-24,writer', 'Comedy,Long,90s,F,18-24', 'Comedy,Long,90s,F,25-34', 'Comedy,Long,90s,F,<18', 'Comedy,Long,90s,F,18-24,college-grad student', 'Comedy,Long,90s,F,18-24,MI', 'Comedy,Long,90s,F,18-24,MN', 'Comedy,Long,90s,F,18-24,MI', 'Comedy,Long,90s,F,18-24,college-grad student', 'Comedy,Long,90s,F,18-24,OH', 'Comedy,Long,90s,M,25-34,NY', 'Comedy,Long,90s,M,25-34,IL', 'Comedy,Long,90s,M,25-34,CA', 'Comedy,Long,90s,M,25-34,CA,other', 'Comedy,Long,90s,M,25-34,CA,technician-engineer', 'Comedy,Long,90s,M,25-34,CA,writer', 'Comedy,Long,90s,M,25-34,IL', 'Comedy,Long,90s,M,25-34,NY', 'Comedy,Long,90s,M,25-34,CA', 'Comedy,Long,90s,M,25-34,CA,writer', 'Comedy,Long,90s,M,25-34,CA,other', 'Comedy,Long,90s,M,25-34,CA,technician-engineer', 'Comedy,Long,90s,M,25-34,NY', 'Comedy,Long,90s,M,25-34,CA', 'Comedy,Long,90s,M,25-34,IL', 'Comedy,Long,90s,M,25-34,CA,other', 'Comedy,Long,90s,M,25-34,CA,writer', 'Comedy,Long,90s,M,25-34,CA,technician-engineer', 'Comedy,Long,90s,M,25-34,IL', 'Comedy,Long,90s,M,25-34,CA', 'Comedy,Long,90s,M,25-34,NY', 'Comedy,Long,90s,M,25-34,CA,writer', 'Comedy,Long,90s,M,25-34,CA,other', 'Comedy,Long,90s,M,25-34,CA,technician-engineer', 'Comedy,Long,90s,M,25-34,NY', 'Comedy,Long,90s,M,25-34,IL', 'Comedy,Long,90s,M,25-34,CA', 'Comedy,Long,90s,M,25-34,CA,other', 'Comedy,Long,90s,M,25-34,CA,writer', 'Comedy,Long,90s,M,25-34,CA,technician-engineer', 'Comedy,Long,90s,M,25-34,NY', 'Comedy,Long,90s,M,25-34,IL', 'Comedy,Long,90s,M,25-34,CA', 'Comedy,Long,90s,M,25-34,CA,writer', 'Comedy,Long,90s,M,25-34,CA,other', 'Comedy,Long,90s,M,25-34,CA,technician-engineer', 'Comedy,Long,90s,M,25-34,CA', 'Comedy,Long,90s,M,25-34,NY', 'Comedy,Long,90s,M,25-34,IL', 'Comedy,Long,90s,M,25-34,CA,technician-engineer', 'Comedy,Long,90s,M,25-34,CA,writer', 'Comedy,Long,90s,M,25-34,CA,other', 'Comedy,Long,90s,M,25-34,IL', 'Comedy,Long,90s,M,25-34,CA', 'Comedy,Long,90s,M,25-34,NY']
labels = ['Comedy', 'Long', 'UT', 'LA', '90s', 'UT', 'NE', 'F', 'M', 'LA', 'MO', 'LA', 'M', 'M', '25-34', 'F', '18-24', '<18', '25-34', 'college-grad student', 'writer', 'other', 'writer', 'other', 'college-grad student', '<18', '25-34', '18-24', 'other', 'college-grad student', 'writer', 'writer', 'college-grad student', 'other', '18-24', '<18', '25-34', 'other', 'college-grad student', 'writer', 'other', 'college-grad student', 'writer', '<18', '18-24', '25-34', 'college-grad student', 'other', 'writer', 'college-grad student', 'other', 'writer', '18-24', '25-34', '<18', 'college-grad student', 'MI', 'MN', 'MI', 'college-grad student', 'OH', 'NY', 'IL', 'CA', 'other', 'technician-engineer', 'writer', 'IL', 'NY', 'CA', 'writer', 'other', 'technician-engineer', 'NY', 'CA', 'IL', 'other', 'writer', 'technician-engineer', 'IL', 'CA', 'NY', 'writer', 'other', 'technician-engineer', 'NY', 'IL', 'CA', 'other', 'writer', 'technician-engineer', 'NY', 'IL', 'CA', 'writer', 'other', 'technician-engineer', 'CA', 'NY', 'IL', 'technician-engineer', 'writer', 'other', 'IL', 'CA', 'NY']
color_sequence = ['', '#00CC96', '#00CC96', '#00CC96', '#00CC96', '#00CC96', '#00CC96', '#00CC96', '#00CC96', '#00CC96', '#636EFA', '#636EFA', '#636EFA', '#00CC96', '#00CC96', '#00CC96', '#00CC96', '#00CC96', '#00CC96', '#00CC96', '#00CC96', '#00CC96', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#00CC96', '#00CC96', '#00CC96', '#636EFA', '#636EFA', '#636EFA', '#00CC96', '#00CC96', '#00CC96', '#00CC96', '#00CC96', '#00CC96', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#00CC96', '#00CC96', '#00CC96', '#636EFA', '#636EFA', '#636EFA', '#00CC96', '#00CC96', '#00CC96', '#00CC96', '#00CC96', '#00CC96', '#636EFA', '#636EFA', '#636EFA', '#00CC96', '#00CC96', '#00CC96', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#00CC96', '#00CC96', '#00CC96', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#00CC96', '#00CC96', '#00CC96', '#636EFA', '#636EFA', '#636EFA', '#00CC96', '#00CC96', '#00CC96', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA', '#636EFA']
parents = ['', 'Comedy', 'Comedy', 'Comedy', 'Comedy,Long', 'Comedy,Long', 'Comedy,Long', 'Comedy,Long,90s', 'Comedy,Long,90s', 'Comedy,Long,90s', 'Comedy,Long,90s', 'Comedy,Long,90s', 'Comedy,Long,90s', 'Comedy,Long,90s,MO', 'Comedy,Long,90s,MO', 'Comedy,Long,90s,MO', 'Comedy,Long,90s,M', 'Comedy,Long,90s,M', 'Comedy,Long,90s,M', 'Comedy,Long,90s,M,18-24', 'Comedy,Long,90s,M,18-24', 'Comedy,Long,90s,M,18-24', 'Comedy,Long,90s,M,18-24', 'Comedy,Long,90s,M,18-24', 'Comedy,Long,90s,M,18-24', 'Comedy,Long,90s,M', 'Comedy,Long,90s,M', 'Comedy,Long,90s,M', 'Comedy,Long,90s,M,18-24', 'Comedy,Long,90s,M,18-24', 'Comedy,Long,90s,M,18-24', 'Comedy,Long,90s,M,18-24', 'Comedy,Long,90s,M,18-24', 'Comedy,Long,90s,M,18-24', 'Comedy,Long,90s,M', 'Comedy,Long,90s,M', 'Comedy,Long,90s,M', 'Comedy,Long,90s,M,18-24', 'Comedy,Long,90s,M,18-24', 'Comedy,Long,90s,M,18-24', 'Comedy,Long,90s,M,18-24', 'Comedy,Long,90s,M,18-24', 'Comedy,Long,90s,M,18-24', 'Comedy,Long,90s,M', 'Comedy,Long,90s,M', 'Comedy,Long,90s,M', 'Comedy,Long,90s,M,18-24', 'Comedy,Long,90s,M,18-24', 'Comedy,Long,90s,M,18-24', 'Comedy,Long,90s,M,18-24', 'Comedy,Long,90s,M,18-24', 'Comedy,Long,90s,M,18-24', 'Comedy,Long,90s,F', 'Comedy,Long,90s,F', 'Comedy,Long,90s,F', 'Comedy,Long,90s,F,18-24', 'Comedy,Long,90s,F,18-24', 'Comedy,Long,90s,F,18-24', 'Comedy,Long,90s,F,18-24', 'Comedy,Long,90s,F,18-24', 'Comedy,Long,90s,F,18-24', 'Comedy,Long,90s,M,25-34', 'Comedy,Long,90s,M,25-34', 'Comedy,Long,90s,M,25-34', 'Comedy,Long,90s,M,25-34,CA', 'Comedy,Long,90s,M,25-34,CA', 'Comedy,Long,90s,M,25-34,CA', 'Comedy,Long,90s,M,25-34', 'Comedy,Long,90s,M,25-34', 'Comedy,Long,90s,M,25-34', 'Comedy,Long,90s,M,25-34,CA', 'Comedy,Long,90s,M,25-34,CA', 'Comedy,Long,90s,M,25-34,CA', 'Comedy,Long,90s,M,25-34', 'Comedy,Long,90s,M,25-34', 'Comedy,Long,90s,M,25-34', 'Comedy,Long,90s,M,25-34,CA', 'Comedy,Long,90s,M,25-34,CA', 'Comedy,Long,90s,M,25-34,CA', 'Comedy,Long,90s,M,25-34', 'Comedy,Long,90s,M,25-34', 'Comedy,Long,90s,M,25-34', 'Comedy,Long,90s,M,25-34,CA', 'Comedy,Long,90s,M,25-34,CA', 'Comedy,Long,90s,M,25-34,CA', 'Comedy,Long,90s,M,25-34', 'Comedy,Long,90s,M,25-34', 'Comedy,Long,90s,M,25-34', 'Comedy,Long,90s,M,25-34,CA', 'Comedy,Long,90s,M,25-34,CA', 'Comedy,Long,90s,M,25-34,CA', 'Comedy,Long,90s,M,25-34', 'Comedy,Long,90s,M,25-34', 'Comedy,Long,90s,M,25-34', 'Comedy,Long,90s,M,25-34,CA', 'Comedy,Long,90s,M,25-34,CA', 'Comedy,Long,90s,M,25-34,CA', 'Comedy,Long,90s,M,25-34', 'Comedy,Long,90s,M,25-34', 'Comedy,Long,90s,M,25-34', 'Comedy,Long,90s,M,25-34,CA', 'Comedy,Long,90s,M,25-34,CA', 'Comedy,Long,90s,M,25-34,CA', 'Comedy,Long,90s,M,25-34', 'Comedy,Long,90s,M,25-34', 'Comedy,Long,90s,M,25-34']
user_counts = [6031, 6030, 30, 34, 5903, 30, 20, 1665, 4238, 33, 76, 33, 4238, 53, 20, 23, 800, 144, 1514, 368, 35, 74, 35, 74, 368, 144, 1514, 800, 74, 368, 35, 35, 368, 74, 800, 144, 1514, 74, 368, 35, 74, 368, 35, 144, 800, 1514, 368, 74, 35, 368, 74, 35, 296, 549, 77, 162, 20, 21, 20, 162, 22, 104, 88, 289, 32, 47, 25, 88, 104, 289, 25, 32, 47, 104, 289, 88, 32, 25, 47, 88, 289, 104, 25, 32, 47, 104, 88, 289, 32, 25, 47, 104, 88, 289, 25, 32, 47, 289, 104, 88, 47, 25, 32, 88, 289, 104]

def get_opacity(user_count):
    max_opacity = 1
    min_opacity = 0.15
    total_users = 6040
    opacity_step = (max_opacity - min_opacity) / total_users
    return user_count * opacity_step + min_opacity

fig =go.Figure(go.Sunburst(
    ids=ids[:16],
    labels=labels[:16],
    parents=parents[:15],
    #values=[6031, 5907, 5903, 4238, 800, 1665, 296, 828, 549, 1514, 289, 83, 72, 38, ],
    marker=dict(colors=[hex_to_rgba(hex, get_opacity(user_count)) if hex != '' else '' for hex, user_count in zip(color_sequence, user_counts)])
))
fig.update_layout(margin = dict(t=0, l=0, r=0, b=0))

fig.update_traces(leaf=dict(opacity = 1))

fig.show()

In [208]:
(1 - .15) / 6040

0.00014072847682119205

In [213]:
6040 * 0.00014072847682119205 + .15

1.0

In [202]:
[hex_to_rgba(hex, max(user_count/6040, 0.4)) if hex != '' else '' for hex, user_count in zip(color_sequence, user_counts)]

['',
 'rgba(99, 110, 250, 0.9779801324503311)',
 'rgba(99, 110, 250, 0.4)',
 'rgba(99, 110, 250, 0.4)',
 'rgba(99, 110, 250, 0.9773178807947019)',
 'rgba(99, 110, 250, 0.4)',
 'rgba(99, 110, 250, 0.4)',
 'rgba(99, 110, 250, 0.4)',
 'rgba(99, 110, 250, 0.7016556291390729)',
 'rgba(99, 110, 250, 0.4)',
 'rgba(99, 110, 250, 0.4)',
 'rgba(99, 110, 250, 0.4)',
 'rgba(99, 110, 250, 0.4)',
 'rgba(99, 110, 250, 0.4)',
 'rgba(99, 110, 250, 0.4)',
 'rgba(99, 110, 250, 0.4)',
 'rgba(99, 110, 250, 0.4)',
 'rgba(99, 110, 250, 0.4)',
 'rgba(99, 110, 250, 0.4)',
 'rgba(99, 110, 250, 0.4)',
 'rgba(99, 110, 250, 0.4)',
 'rgba(99, 110, 250, 0.4)',
 'rgba(99, 110, 250, 0.4)',
 'rgba(99, 110, 250, 0.4)',
 'rgba(99, 110, 250, 0.4)',
 'rgba(99, 110, 250, 0.4)',
 'rgba(99, 110, 250, 0.4)',
 'rgba(99, 110, 250, 0.4)',
 'rgba(99, 110, 250, 0.4)',
 'rgba(99, 110, 250, 0.4)',
 'rgba(99, 110, 250, 0.4)',
 'rgba(99, 110, 250, 0.4)',
 'rgba(99, 110, 250, 0.4)',
 'rgba(99, 110, 250, 0.4)',
 'rgba(99, 110, 250, 0.4)',
 'rgba(99, 110, 250, 0.4)',
 'rgba(99, 110, 250, 0.4)',
 'rgba(99, 110, 250, 0.4)',
 'rgba(99, 110, 250, 0.4)',
 'rgba(99, 110, 250, 0.4)',
 'rgba(99, 110, 250, 0.4)',
 'rgba(99, 110, 250, 0.4)',
 'rgba(99, 110, 250, 0.4)',
 'rgba(99, 110, 250, 0.4)',
 'rgba(99, 110, 250, 0.4)',
 'rgba(99, 110, 250, 0.4)',
 'rgba(99, 110, 250, 0.4)',
 'rgba(99, 110, 250, 0.4)',
 'rgba(99, 110, 250, 0.4)',
 'rgba(99, 110, 250, 0.4)',
 'rgba(99, 110, 250, 0.4)',
 'rgba(99, 110, 250, 0.4)',
 'rgba(99, 110, 250, 0.4)',
 'rgba(99, 110, 250, 0.4)',
 'rgba(99, 110, 250, 0.4)',
 'rgba(99, 110, 250, 0.4)',
 'rgba(99, 110, 250, 0.4)',
 'rgba(99, 110, 250, 0.4)',
 'rgba(99, 110, 250, 0.4)',
 'rgba(99, 110, 250, 0.4)',
 'rgba(99, 110, 250, 0.4)',
 'rgba(99, 110, 250, 0.4)',
 'rgba(99, 110, 250, 0.4)',
 'rgba(99, 110, 250, 0.4)',
 'rgba(99, 110, 250, 0.4)',
 'rgba(99, 110, 250, 0.4)',
 'rgba(99, 110, 250, 0.4)',
 'rgba(99, 110, 250, 0.4)',
 'rgba(99, 110, 250, 0.4)',
 'rgba(99, 110, 250, 0.4)',
 'rgba(99, 110, 250, 0.4)',
 'rgba(99, 110, 250, 0.4)',
 'rgba(99, 110, 250, 0.4)',
 'rgba(99, 110, 250, 0.4)',
 'rgba(99, 110, 250, 0.4)',
 'rgba(99, 110, 250, 0.4)',
 'rgba(99, 110, 250, 0.4)',
 'rgba(99, 110, 250, 0.4)',
 'rgba(99, 110, 250, 0.4)',
 'rgba(99, 110, 250, 0.4)',
 'rgba(99, 110, 250, 0.4)',
 'rgba(99, 110, 250, 0.4)',
 'rgba(99, 110, 250, 0.4)',
 'rgba(99, 110, 250, 0.4)',
 'rgba(99, 110, 250, 0.4)',
 'rgba(99, 110, 250, 0.4)',
 'rgba(239, 85, 59, 0.4)',
 'rgba(239, 85, 59, 0.4)',
 'rgba(239, 85, 59, 0.4)',
 'rgba(239, 85, 59, 0.4)',
 'rgba(239, 85, 59, 0.4)',
 'rgba(239, 85, 59, 0.4)',
 'rgba(239, 85, 59, 0.4)',
 'rgba(239, 85, 59, 0.4)']

In [195]:
ImageColor.getcolor("#23a9dd", "RGB")

(35, 169, 221)

In [147]:
[hex_to_rgb(hex) if hex != '' else '' for hex in color_sequence ]

['',
 (99, 110, 250),
 (99, 110, 250),
 (99, 110, 250),
 (99, 110, 250),
 (99, 110, 250),
 (99, 110, 250),
 (99, 110, 250),
 (99, 110, 250),
 (99, 110, 250),
 (99, 110, 250),
 (99, 110, 250),
 (99, 110, 250),
 (99, 110, 250),
 (99, 110, 250),
 (99, 110, 250),
 (99, 110, 250),
 (99, 110, 250),
 (99, 110, 250),
 (99, 110, 250),
 (99, 110, 250),
 (99, 110, 250),
 (99, 110, 250),
 (99, 110, 250),
 (99, 110, 250),
 (99, 110, 250),
 (99, 110, 250),
 (99, 110, 250),
 (99, 110, 250),
 (99, 110, 250),
 (99, 110, 250),
 (99, 110, 250),
 (99, 110, 250),
 (99, 110, 250),
 (99, 110, 250),
 (99, 110, 250),
 (99, 110, 250),
 (99, 110, 250),
 (99, 110, 250),
 (99, 110, 250),
 (99, 110, 250),
 (99, 110, 250),
 (99, 110, 250),
 (99, 110, 250),
 (99, 110, 250),
 (99, 110, 250),
 (99, 110, 250),
 (99, 110, 250),
 (99, 110, 250),
 (99, 110, 250),
 (99, 110, 250),
 (99, 110, 250),
 (99, 110, 250),
 (99, 110, 250),
 (99, 110, 250),
 (99, 110, 250),
 (99, 110, 250),
 (99, 110, 250),
 (99, 110, 250),
 (99, 110, 250),
 (99, 110, 250),
 (99, 110, 250),
 (99, 110, 250),
 (99, 110, 250),
 (99, 110, 250),
 (99, 110, 250),
 (99, 110, 250),
 (99, 110, 250),
 (99, 110, 250),
 (99, 110, 250),
 (99, 110, 250),
 (99, 110, 250),
 (99, 110, 250),
 (99, 110, 250),
 (99, 110, 250),
 (99, 110, 250),
 (99, 110, 250),
 (99, 110, 250),
 (99, 110, 250),
 (99, 110, 250),
 (99, 110, 250),
 (99, 110, 250),
 (99, 110, 250),
 (99, 110, 250),
 (99, 110, 250),
 (99, 110, 250),
 (239, 85, 59),
 (239, 85, 59),
 (239, 85, 59),
 (239, 85, 59),
 (239, 85, 59),
 (239, 85, 59),
 (239, 85, 59),
 (239, 85, 59)]

In [64]:
ids = ['Comedy', 'Comedy,90s', 'Comedy,AZ', 'Comedy,unemployed', 'Comedy,90s,LA', 'Comedy,90s,KS', 'Comedy,90s,Long', 'Comedy,90s,Long,F', 'Comedy,90s,Long,M', 'Comedy,90s,Long,LA', 'Comedy,90s,Long,M,35-44', 'Comedy,90s,Long,M,25-34', 'Comedy,90s,Long,M,18-24', 'Comedy,90s,Long,M,18-24,other', 'Comedy,90s,Long,M,18-24,writer', 'Comedy,90s,Long,M,18-24,college-grad student', 'Comedy,90s,Long,F,25-34', 'Comedy,90s,Long,F,18-24', 'Comedy,90s,Long,F,NJ', 'Comedy,90s,Long,F,18-24,MN', 'Comedy,90s,Long,F,18-24,MI', 'Comedy,90s,Long,F,18-24,college-grad student', 'Comedy,90s,Long,M,35-44,executive-managerial', 'Comedy,90s,Long,M,35-44,technician-engineer', 'Comedy,90s,Long,M,35-44,academic-educator', 'Comedy,90s,Long,F,25-34,CA', 'Comedy,90s,Long,F,25-34,TX', 'Comedy,90s,Long,F,25-34,NY', 'Comedy,90s,Long,M,25-34,MN', 'Comedy,90s,Long,M,25-34,CA', 'Comedy,90s,Long,M,25-34,NY', 'Comedy,90s,Long,M,25-34,CA,writer', 'Comedy,90s,Long,M,25-34,CA,technician-engineer', 'Comedy,90s,Long,M,25-34,CA,other', 'Comedy,90s,Long,M,18-24,college-grad student,MN', 'Comedy,90s,Long,M,18-24,college-grad student,NY', 'Comedy,90s,Long,M,18-24,college-grad student,MA', 'Comedy,unemployed,18-24', 'Comedy,unemployed,2000s', 'Comedy,unemployed,Long', 'Comedy,unemployed,Long,18-24', 'Comedy,unemployed,Long,90s', 'Comedy,unemployed,Long,2000s', 'Comedy,AZ,90s', 'Comedy,AZ,M', 'Comedy,AZ,Long', 'Comedy,AZ,M,25-34', 'Comedy,AZ,M,2000s', 'Comedy,AZ,M,Long', 'Comedy,AZ,M,Long,90s', 'Comedy,AZ,M,Long,25-34', 'Comedy,AZ,M,Long,2000s', 'Comedy,AZ,90s,M', 'Comedy,AZ,90s,Long', 'Comedy,AZ,90s,25-34', 'Comedy,AZ,Long,M', 'Comedy,AZ,Long,2000s', 'Comedy,AZ,Long,90s', 'Comedy,AZ,Long,M,90s', 'Comedy,AZ,Long,M,2000s', 'Comedy,AZ,Long,M,25-34', 'Comedy,AZ,90s,M,25-34', 'Comedy,AZ,90s,M,Long', 'Comedy,unemployed,Long,90s,18-24', 'Comedy,unemployed,Long,90s,M', 'Comedy,AZ,90s,Long,25-34', 'Comedy,AZ,90s,Long,M', 'Comedy,AZ,Long,90s,M', 'Comedy,AZ,Long,90s,25-34', 'Comedy,unemployed,18-24,Long', 'Comedy,unemployed,18-24,M', 'Comedy,unemployed,18-24,90s', 'Comedy,AZ,90s,25-34,Long', 'Comedy,AZ,90s,25-34,M', 'Comedy,unemployed,2000s,M', 'Comedy,unemployed,2000s,Long', 'Comedy,90s,KS,M', 'Comedy,90s,KS,Long', 'Comedy,unemployed,18-24,90s,M', 'Comedy,unemployed,18-24,90s,Long', 'Comedy,unemployed,Long,18-24,M', 'Comedy,unemployed,Long,18-24,90s', 'Comedy,unemployed,18-24,Long,90s', 'Comedy,unemployed,18-24,Long,M', 'Comedy,90s,LA,M', 'Comedy,90s,LA,Long', 'Comedy,unemployed,2000s,M,Long', 'Comedy,AZ,M,2000s,Long', 'Comedy,unemployed,18-24,90s,M,Long']
labels = ['Comedy', '90s', 'AZ', 'unemployed', 'LA', 'KS', 'Long', 'F', 'M', 'LA', '35-44', '25-34', '18-24', 'other', 'writer', 'college-grad student', '25-34', '18-24', 'NJ', 'MN', 'MI', 'college-grad student', 'executive-managerial', 'technician-engineer', 'academic-educator', 'CA', 'TX', 'NY', 'MN', 'CA', 'NY', 'writer', 'technician-engineer', 'other', 'MN', 'NY', 'MA', '18-24', '2000s', 'Long', '18-24', '90s', '2000s', '90s', 'M', 'Long', '25-34', '2000s', 'Long', '90s', '25-34', '2000s', 'M', 'Long', '25-34', 'M', '2000s', '90s', '90s', '2000s', '25-34', '25-34', 'Long', '18-24', 'M', '25-34', 'M', 'M', '25-34', 'Long', 'M', '90s', 'Long', 'M', 'M', 'Long', 'M', 'Long', 'M', 'Long', 'M', '90s', '90s', 'M', 'M', 'Long', 'Long', 'Long', 'Long']
parents = ['', 'Comedy', 'Comedy', 'Comedy', 'Comedy,90s', 'Comedy,90s', 'Comedy,90s', 'Comedy,90s,Long', 'Comedy,90s,Long', 'Comedy,90s,Long', 'Comedy,90s,Long,M', 'Comedy,90s,Long,M', 'Comedy,90s,Long,M', 'Comedy,90s,Long,M,18-24', 'Comedy,90s,Long,M,18-24', 'Comedy,90s,Long,M,18-24', 'Comedy,90s,Long,F', 'Comedy,90s,Long,F', 'Comedy,90s,Long,F', 'Comedy,90s,Long,F,18-24', 'Comedy,90s,Long,F,18-24', 'Comedy,90s,Long,F,18-24', 'Comedy,90s,Long,M,35-44', 'Comedy,90s,Long,M,35-44', 'Comedy,90s,Long,M,35-44', 'Comedy,90s,Long,F,25-34', 'Comedy,90s,Long,F,25-34', 'Comedy,90s,Long,F,25-34', 'Comedy,90s,Long,M,25-34', 'Comedy,90s,Long,M,25-34', 'Comedy,90s,Long,M,25-34', 'Comedy,90s,Long,M,25-34,CA', 'Comedy,90s,Long,M,25-34,CA', 'Comedy,90s,Long,M,25-34,CA', 'Comedy,90s,Long,M,18-24,college-grad student', 'Comedy,90s,Long,M,18-24,college-grad student', 'Comedy,90s,Long,M,18-24,college-grad student', 'Comedy,unemployed', 'Comedy,unemployed', 'Comedy,unemployed', 'Comedy,unemployed,Long', 'Comedy,unemployed,Long', 'Comedy,unemployed,Long', 'Comedy,AZ', 'Comedy,AZ', 'Comedy,AZ', 'Comedy,AZ,M', 'Comedy,AZ,M', 'Comedy,AZ,M', 'Comedy,AZ,M,Long', 'Comedy,AZ,M,Long', 'Comedy,AZ,M,Long', 'Comedy,AZ,90s', 'Comedy,AZ,90s', 'Comedy,AZ,90s', 'Comedy,AZ,Long', 'Comedy,AZ,Long', 'Comedy,AZ,Long', 'Comedy,AZ,Long,M', 'Comedy,AZ,Long,M', 'Comedy,AZ,Long,M', 'Comedy,AZ,90s,M', 'Comedy,AZ,90s,M', 'Comedy,unemployed,Long,90s', 'Comedy,unemployed,Long,90s', 'Comedy,AZ,90s,Long', 'Comedy,AZ,90s,Long', 'Comedy,AZ,Long,90s', 'Comedy,AZ,Long,90s', 'Comedy,unemployed,18-24', 'Comedy,unemployed,18-24', 'Comedy,unemployed,18-24', 'Comedy,AZ,90s,25-34', 'Comedy,AZ,90s,25-34', 'Comedy,unemployed,2000s', 'Comedy,unemployed,2000s', 'Comedy,90s,KS', 'Comedy,90s,KS', 'Comedy,unemployed,18-24,90s', 'Comedy,unemployed,18-24,90s', 'Comedy,unemployed,Long,18-24', 'Comedy,unemployed,Long,18-24', 'Comedy,unemployed,18-24,Long', 'Comedy,unemployed,18-24,Long', 'Comedy,90s,LA', 'Comedy,90s,LA', 'Comedy,unemployed,2000s,M', 'Comedy,AZ,M,2000s', 'Comedy,unemployed,18-24,90s,M']

import plotly.graph_objects as go

color_discrete_sequence = ['', '#FFAA00', '#2D5F91','#819FBD','#819FBD','#91D4D2', '#96BEE6', '#C0D8F0','#E8655F','#F1A39F','#48B7B4']
color_discrete_sequence = [''] + list(sns.color_palette().as_hex())

fig =go.Figure(go.Sunburst(
    ids=ids,
    labels=labels,
    parents=parents,
    #values=[6031, 5907, 5903, 4238, 800, 1665, 296, 828, 549, 1514, 289, 83, 72, 38, ],
    # marker=dict(colors=color_discrete_sequence)
))
fig.update_layout(margin = dict(t=0, l=0, r=0, b=0))

fig.show()

In [65]:
ids = ['Comedy', 'Comedy,Short', 'Comedy,30s', 'Comedy,30s,retired', 'Comedy,30s,PA', 'Comedy,30s,Long', 'Comedy,30s,Long,retired', 'Comedy,30s,Long,M', 'Comedy,30s,Long,F', 'Comedy,Short,TX', 'Comedy,Short,NC', 'Comedy,Short,90s', 'Comedy,Short,90s,M', 'Comedy,Short,90s,PA', 'Comedy,Short,90s,F', 'Comedy,Short,90s,M,35-44', 'Comedy,Short,90s,M,18-24', 'Comedy,Short,90s,M,25-34', 'Comedy,Short,90s,F,18-24', 'Comedy,Short,90s,F,25-34', 'Comedy,Short,90s,F,35-44', 'Comedy,30s,Long,M,35-44', 'Comedy,30s,Long,M,50-55', 'Comedy,30s,Long,M,45-49', 'Comedy,30s,Long,F,25-34', 'Comedy,30s,Long,F,>56', 'Comedy,30s,Long,F,50-55', 'Comedy,Short,90s,M,25-34,CA', 'Comedy,Short,90s,M,25-34,MA', 'Comedy,Short,90s,M,25-34,MN', 'Comedy,30s,Long,M,35-44,executive-managerial', 'Comedy,30s,Long,M,35-44,CA', 'Comedy,30s,Long,M,35-44,NY', 'Comedy,Short,90s,M,18-24,college-grad student', 'Comedy,Short,90s,M,18-24,CA', 'Comedy,Short,TX,M', 'Comedy,Short,TX,90s', 'Comedy,30s,retired,>56', 'Comedy,30s,retired,Long', 'Comedy,30s,retired,Long,>56', 'Comedy,30s,retired,Long,M', 'Comedy,30s,PA,M', 'Comedy,30s,PA,Long', 'Comedy,30s,PA,M,Long', 'Comedy,30s,retired,>56,Long', 'Comedy,Short,NC,90s', 'Comedy,Short,TX,M,90s', 'Comedy,30s,PA,Long,M', 'Comedy,30s,Long,retired,>56', 'Comedy,Short,TX,90s,M', 'Comedy,Short,90s,F,18-24,college-grad student', 'Comedy,Short,90s,F,25-34,CA', 'Comedy,30s,Long,F,25-34,CA', 'Comedy,Short,90s,M,35-44,technician-engineer']
labels = ['Comedy', 'Short', '30s', 'retired', 'PA', 'Long', 'retired', 'M', 'F', 'TX', 'NC', '90s', 'M', 'PA', 'F', '35-44', '18-24', '25-34', '18-24', '25-34', '35-44', '35-44', '50-55', '45-49', '25-34', '>56', '50-55', 'CA', 'MA', 'MN', 'executive-managerial', 'CA', 'NY', 'college-grad student', 'CA', 'M', '90s', '>56', 'Long', '>56', 'M', 'M', 'Long', 'Long', 'Long', '90s', '90s', 'M', '>56', 'M', 'college-grad student', 'CA', 'CA', 'technician-engineer']
parents = ['', 'Comedy', 'Comedy', 'Comedy,30s', 'Comedy,30s', 'Comedy,30s', 'Comedy,30s,Long', 'Comedy,30s,Long', 'Comedy,30s,Long', 'Comedy,Short', 'Comedy,Short', 'Comedy,Short', 'Comedy,Short,90s', 'Comedy,Short,90s', 'Comedy,Short,90s', 'Comedy,Short,90s,M', 'Comedy,Short,90s,M', 'Comedy,Short,90s,M', 'Comedy,Short,90s,F', 'Comedy,Short,90s,F', 'Comedy,Short,90s,F', 'Comedy,30s,Long,M', 'Comedy,30s,Long,M', 'Comedy,30s,Long,M', 'Comedy,30s,Long,F', 'Comedy,30s,Long,F', 'Comedy,30s,Long,F', 'Comedy,Short,90s,M,25-34', 'Comedy,Short,90s,M,25-34', 'Comedy,Short,90s,M,25-34', 'Comedy,30s,Long,M,35-44', 'Comedy,30s,Long,M,35-44', 'Comedy,30s,Long,M,35-44', 'Comedy,Short,90s,M,18-24', 'Comedy,Short,90s,M,18-24', 'Comedy,Short,TX', 'Comedy,Short,TX', 'Comedy,30s,retired', 'Comedy,30s,retired', 'Comedy,30s,retired,Long', 'Comedy,30s,retired,Long', 'Comedy,30s,PA', 'Comedy,30s,PA', 'Comedy,30s,PA,M', 'Comedy,30s,retired,>56', 'Comedy,Short,NC', 'Comedy,Short,TX,M', 'Comedy,30s,PA,Long', 'Comedy,30s,Long,retired', 'Comedy,Short,TX,90s', 'Comedy,Short,90s,F,18-24', 'Comedy,Short,90s,F,25-34', 'Comedy,30s,Long,F,25-34', 'Comedy,Short,90s,M,35-44']

import plotly.graph_objects as go

color_discrete_sequence = ['', '#FFAA00', '#2D5F91','#819FBD','#819FBD','#91D4D2', '#96BEE6', '#C0D8F0','#E8655F','#F1A39F','#48B7B4']
color_discrete_sequence = [''] + list(sns.color_palette().as_hex())

fig =go.Figure(go.Sunburst(
    ids=ids,
    labels=labels,
    parents=parents,
    #values=[6031, 5907, 5903, 4238, 800, 1665, 296, 828, 549, 1514, 289, 83, 72, 38, ],
    # marker=dict(colors=color_discrete_sequence)
))
fig.update_layout(margin = dict(t=0, l=0, r=0, b=0))

fig.show()

In [67]:
ids = ['H', 'Comedy', 'Comedy,Short', 'Comedy,30s', 'Comedy,30s,retired', 'Comedy,30s,PA', 'Comedy,30s,Long', 'Comedy,30s,Long,retired', 'Comedy,30s,Long,M', 'Comedy,30s,Long,F', 'Comedy,Short,TX', 'Comedy,Short,NC', 'Comedy,Short,90s', 'Comedy,Short,90s,M', 'Comedy,Short,90s,PA', 'Comedy,Short,90s,F', 'Comedy,Short,90s,M,35-44', 'Comedy,Short,90s,M,18-24', 'Comedy,Short,90s,M,25-34', 'Comedy,Short,90s,F,18-24', 'Comedy,Short,90s,F,25-34', 'Comedy,Short,90s,F,35-44', 'Comedy,30s,Long,M,35-44', 'Comedy,30s,Long,M,50-55', 'Comedy,30s,Long,M,45-49', 'Comedy,30s,Long,F,25-34', 'Comedy,30s,Long,F,>56', 'Comedy,30s,Long,F,50-55', 'Comedy,Short,90s,M,25-34,CA', 'Comedy,Short,90s,M,25-34,MA', 'Comedy,Short,90s,M,25-34,MN', 'Comedy,30s,Long,M,35-44,executive-managerial', 'Comedy,30s,Long,M,35-44,CA', 'Comedy,30s,Long,M,35-44,NY', 'Comedy,Short,90s,M,18-24,college-grad student', 'Comedy,Short,90s,M,18-24,CA', 'Comedy,Short,TX,M', 'Comedy,Short,TX,90s', 'Comedy,30s,retired,>56', 'Comedy,30s,retired,Long', 'Comedy,30s,retired,Long,>56', 'Comedy,30s,retired,Long,M', 'Comedy,30s,PA,M', 'Comedy,30s,PA,Long', 'Comedy,30s,PA,M,Long', 'Comedy,30s,retired,>56,Long', 'Comedy,Short,NC,90s', 'Comedy,Short,TX,M,90s', 'Comedy,30s,PA,Long,M', 'Comedy,30s,Long,retired,>56', 'Comedy,Short,TX,90s,M', 'Comedy,Short,90s,F,18-24,college-grad student', 'Comedy,Short,90s,F,25-34,CA', 'Comedy,30s,Long,F,25-34,CA', 'Comedy,Short,90s,M,35-44,technician-engineer']
labels = ['μ > 4', 'Comedy', 'Short', '30s', 'retired', 'PA', 'Long', 'retired', 'M', 'F', 'TX', 'NC', '90s', 'M', 'PA', 'F', '35-44', '18-24', '25-34', '18-24', '25-34', '35-44', '35-44', '50-55', '45-49', '25-34', '>56', '50-55', 'CA', 'MA', 'MN', 'executive-managerial', 'CA', 'NY', 'college-grad student', 'CA', 'M', '90s', '>56', 'Long', '>56', 'M', 'M', 'Long', 'Long', 'Long', '90s', '90s', 'M', '>56', 'M', 'college-grad student', 'CA', 'CA', 'technician-engineer']
parents = ['', 'H', 'Comedy', 'Comedy', 'Comedy,30s', 'Comedy,30s', 'Comedy,30s', 'Comedy,30s,Long', 'Comedy,30s,Long', 'Comedy,30s,Long', 'Comedy,Short', 'Comedy,Short', 'Comedy,Short', 'Comedy,Short,90s', 'Comedy,Short,90s', 'Comedy,Short,90s', 'Comedy,Short,90s,M', 'Comedy,Short,90s,M', 'Comedy,Short,90s,M', 'Comedy,Short,90s,F', 'Comedy,Short,90s,F', 'Comedy,Short,90s,F', 'Comedy,30s,Long,M', 'Comedy,30s,Long,M', 'Comedy,30s,Long,M', 'Comedy,30s,Long,F', 'Comedy,30s,Long,F', 'Comedy,30s,Long,F', 'Comedy,Short,90s,M,25-34', 'Comedy,Short,90s,M,25-34', 'Comedy,Short,90s,M,25-34', 'Comedy,30s,Long,M,35-44', 'Comedy,30s,Long,M,35-44', 'Comedy,30s,Long,M,35-44', 'Comedy,Short,90s,M,18-24', 'Comedy,Short,90s,M,18-24', 'Comedy,Short,TX', 'Comedy,Short,TX', 'Comedy,30s,retired', 'Comedy,30s,retired', 'Comedy,30s,retired,Long', 'Comedy,30s,retired,Long', 'Comedy,30s,PA', 'Comedy,30s,PA', 'Comedy,30s,PA,M', 'Comedy,30s,retired,>56', 'Comedy,Short,NC', 'Comedy,Short,TX,M', 'Comedy,30s,PA,Long', 'Comedy,30s,Long,retired', 'Comedy,Short,TX,90s', 'Comedy,Short,90s,F,18-24', 'Comedy,Short,90s,F,25-34', 'Comedy,30s,Long,F,25-34', 'Comedy,Short,90s,M,35-44']

import plotly.graph_objects as go

color_discrete_sequence = ['', '#FFAA00', '#2D5F91','#819FBD','#819FBD','#91D4D2', '#96BEE6', '#C0D8F0','#E8655F','#F1A39F','#48B7B4']
color_discrete_sequence = [''] + list(sns.color_palette().as_hex())

fig =go.Figure(go.Sunburst(
    ids=ids,
    labels=labels,
    parents=parents,
    #values=[6031, 5907, 5903, 4238, 800, 1665, 296, 828, 549, 1514, 289, 83, 72, 38, ],
    # marker=dict(colors=color_discrete_sequence)
))
fig.update_layout(margin = dict(t=0, l=0, r=0, b=0))

fig.show()

In [138]:
ids = ['H', 'Comedy', 'Comedy,30s', 'Comedy,Short', 'Comedy,30s,clerical-admin', 'Comedy,30s,Long', 'Comedy,30s,PA', 'Comedy,30s,Long,retired', 'Comedy,30s,Long,F', 'Comedy,30s,Long,M', 'Comedy,Short,OR', 'Comedy,Short,90s', 'Comedy,Short,NC', 'Comedy,Short,90s,M', 'Comedy,Short,90s,PA', 'Comedy,Short,90s,F', 'Comedy,Short,90s,M,18-24', 'Comedy,Short,90s,M,35-44', 'Comedy,Short,90s,M,25-34', 'Comedy,Short,90s,F,35-44', 'Comedy,Short,90s,F,25-34', 'Comedy,Short,90s,F,18-24', 'Comedy,30s,Long,M,45-49', 'Comedy,30s,Long,M,35-44', 'Comedy,30s,Long,M,50-55', 'Comedy,30s,Long,F,>56', 'Comedy,30s,Long,F,25-34', 'Comedy,30s,Long,F,50-55', 'Comedy,Short,90s,M,25-34,CA', 'Comedy,Short,90s,M,25-34,MN', 'Comedy,Short,90s,M,25-34,MA', 'Comedy,30s,Long,M,35-44,NY', 'Comedy,30s,Long,M,35-44,CA', 'Comedy,30s,Long,M,35-44,executive-managerial', 'Comedy,Short,90s,M,18-24,CA', 'Comedy,Short,90s,M,18-24,college-grad student', 'Comedy,30s,clerical-admin,F', 'Comedy,30s,clerical-admin,Long', 'Comedy,Short,OR,90s', 'Comedy,Short,OR,M', 'Comedy,30s,PA,M', 'Comedy,30s,PA,Long', 'Comedy,30s,PA,M,Long', 'Comedy,30s,clerical-admin,F,Long', 'Comedy,Short,NC,90s', 'Comedy,Short,OR,M,90s', 'Comedy,30s,PA,Long,M', 'Comedy,30s,Long,retired,>56', 'Comedy,Short,OR,90s,M', 'Comedy,Short,90s,F,18-24,college-grad student', 'Comedy,30s,clerical-admin,Long,F', 'Comedy,Short,90s,F,25-34,CA', 'Comedy,30s,Long,F,25-34,CA', 'Comedy,Short,90s,M,35-44,technician-engineer']
labels = ['μ > 4', 'Comedy', '30s', 'Short', 'clerical-admin', 'Long', 'PA', 'retired', 'F', 'M', 'OR', '90s', 'NC', 'M', 'PA', 'F', '18-24', '35-44', '25-34', '35-44', '25-34', '18-24', '45-49', '35-44', '50-55', '>56', '25-34', '50-55', 'CA', 'MN', 'MA', 'NY', 'CA', 'executive-managerial', 'CA', 'college-grad student', 'F', 'Long', '90s', 'M', 'M', 'Long', 'Long', 'Long', '90s', '90s', 'M', '>56', 'M', 'college-grad student', 'F', 'CA', 'CA', 'technician-engineer']
color_sequence = ['#636EFA', '#00CC96', '#EF553B', '#19D3F3', '#EF553B', '#FF6692', '#19D3F3', '#AB63FA', '#AB63FA', '#FF6692', '#00CC96', '#FF6692', '#AB63FA', '#FF6692', '#AB63FA', '#FFA15A', '#FFA15A', '#FFA15A', '#FFA15A', '#FFA15A', '#FFA15A', '#FFA15A', '#FFA15A', '#FFA15A', '#FFA15A', '#FFA15A', '#FFA15A', '#FF6692', '#FF6692', '#FF6692', '#FF6692', '#FF6692', '#19D3F3', '#FF6692', '#19D3F3', '#AB63FA', '#EF553B', '#00CC96', '#AB63FA', '#AB63FA', '#EF553B', '#EF553B', '#EF553B', '#00CC96', '#00CC96', '#AB63FA', '#FFA15A', '#AB63FA', '#19D3F3', '#AB63FA', '#FF6692', '#FF6692', '#19D3F3']
parents = ['', 'H', 'Comedy', 'Comedy', 'Comedy,30s', 'Comedy,30s', 'Comedy,30s', 'Comedy,30s,Long', 'Comedy,30s,Long', 'Comedy,30s,Long', 'Comedy,Short', 'Comedy,Short', 'Comedy,Short', 'Comedy,Short,90s', 'Comedy,Short,90s', 'Comedy,Short,90s', 'Comedy,Short,90s,M', 'Comedy,Short,90s,M', 'Comedy,Short,90s,M', 'Comedy,Short,90s,F', 'Comedy,Short,90s,F', 'Comedy,Short,90s,F', 'Comedy,30s,Long,M', 'Comedy,30s,Long,M', 'Comedy,30s,Long,M', 'Comedy,30s,Long,F', 'Comedy,30s,Long,F', 'Comedy,30s,Long,F', 'Comedy,Short,90s,M,25-34', 'Comedy,Short,90s,M,25-34', 'Comedy,Short,90s,M,25-34', 'Comedy,30s,Long,M,35-44', 'Comedy,30s,Long,M,35-44', 'Comedy,30s,Long,M,35-44', 'Comedy,Short,90s,M,18-24', 'Comedy,Short,90s,M,18-24', 'Comedy,30s,clerical-admin', 'Comedy,30s,clerical-admin', 'Comedy,Short,OR', 'Comedy,Short,OR', 'Comedy,30s,PA', 'Comedy,30s,PA', 'Comedy,30s,PA,M', 'Comedy,30s,clerical-admin,F', 'Comedy,Short,NC', 'Comedy,Short,OR,M', 'Comedy,30s,PA,Long', 'Comedy,30s,Long,retired', 'Comedy,Short,OR,90s', 'Comedy,Short,90s,F,18-24', 'Comedy,30s,clerical-admin,Long', 'Comedy,Short,90s,F,25-34', 'Comedy,30s,Long,F,25-34', 'Comedy,Short,90s,M,35-44']
user_counts = [0, 6031, 1328, 1162, 47, 1328, 32, 31, 409, 919, 35, 982, 24, 716, 20, 266, 140, 151, 304, 62, 95, 54, 112, 231, 94, 27, 117, 45, 67, 26, 23, 23, 47, 41, 28, 64, 26, 47, 29, 25, 25, 32, 25, 26, 22, 21, 25, 24, 21, 32, 26, 32, 33, 25]
strength = [u/6040 for u in user_counts]

import plotly.graph_objects as go

color_discrete_sequence = ['', '#FFAA00', '#2D5F91','#819FBD','#819FBD','#91D4D2', '#96BEE6', '#C0D8F0','#E8655F','#F1A39F','#48B7B4']
color_discrete_sequence = [''] + list(sns.color_palette().as_hex())

fig =go.Figure(go.Sunburst(
    ids=ids,
    labels=labels,
    parents=parents,
    marker=dict(
        # size=16,
        cmax=6040,
        cmin=0,
        colors=user_counts,
        colorbar=dict(
            title="User count"
        ),
        colorscale="Plasma"
    ),
    #values=user_counts,
))
fig.update_layout(margin = dict(t=0, l=0, r=0, b=0))

fig.show()

In [124]:
import plotly.express as px
import numpy as np
df = px.data.gapminder().query("year == 2007")
fig = px.sunburst(df, path=['continent', 'country'], values='pop',
                  color='lifeExp', hover_data=['iso_alpha'],
                  color_continuous_scale='Plasma',
                  color_continuous_midpoint=np.average(df['lifeExp'], weights=df['pop']))
fig.show()

In [104]:
ids = ['H', 'Comedy', 'Comedy,30s', 'Comedy,Short', 'Comedy,30s,PA', 'Comedy,30s,Long', 'Comedy,30s,clerical-admin', 'Comedy,30s,Long,F', 'Comedy,30s,Long,M', 'Comedy,30s,Long,retired', 'Comedy,Short,OR', 'Comedy,Short,NC', 'Comedy,Short,90s', 'Comedy,Short,90s,PA', 'Comedy,Short,90s,M', 'Comedy,Short,90s,F', 'Comedy,Short,90s,M,25-34', 'Comedy,Short,90s,M,18-24', 'Comedy,Short,90s,M,35-44', 'Comedy,Short,90s,F,35-44', 'Comedy,Short,90s,F,18-24', 'Comedy,Short,90s,F,25-34', 'Comedy,30s,Long,M,45-49', 'Comedy,30s,Long,M,50-55', 'Comedy,30s,Long,M,35-44', 'Comedy,30s,Long,F,>56', 'Comedy,30s,Long,F,25-34', 'Comedy,30s,Long,F,50-55', 'Comedy,Short,90s,M,25-34,CA', 'Comedy,Short,90s,M,25-34,MA', 'Comedy,Short,90s,M,25-34,MN', 'Comedy,30s,Long,M,35-44,CA', 'Comedy,30s,Long,M,35-44,executive-managerial', 'Comedy,30s,Long,M,35-44,NY', 'Comedy,Short,90s,M,18-24,college-grad student', 'Comedy,Short,90s,M,18-24,CA', 'Comedy,30s,clerical-admin,Long', 'Comedy,30s,clerical-admin,F', 'Comedy,Short,OR,M', 'Comedy,Short,OR,90s', 'Comedy,30s,PA,M', 'Comedy,30s,PA,Long', 'Comedy,30s,PA,M,Long', 'Comedy,30s,clerical-admin,F,Long', 'Comedy,Short,NC,90s', 'Comedy,Short,OR,M,90s', 'Comedy,30s,PA,Long,M', 'Comedy,30s,Long,retired,>56', 'Comedy,Short,OR,90s,M', 'Comedy,Short,90s,F,18-24,college-grad student', 'Comedy,30s,clerical-admin,Long,F', 'Comedy,Short,90s,F,25-34,CA', 'Comedy,30s,Long,F,25-34,CA', 'Comedy,Short,90s,M,35-44,technician-engineer']
labels = ['μ > 4', 'Comedy', '30s', 'Short', 'PA', 'Long', 'clerical-admin', 'F', 'M', 'retired', 'OR', 'NC', '90s', 'PA', 'M', 'F', '25-34', '18-24', '35-44', '35-44', '18-24', '25-34', '45-49', '50-55', '35-44', '>56', '25-34', '50-55', 'CA', 'MA', 'MN', 'CA', 'executive-managerial', 'NY', 'college-grad student', 'CA', 'Long', 'F', 'M', '90s', 'M', 'Long', 'Long', 'Long', '90s', '90s', 'M', '>56', 'M', 'college-grad student', 'F', 'CA', 'CA', 'technician-engineer']
color_sequence = ['', '#636EFA', '#00CC96', '#EF553B', '#FF6692', '#EF553B', '#19D3F3', '#AB63FA', '#AB63FA', '#19D3F3', '#FF6692', '#FF6692', '#00CC96', '#FF6692', '#AB63FA', '#AB63FA', '#FFA15A', '#FFA15A', '#FFA15A', '#FFA15A', '#FFA15A', '#FFA15A', '#FFA15A', '#FFA15A', '#FFA15A', '#FFA15A', '#FFA15A', '#FFA15A', '#FF6692', '#FF6692', '#FF6692', '#FF6692', '#19D3F3', '#FF6692', '#19D3F3', '#FF6692', '#EF553B', '#AB63FA', '#AB63FA', '#00CC96', '#AB63FA', '#EF553B', '#EF553B', '#EF553B', '#00CC96', '#00CC96', '#AB63FA', '#FFA15A', '#AB63FA', '#19D3F3', '#AB63FA', '#FF6692', '#FF6692', '#19D3F3']
parents = ['', 'H', 'Comedy', 'Comedy', 'Comedy,30s', 'Comedy,30s', 'Comedy,30s', 'Comedy,30s,Long', 'Comedy,30s,Long', 'Comedy,30s,Long', 'Comedy,Short', 'Comedy,Short', 'Comedy,Short', 'Comedy,Short,90s', 'Comedy,Short,90s', 'Comedy,Short,90s', 'Comedy,Short,90s,M', 'Comedy,Short,90s,M', 'Comedy,Short,90s,M', 'Comedy,Short,90s,F', 'Comedy,Short,90s,F', 'Comedy,Short,90s,F', 'Comedy,30s,Long,M', 'Comedy,30s,Long,M', 'Comedy,30s,Long,M', 'Comedy,30s,Long,F', 'Comedy,30s,Long,F', 'Comedy,30s,Long,F', 'Comedy,Short,90s,M,25-34', 'Comedy,Short,90s,M,25-34', 'Comedy,Short,90s,M,25-34', 'Comedy,30s,Long,M,35-44', 'Comedy,30s,Long,M,35-44', 'Comedy,30s,Long,M,35-44', 'Comedy,Short,90s,M,18-24', 'Comedy,Short,90s,M,18-24', 'Comedy,30s,clerical-admin', 'Comedy,30s,clerical-admin', 'Comedy,Short,OR', 'Comedy,Short,OR', 'Comedy,30s,PA', 'Comedy,30s,PA', 'Comedy,30s,PA,M', 'Comedy,30s,clerical-admin,F', 'Comedy,Short,NC', 'Comedy,Short,OR,M', 'Comedy,30s,PA,Long', 'Comedy,30s,Long,retired', 'Comedy,Short,OR,90s', 'Comedy,Short,90s,F,18-24', 'Comedy,30s,clerical-admin,Long', 'Comedy,Short,90s,F,25-34', 'Comedy,30s,Long,F,25-34', 'Comedy,Short,90s,M,35-44']

import plotly.graph_objects as go

color_discrete_sequence = ['', '#FFAA00', '#2D5F91','#819FBD','#819FBD','#91D4D2', '#96BEE6', '#C0D8F0','#E8655F','#F1A39F','#48B7B4']
color_discrete_sequence = [''] + list(sns.color_palette().as_hex())

fig =go.Figure(go.Sunburst(
    ids=ids,
    labels=labels,
    parents=parents,
    #values=[6031, 5907, 5903, 4238, 800, 1665, 296, 828, 549, 1514, 289, 83, 72, 38, ],
    marker=dict(colors=color_sequence),
))
fig.update_layout(margin=dict(t=0, l=0, r=0, b=0))
fig.update_traces(leaf=dict(opacity = 1))




fig.show()

In [95]:
fig = go.Figure()

fig.add_trace(go.Scatter(
    x=[1, 2, 3, 4, 5],
    y=[1, 2, 3, 4, 5],
    name="Genre"
))

fig.add_trace(go.Scatter(
    x=[1, 2, 3, 4, 5],
    y=[5, 4, 3, 2, 1],
    name="Runtime minutes"
))

fig.add_trace(go.Scatter(
    x=[1, 2, 3, 4, 5],
    y=[5, 4, 3, 2, 1],
    name="Year"
))

fig.add_trace(go.Scatter(
    x=[1, 2, 3, 4, 5],
    y=[5, 4, 3, 2, 1],
    name="Gender"
))

fig.add_trace(go.Scatter(
    x=[1, 2, 3, 4, 5],
    y=[5, 4, 3, 2, 1],
    name="Age"
))

fig.add_trace(go.Scatter(
    x=[1, 2, 3, 4, 5],
    y=[5, 4, 3, 2, 1],
    name="Occupation"
))

fig.add_trace(go.Scatter(
    x=[1, 2, 3, 4, 5],
    y=[5, 4, 3, 2, 1],
    name="Location"
))

fig.update_layout(legend_title_text='Attribute')
fig.show()

In [72]:
import plotly
plotly.colors.qualitative.Plotly

['#636EFA',
 '#EF553B',
 '#00CC96',
 '#AB63FA',
 '#FFA15A',
 '#19D3F3',
 '#FF6692',
 '#B6E880',
 '#FF97FF',
 '#FECB52']

In [105]:
plotly.colors.sequential.Plasma

['#0d0887',
 '#46039f',
 '#7201a8',
 '#9c179e',
 '#bd3786',
 '#d8576b',
 '#ed7953',
 '#fb9f3a',
 '#fdca26',
 '#f0f921']

In [49]:
import seaborn as sns
sns.color_palette()

[(0.12156862745098039, 0.4666666666666667, 0.7058823529411765),
 (1.0, 0.4980392156862745, 0.054901960784313725),
 (0.17254901960784313, 0.6274509803921569, 0.17254901960784313),
 (0.8392156862745098, 0.15294117647058825, 0.1568627450980392),
 (0.5803921568627451, 0.403921568627451, 0.7411764705882353),
 (0.5490196078431373, 0.33725490196078434, 0.29411764705882354),
 (0.8901960784313725, 0.4666666666666667, 0.7607843137254902),
 (0.4980392156862745, 0.4980392156862745, 0.4980392156862745),
 (0.7372549019607844, 0.7411764705882353, 0.13333333333333333),
 (0.09019607843137255, 0.7450980392156863, 0.8117647058823529)]

In [53]:
list(sns.color_palette().as_hex())

['#1f77b4',
 '#ff7f0e',
 '#2ca02c',
 '#d62728',
 '#9467bd',
 '#8c564b',
 '#e377c2',
 '#7f7f7f',
 '#bcbd22',
 '#17becf']

In [27]:
import plotly.graph_objects as go

fig =go.Figure(go.Sunburst(
    ids=['Comedy'],
    labels=['Comedy'],
    parents=[''],
    #values=[6031, 5907, 5903, 4238, 800, 1665, 296, 828, 549, 1514, 289, 83, 72, 38, ],
    branchvalues="total",
))
fig.update_layout(margin = dict(t=0, l=0, r=0, b=0))
fig.update_traces(
    marker_colors=[
        ['red']
    ],
    leaf_opacity=1,
)

fig.show()

In [43]:
import plotly.graph_objects as go

fig =go.Figure(go.Sunburst(
    ids=['A', 'B', 'C'],
    labels=['A', 'B', 'C'],
    parents=['', 'A', 'A'],
    values=[100, 80, 20],
    branchvalues="total",
))
fig.update_layout(margin = dict(t=0, l=0, r=0, b=0))

fig.show()

In [34]:
import plotly.graph_objects as go

fig =go.Figure(go.Sunburst(
 ids=[
    "North America", "Europe", "Australia", "North America - Football", "Soccer",
    "North America - Rugby", "Europe - Football", "Rugby",
    "Europe - American Football","Australia - Football", "Association",
    "Australian Rules", "Autstralia - American Football", "Australia - Rugby",
    "Rugby League", "Rugby Union"
  ],
  labels= [
    "North<br>America", "Europe", "Australia", "Football", "Soccer", "Rugby",
    "Football", "Rugby", "American<br>Football", "Football", "Association",
    "Australian<br>Rules", "American<br>Football", "Rugby", "Rugby<br>League",
    "Rugby<br>Union"
  ],
  parents=[
    "", "", "", "North America", "North America", "North America", "Europe",
    "Europe", "Europe","Australia", "Australia - Football", "Australia - Football",
    "Australia - Football", "Australia - Football", "Australia - Rugby",
    "Australia - Rugby"
  ],
    values=[i for i in range(16, 0, -1)]
))
fig.update_layout(margin = dict(t=0, l=0, r=0, b=0))

fig.show()

In [31]:
len([
    "", "", "", "North America", "North America", "North America", "Europe",
    "Europe", "Europe","Australia", "Australia - Football", "Australia - Football",
    "Australia - Football", "Australia - Football", "Australia - Rugby",
    "Australia - Rugby"
  ])

16

In [33]:
[i for i in range(16, 0, -1)]

[16, 15, 14, 13, 12, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [4]:
df

     total_bill   tip     sex smoker   day    time  size
0         16.99  1.01  Female     No   Sun  Dinner     2
1         10.34  1.66    Male     No   Sun  Dinner     3
2         21.01  3.50    Male     No   Sun  Dinner     3
3         23.68  3.31    Male     No   Sun  Dinner     2
4         24.59  3.61  Female     No   Sun  Dinner     4
..          ...   ...     ...    ...   ...     ...   ...
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

[244 rows x 7 columns]